:root{ scrollbar-color: #38375580 #18173530 !important; }              /*Color de la barra de desplazamiento*/

:host, :root {                                                          /*Colores varios de paginas de about:addons y about:settings*/
    --checkbox-unchecked-hover-bgcolor: #4050ee !important;             /*color de los checkbox hover*/
    --checkbox-unchecked-active-bgcolor: #26264f !important;            /*color de los checkbox al darle clic*/
  
    --checkbox-checked-bgcolor: #1040bc !important;                     /*color de los checkbox con check*/
    --checkbox-checked-color: #fff !important;                          /*color de la palomita check*/
    --checkbox-checked-hover-bgcolor: #cc3535 !important;               /*color de los checkbox con check hover*/
  
    --in-content-primary-button-text-color: #192045 !important;         /*color de los radiobutton (circulo) con check*/
    --in-content-primary-button-background-hover: #1080ff !important;   /*color de los radiobutton (fondo) :hover*/  
    --in-content-primary-button-background-active: #3399f0 !important;  /*color de los radiobutton (clic) con check*/
                      
    --in-content-box-background-odd: #35355f !important;                /*color destinción entre filas de una tabla-atajos de busqueda*/
  
    --in-content-primary-button-background: #1050ff !important;         /*color de la label colorida y de enlaces*/

    --in-content-button-background-hover: #1050ff !important;           /*color de botones :hover*/
    --in-content-button-background-active: #1050ff !important;          /*color de botones al darle clic*/
  
    --in-content-link-color: #0099ff !important;                        /*color de links*/
    --in-content-link-color-hover: #00ccff !important;                     /*color de links*/
    --in-content-link-color-active:  #0099ff !important;                /*color de links*/
    --in-content-link-color-visited: #0099ff !important;                /*color de links*/
  
    --card-outline-color: #2d5d90 !important;                           /*Color de borde al pasar por elementos de addons*/
    
    --in-content-item-hover: #2d4db0 !important;                        /*Color de fondo al pasar por los items de un combobox"*/
    --in-content-item-hover-text: #ffffff !important;                   /*Color de label del item hover del combobox"*/
    --in-content-item-selected: #3d4df0 !important;                     /*Color de fondo al pasar por los items de un combobox (teclas de direccion)"*/
    --in-content-item-selected-text:  #ffffff !important;               /*Color de label al pasar por los items de un combobox (teclas de direccion)"*/
    
    --in-content-focus-outline-color: #3089ff !important;               /*color de focus de txt "buscar..."*/
}
@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home) {  
body {     
    --newtab-textbox-background-color: color-mix( in srgb, var(--newtab-background-color) 87%, black ) !important;            /*fondo de la barra de busqueda*/

    --newtab-topsites-background-color: #3c3d59aa !important;                                                                 /*fondo de sitios fijados*/
    --newtab-contextmenu-background-color: #262530 !important;                                                                /*contextual menu de tres puntos pinned*/

    --newtab-element-hover-color: linear-gradient(to right, #fa00ff90,#1293bd) !important;                                    /*color al pasar el mouse sobre los items del menú tres puntos*/
    --newtab-element-active-color: #4e6bfddd  !important;                                                                     /*Color al hacer clic en el menú contextual de 3 puntos*/

    --newtab-icon-primary-color:var(--newtab-background-primary-text-color) !important;                                       /*tres puntos hover*/ 
    --newtab-border-secondary-color: color-mix( in srgb, var(--newtab-background-color) 87%, black ) !important;              /*Linea separadora de items de menú contextual*/
    --newtab-section-header-text-color: var(--newtab-background-primary-text-color) !important;                               /*label principal al editar un sitio*/

    --newtab-card-background-color: color-mix( in srgb, var(--newtab-background-color) 77%, black )!important;                 /*fondo de actividad reciente*/
    --newtab-text-secondary-color: var(--newtab-background-primary-text-color) !important;                                     /*Label linea 1 de Actividad reciente*/
    --newtab-text-primary-color: var(--newtab-background-primary-text-color) !important;                                       /*label linea 2 de actividad reciente*/
       
    --newtab-modal-color:color-mix( in srgb, var(--newtab-background-color) 85%, #ffffff50 ) !important;                       /*fondo Al editar un sitio*/
    --newtab-overlay-color: color-mix( in srgb, var(--newtab-background-color) 95%, transparent ) !important;                  /*fondo de editar, transparente*/
    --newtab-textbox-border: var(--newtab-background-color) !important;                                                        /*contorno de txt al editar un sitio*/ 
  
    --customize-menu-seperator-line-color: color-mix(in srgb, var(--newtab-background-primary-text-color), var(--newtab-background-color) )!important;          /*Linea separadora en "personalizar"*/
    --newtab-button-primary-color: #1050ff !important;                  /*Color del botón "Guardar"*/
    --newtab-button-secondary-color: #f02020c0 !important;              /*color del botón "cancelar"*/
    --newtab-primary-action-background-off: #5f5f70 !important;         /*color radiobutton no activo*/
    --newtab-primary-action-background: #394fcc !important;             /*color radiobutton activo*/
    --newtab-border-primary-color: transparent !important;              /*borde del botón "Cancelar"*/
}

/*color de borde del radio-button en "Personalizar"*/
  .home-section .section .slider:hover {background: #454690 !important;}
    
/*Cuadro de busqueda eliminado*/
  .search-inner-wrapper{ display: none !important; }
  .outer-wrapper.newtab-experience .search-wrapper {padding-bottom: 0px !important;}
  
/*color de borde de botones "Guardar" y "Cancelar" :hover*/
.button:not(.dismiss), .button:focus:not(.dismiss), .actions button:hover:not(.dismiss), .actions button:focus:not(.dismiss) {
  box-shadow: 0 0 0 5px #1330Ff !important;}
     
/*Colores del botón "Perzonalizar"*/
.personalize-button ,  .customize-menu .close-button {background-color: var(--newtab-background-color) !important; -webkit-text-fill-color: #bfbfbf !important;box-shadow: none !important;border: 1px solid #4a4a9b3a !important;
    font-weight: bold !important;}
.personalize-button:hover , .customize-menu .close-button:hover{
    font-weight: bold !important; background: linear-gradient(to right, #00bbff 0%, #6b6bff 40%, #dd4AA2 100%); box-shadow: 0px 0px 0px rgb(1 1 1 / 16%), 2px 2px 1px rgb(0 0 0 / 23%) !important;
  -webkit-background-clip: text !important;  -webkit-text-fill-color: transparent !important; border: 1px solid #3a3a8b50 !important}
  
/*Colores de la interfaz para Personalizar la NewTab*/
.customize-menu {color: var(--newtab-background-primary-text-color) !important; background-color: var(--newtab-background-color) !important;}
.home-section .section .selector {background-color:var(--newtab-background-color) !important; border: 1px solid #7171af40 !important; !important;
    box-shadow: none !important;}
.customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active {
    box-shadow: 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;}
  
*{scrollbar-width: none !important }
 
/*colores de los sitios anclados*/
.outer-wrapper.newtab-experience .top-site-outer .tile:not(.active, :focus, :hover){ background-color: var(--newtab-background-color) !important;
    box-shadow: 0px 0px 1px rgb(1 1 1 / 16%), 0px 0px 2px rgb(0 0 0 / 23%) !important}  
  
/*colores al pasar el mouse sobre los sitios anclados en :hover*/
.outer-wrapper.newtab-experience .top-site-outer:hover .tile{ box-shadow: 1px 1px 1px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
     background: var(--newtab-background-color) !important; border: 1px solid #7171af40 !important;}

/*Color al pasar por los items del menú de 3 puntos*/
.context-menu > ul > li > a:is(:focus, :hover), .context-menu > ul > li > button:is(:focus, :hover) {
    background: var(--newtab-element-hover-color); margin-left: 4px !important; margin-right: 3px !important; width: -moz-available !important;
    padding-inline-start: 0.5em !important; border-radius: 4px !important; padding-inline-end: 0.5em !important;}    
 .context-menu > ul > li > a, .context-menu > ul > li > button{ margin-left: 4px !important; margin-right: 3px !important; width: -moz-available !important;
    padding-inline-start: 0.5em !important; border-radius: 4px !important; padding-inline-end: 0.5em !important;}
    
/*colores al pasar el mouse sobre los sitios anclados (fondo más grande)*/
.outer-wrapper.newtab-experience:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
  box-shadow: none !important; background-color: var(--newtab-background-color) !important; }

/*Color de label the sitio anclado :hover*/
.outer-wrapper.newtab-experience .top-site-outer:is(.active, :focus, :hover)  .title{color: var(--newtab-background-primary-text-color) !important;}
  
/*Color del fondo del menú de tres puntos*/
.context-menu {background: var(--newtab-background-color) !important; color:var(--newtab-background-primary-text-color) !important; }
  
/*Boton de 3 puntos*/
.outer-wrapper.newtab-experience .top-site-outer .context-menu-button {fill: var(--newtab-background-primary-text-color)}
  
/*fondo de los favICON de los sitios anclados*/
.top-site-outer .top-site-icon{background-color: transparent !important; }
    
/*ntp*/
.activity-stream {background-color: var(--newtab-background-color) !important;}
}

/*Colores varios de la interfaz de complementos y configuración*/
@-moz-document url-prefix(about:preferences), url-prefix(about:addons) {
button {border-color: #7171af40 !important;} /*color de botones */
button:hover {color: #bfbfbf !important;}
#categories > .category[selected]:hover { color: #eaeaea !important;}
#categories > .category[selected]  {color: #1090ff !important;}
button.primary { color: #cacaca !important;}   
}

@-moz-document url('about:home'), url('about:newtab'),url(about:privatebrowsing) {
 /*Personalizacion de la página newtab  */
.logo-and-wordmark .logo { background: url("images/foxlogo.svg") no-repeat !important; background-size: cover !important; display: inline-block !important;}
.logo {height: 75px !important; width: 75px !important; }    
.wordmark { background: url("images/firefox-wordmark.svg") no-repeat center center !important; background-size: 134px !important;-moz-context-properties: fill !important;
display: inline-block !important; height: 82px !important; margin-inline-start: 16px !important; width: 134px !important;}
.ds-outer-wrapper-breakpoint-override main {min-width: 366px !important;}
}
