/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Color bolita de cargando página*/
#tabbrowser-tabs{
    --tab-loading-fill: var(--button-primary-bgcolor) !important;
}
/*Sombra de la pestaña activa eliminada, borde superior de la toolbar y transparencia de la tabline*/
.tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background {
    box-shadow: none !important;
}
.tab-label {
    text-shadow: none !important
}
#navigator-toolbox { --lwt-tabs-border-color: none !important; }
#tabbrowser-tabs { --lwt-tab-line-color: none !important; 
}
/* Tamaño horizontal pestañas */
.tabbrowser-tab[fadein]:not([style^="max-width"]){ max-width: 200px !important 
}
/*Linea gradiente en pestaña activa*/
.tab-background{ margin-left: -1px !important; margin-right: -1px !important;}
.tab-content {height: calc(var(--tab-min-height) - 2px) !important; margin-top: calc(var(--margin-top) + 1px) !important; }

.tab-background[selected="true"] {
    background-image: var(--gradient) !important;
    border-radius: 5px !important;
}
.tabbrowser-tab:not([multiselected])[selected="true"] .tab-content {
    background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important;
    border-radius: 4px !important;
}
/*Margenes y color de las pestañas no seleccionadas*/
.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
    margin-left: -1px !important;
    margin-right: -1px !important;
}
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
    background-color: var(--toolbarbutton-hover-background) !important;
}
.tabbrowser-tab .tab-stack {
    padding-left: 2px !important;
    margin-right: -1px !important;
}
/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {
    padding-top: 2px !important;
}
/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs {
    --uc-tabs-scrollbutton-border: 0px !important;
}
#scrollbutton-up, #scrollbutton-down {
    border-block-width: var(--uc-tabs-scrollbutton-border, 0px) !important;
}
/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}
/*Regla para visualizar mejor el seleccionar varias pestañas*/

.tabbrowser-tab[multiselected]:-moz-lwtheme {
    color: var(--lwt-tab-text) !important;    
}
.tab-background:is([multiselected]){
    background: #4d4dfe !important;
}
/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/

#urlbar-zoom-button {
    padding: 0px 4px !important;
    margin: 2px !important;
}
/*favicon de pagina newtab*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("../images/foxlogo.svg")!important;
}
/* Remove little space left to first tab */
/*.titlebar-spacer[type="pre-tabs"]{display:none;}*/

/*Borde redondeado - barra de menú*/
#main-menubar>menu {
    border-radius: 4px !important
}

/* S E T T I N G S */
:root {
  --navbarWidth:36vw; /* Set width of navbar. Use px for a fixed width or vw for a percentage of your window.*/ 
}
/* Oneline tweak */
#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}
#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
  margin-top  : -34px !important;
  height: 36px !important;
}
/* Espacio de arrastre */
.titlebar-spacer {
    display: -moz-box !important;
    width: 10px !important;
}
/* urlbar open */
#urlbar-container:not([open=true]){ min-width: 22vw !important;}
#urlbar:focus-within  { min-width: 50vw !important; }
}

/* H I D I N G   E L E M E N T S */
/* Comment or uncomment depending of what elements you want to hide */

/* Back button */
/* #back-button { display: none !important } */

/* Hide back button only when disabled */
#back-button[disabled="true"] { display: none !important }

/* Forward button */
/* #forward-button { display: none !important } */

/* Hide forward button only when disabled */
#forward-button[disabled="true"] { display: none !important }

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }

/* Site information button */
#identity-box[disabled="true"] { display: none !important }

/* This is the "Search with" indicator on the urlbar */
/* #urlbar-search-mode-indicator { display: none !important } */

/* Zoom button */
/* #urlbar-zoom-button { display: none !important } */

/* Page action (right three dash button) */
/* #pageActionButton { display: none !important } */

/* These are the buttons on the right of the urlbar */
/* #page-action-buttons { display: none !important } */

/* #urlbar-label-box { display: none !important } */

/* This one is the hamburger menu! */
/* CAUTION: if you hide this some popups may be bugged */
/* #PanelUI-button { display: none !important } */

/* Tab close button */
/* .tab-close-button { display: none !important } */

/* Enable this to show the tab close button when hovering the tab */
/* .tabbrowser-tab:hover .tab-close-button { display: -moz-inline-box !important } */

/*============================================================================*/