/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */  

@import url('components/ch_UC-newtabpage.css');
@import url('components/ch_root_personal.css');
@import url('components/ch_UC-addons-store.css');
@import url('components/ch_UC-settings-addons-pages.css');