:root{
  --lwt-frame: var(--toolbar-bgcolor, Field) !important;      
  --lwt-frame-inactive: var(--toolbar-bgcolor, Field) !important; 
  
  --toolbar-field-focus-border-color: transparent !important;                                                      /*BordeUrlbarFocus*/
  --lwt-accent-color-inactive: var(--toolbar-bgcolor, Field) !important;                                           /*FondoPestañasNoSeleccionadasVentanaInactiva*/
  --lwt-accent-color: var(--toolbar-bgcolor, Field) !important;                                                    /*FondoPestañasNoSeleccionadasVentanaActiva*/
  --lwt-text-color: color-mix(in srgb , var(--lwt-accent-color) 20%, var(--lwt-tab-text, Field)) !important;       /*ColorLetrasPestañaNoSeleccionada*/
  --toolbarbutton-inner-padding: 5px !important;                                                                   /*botonesIconosToolbarMásPequeños*/
  --tab-block-margin: 3px 2px !important;                                                                          /*MargenTop-BottomPestañas*/
  --tab-min-height:  32px !important;                                                                              /*TamañoPestañas*/
  --arrowpanel-menuitem-padding: 7px !important;                                                                   /*MenúHambuguesaMásCompacto*/
  --urlbar-icon-padding: 4px !important;                                                                           /*ÍconosUrlbarCompactos*/
  --toolbarbutton-outer-padding: 3px !important;                                                                   /*EspacioEntreÍconosToolbar*/
  --toolbar-field-border-color: color-mix(in srgb, var(--toolbar-field-color) 8%, transparent) !important;         /*urlbarColor-ColorBordeCuadroUrlbar*/  
  --button-primary-bgcolor: #304af1 !important;                                                                    /*ColorBotónGuardar*/
  --button-primary-hover-bgcolor: #3043b1 !important;                                                              /*ColorBotónGuardar:Hover*/
  --button-primary-active-bgcolor: #0073b1 !important;                                                             /*ColorBotónGuardar:clic*/
  --toolbarbutton-hover-background: var(--button-bgcolor) !important;                                              /*"button_background_hover": "#26242e"*/
  --toolbar-field-background-color: var(--toolbar-bgcolor) !important;                                             /*ColorUrlbar*/
  --toolbar-field-focus-background-color: var(--toolbar-bgcolor) !important;                                       /*ColorUrlbarOpen*/
  --urlbar-popup-url-color: #3389ff !important;                                                                    /*colorUrlSugerenciasDeBusqueda*/
  --lwt-popup-brighttext-url-color: #3379ff !important;                                                            /*"color de label: El sitio no funciona?"*/ 
  --lwt-toolbar-field-highlight: #3b439b !important;                                                               /*"toolbar_field_highlight": "#006f80"*/
  --lwt-toolbar-field-highlight-text: #eaeaea !important;                                                          /*"toolbar_field_highlight_text": "#eaeaea"*/
  --autocomplete-popup-highlight-background: #3e5bfdbb !important;                                                 /*"popup_highlight": "#006f80"*/
  --autocomplete-popup-highlight-color: #eaeaea !important;                                                        /*"popup_highlight-letras": "#006f80"*/
  --lwt-toolbarbutton-icon-fill-attention: #4d7afe !important;                                                     /*"icons_attention": "#00dbfd"*/
  
  --panel-separator-zap-gradient: linear-gradient(to right, #902c8ad0 15%, #902cfc90 50%, #3083ff70 100%) !important;            /*GradienteMenúHamburguesa*/
  --gradient: linear-gradient(165deg, #d02f85ee 0%, #b336fcee 8%, #3567fdee 40%, #4e7afdee 60%,#4e89fdee 70%, #d02f85ee 100%) !important;    /*GradientePestañaActiva*/
  
  
  --button-bgcolor: color-mix(in srgb, var(--lwt-tab-text, Field) 10%, transparent) !important;                            /*ColorCombobox-yBotones(+-)*/
  --button-hover-bgcolor: color-mix(in srgb, var(--lwt-tab-text, Field) 18%, transparent) !important;                      /*colorHoverCombobox-yBotones(+-)*/
  --button-active-bgcolor: color-mix(in srgb, var(--lwt-tab-text, Field) 22%, transparent) !important;                     /*ColorAlHacerClicCombobox-yBotones(+-)*/
}
/*WindowsControls borde redondeado*/
.titlebar-button:not(.titlebar-close){ padding-left: 10px !important; padding-right: 10px !important;}
.titlebar-button:not(.titlebar-close):hover { background-color: var(--toolbarbutton-hover-background) !important}
.titlebar-min, .titlebar-max, .titlebar-restore, .titlebar-close{border-radius: 6px !important; border: 3px solid #00000000 !important; margin-bottom: -1px !important}
.titlebar-min:hover, .titlebar-max:hover, .titlebar-restore:hover, .titlebar-close:hover{border-radius: 6px !important; border: 3px solid var(--lwt-frame, var(--lwt-accent-color)) !important;}
.titlebar-close:hover{border-radius: 6px 0px 6px 0px !important;}

/*botones de la pagina de Personalizar Toolbar*/
.customizationmode-button {background-color: color-mix(in srgb, var(--lwt-accent-color) 80%, var(--lwt-tab-text)) !important; border-color: #60606090 !important; color: var(--lwt-tab-text) !important;}
.customizationmode-button:is(:active, :hover):not([disabled]), .customizationmode-button[open], .customizationmode-button[checked]{background-color: #2b7aff !important; border-color:#2b7aff !important;
  color:var(--lwt-tab-text) !important;}
#customization-done-button {color: #fff !important; border-color: #0a84ff !important;background-color: #0a84ff !important;}
#customization-done-button:is(:active, :hover):not([disabled]) {background-color: #0060df !important; border-color: #00b0ff !important;}

/*RadiobuttonProtecciónAntirastreo*/
.protections-popup-tp-switch[enabled]:hover {background-color: #3030ff !important; border-color: transparent !important; }
.protections-popup-tp-switch[enabled]{background-color: #4a4aff !important; border-color: transparent !important;}

/*sombra de la pestaña activa eliminada y borde superior de la toolbar y transparencia de la tabline*/
.tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background { box-shadow: none !important;}
.tab-label{text-shadow: none !important}
#navigator-toolbox{--tabs-border-color: (var(--gradient), transparent) !important}  
#tabbrowser-tabs {--tab-line-color: (var(--gradient), transparent) !important}
                  /**-----verion nighty-----Borrar luego lineas 53-54*/
#navigator-toolbox{--lwt-tabs-border-color: (var(--gradient), transparent) !important}  
#tabbrowser-tabs {--lwt-tab-line-color: (var(--gradient), transparent) !important}

/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {padding-top: 1px !important}

/*"Botón de cerrar pestaña"*/
.tab-close-button{margin-inline-start: 0px !important;width: 16px !important;height: 16px !important;padding: 3px !important; margin-inline-end:-5px !important;
  border-radius: 10px !important;}
.tab-close-button:hover{background-color: color-mix(in srgb, var(--lwt-tab-text) 14%, transparent) !important;}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:-moz-box !important}

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 0px }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border, 0px) !important; }

/*Páginas seguras de firefox"*/
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:not([open]),#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:not([open]){
  background-color: #3070ffbb !important; color: white !important; }
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button[open="true"],#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button[open="true"]{
  background-color: #3090ffbb !important;color: white !important;}
#identity-popup-security-button { margin-bottom: 0px !important}

/*"Íconos de la urlbar más pequeños"*/
#tracking-protection-icon, #identity-icon, .sharing-icon, #permissions-granted-icon, #blocked-permissions-container > .blocked-permission-icon 
{height: 14px !important; width :14px !important;}
#tracking-protection-icon{margin-inline-start: 1px !important}
#tracking-protection-icon-container{padding: 3px !important;}

/*"Color verde de la descripción de web segura"*/
description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
  #identity-popup-securityView-body > button { color: #2cf62c !important}

/*fondo:hover de íconos de la urlbar"*/
:not(.urlbar-icon-wrapper) > .urlbar-icon[open="true"], :not(.urlbar-icon-wrapper) > .urlbar-icon[open="true"], .urlbar-icon-wrapper[open="true"], 
  .urlbar-icon-wrapper[open="true"],.identity-box-button[open="true"], #tracking-protection-icon-container[open="true"], .identity-box-button[open="true"]
.urlbar-page-action:not([disabled]):hover, #urlbar-go-button:hover, .search-go-button:hover 
{ background-color: var(--toolbarbutton-active-background) !important;}
.urlbar-icon {margin-left: 2px !important}

/*"Urlbar más pequeñas"*/
#urlbar{min-height: 26px !important; border-radius: 4px !important;max-height: 26px !important;}
.toolbar-items{margin-bottom: -1px !important;}

/*Search-bar*/
#searchbar {min-height: 26px !important; max-height: 26px !important;}
#searchbar:focus-within{border-color: color-mix(in srgb, var(--toolbar-field-border-color) 65%, var(--lwt-text-color)) !important; box-shadow: none !important}
#PopupSearchAutoComplete {--uc-slot-radius: 0 0 4px 4px; margin-top: -3px !important; border-radius: 0 0 4px 4px !important;
 --arrowpanel-border-color: color-mix(in srgb, var(--toolbar-field-border-color) 65%, var(--lwt-text-color)) !important;}
slot[part="content"]{border-radius: var(--uc-slot-radius,var(--panel-border-radius)) !important;}

/*linea colorida urlbar focus*/
#urlbar[open=true] #urlbar-background, #urlbar[focused=true] #urlbar-background{margin-bottom: 1px !important;  margin-top: 1px !important; margin-left: 1px !important; margin-right: 1px !important;}
#urlbar[focused=true]{background-image:linear-gradient(to bottom right, #fd189250 0%, #b02cfc50 30%, #33b3fd50 45%, #00aaff50 60%, #fd189250 100%);border-radius:}
#urlbar[focused=true] #urlbar-background{background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important; border: #00000000 !important;box-shadow: none !important; backdrop-filter: saturate(35%) brightness(10%);}
#urlbar[open=true]{border-radius: 6px !important; margin-top: 1px !important; background-image: linear-gradient(to bottom right, #fd189230 0%, #b02cfc30 30%, #33b3fd30 45%, #00aaff30 60%, #fd189230 100%); backdrop-filter: blur(20px);max-height: -moz-available !important; border-radius: 6px !important;}
#urlbar[open=true] #urlbar-background{border-radius: 6px !important; background-color: var(--lwt-accent-color) !important; animation-duration: 0ms !important; backdrop-filter:saturate(100%) brightness(0%); max-height: -moz-available !important; }
#urlbar[breakout][breakout-extend] > #urlbar-input-container{margin-top: -1px !important; margin-bottom: 0px !important;}

/*color Rojo de boton "borrar marcador"*/
#editBookmarkPanelBottomButtons > #editBookmarkPanelRemoveButton { background-color: #ff4d4d !important; color: white !important;}
#editBookmarkPanelBottomButtons > #editBookmarkPanelRemoveButton:hover { background-color: #fb3d3d !important; color: white !important;}

/*Linea gradiente en pestaña activa*/
.tabbrowser-tab:not([pinned])[selected="true"] .tab-background {background-image: var(--gradient) !important;
  border-radius: 4px !important; height: 32px !important;  margin-left: -1px !important; margin-right: -1px !important}
.tabbrowser-tab:not([pinned],[multiselected])[selected="true"] .tab-content:not([multiselected]){background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important; 
  border-radius: 4px !important; margin-top: 4px !important; height: 30px !important; transition-duration: 0ms !important; backdrop-filter: saturate(35%) brightness(10%) !important;}

.tabbrowser-tab:is([pinned])[selected="true"] .tab-background {background-image: var(--gradient) !important;
  border-radius: 4px !important; height: 32px !important; margin-left: -1px !important; margin-right: -1px !important; }
.tabbrowser-tab:is([pinned])[selected="true"]:not([multiselected]) .tab-content {background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important; 
  border-radius: 4px !important; margin-top: 4px !important; height: 30px !important; backdrop-filter: saturate(35%) brightness(10%) !important;}

/*Margenes y color de las pestañas no seleccionadas*/
.tabbrowser-tab> .tab-stack > .tab-background:not([selected="true"]) {margin-left: -1px !important; margin-right: -1px !important;}
.tabbrowser-tab:hover> .tab-stack > .tab-background:not([selected="true"], [multiselected]){background-color: var(--toolbarbutton-hover-background) !important;}

.tabbrowser-tab .tab-stack{padding-left: 2px !important; margin-right: -1px !important;}

/*rework en la Linea de Contenedores-BordeGeneral*/
.tab-context-line {opacity: 0 !important;}
tab[selected] .tab-context-line{height: 32px !important; margin: 0px !important; -moz-box-ordinal-group: 2 !important; opacity: 1 !important; border-radius: 4px !important;}

/*rework en la Linea de Contenedores-BordeFavicon*/
.tab-icon-pending:not([selected]), .tab-sharing-icon-overlay:not([selected]), .tab-throbber[busy]:not([pinned]), .tab-throbber:is([busy][pinned]),
.tab-icon-image:not([selected]){box-shadow: 0 -1px 0 var(--identity-icon-color, #00000000) , 0 1px 0px var(--identity-icon-color, #00000000) !important;
  border-radius: 3px !important; padding: 2px !important; width: 20px !important; height: 20px !important}
 .tab-icon-pending[selected], .tab-sharing-icon-overlay[selected], .tab-icon-image[selected]{
  outline: 1px solid var(--identity-icon-color, #00000000) !important;
  border-radius: 3px !important; padding: 2px !important; width: 20px !important; height: 20px !important;}
.tab-icon-pending:not([pinned]), .tab-sharing-icon-overlay:not([pinned]), 
.tab-icon-image:not([pinned]){ margin-right: 6px !important; margin-left: -3px !important}
.tab-icon-pending[pinned], .tab-sharing-icon-overlay[pinned], 
.tab-icon-image[pinned]{ margin-right: -3px !important; margin-left: -3px !important}

/*Nuevo ícono de Cargando Página*/
.tab-throbber[busy]:not([pinned]){border-radius: 0px !important; padding: 0px !important;
height: 20px !important; width: 16px !important; margin-right: 7px !important; opacity: 1 !important;} 
.tab-throbber:is([busy][pinned]){ border-radius: 0px !important; padding: 0px !important;
height: 20px !important;width: 16px !important;  opacity: 1 !important;  margin-right: -1px !important; margin-left: -1px !important}

.identity-color-blue {--identity-tab-color: #2574A7 !important; --identity-icon-color: #2574A7 !important;} .identity-color-green {--identity-tab-color: #1E934F !important; --identity-icon-color: #1E934F !important;}
.identity-color-orange {--identity-tab-color: #e67e22 !important; --identity-icon-color: #e67e22 !important;} .identity-color-red {--identity-tab-color: #ff392b !important; --identity-icon-color: #ff392b !important; }
.identity-color-pink {--identity-tab-color: #ff33bb !important; --identity-icon-color: #ff33bb !important;} .identity-color-purple {--identity-tab-color: #813E9D !important; --identity-icon-color: #813E9D !important;}
.identity-color-yellow {--identity-tab-color: #e6b803 !important; --identity-icon-color: #e6b803 !important;} .identity-color-turquoise {--identity-tab-color: #03b48d !important; --identity-icon-color: #03b48d !important;}

/*Label de medios "Reproduciendo" modifiado - Animación*/
@keyframes slide1{ from { transform: scale(1.0,1.0);}to {transform: scale(0.6,1.0);}}
tab:not([pinned]) .tab-secondary-label:is([soundplaying], [pictureinpicture]) {margin-top:0px !important; margin-bottom: 2px !important; opacity: 1 !important; margin-left: 0px !important;
  background: linear-gradient(to right, #00aaff 0%, #a06bff 50%, #cd4AA2 100%); font-size: 2px !important;
  color: transparent !important; border-radius:4px !important; animation: 500ms infinite ease-in-out; animation-name: slide1;}
tab:not([pinned],[selected]) .tab-secondary-label:is([soundplaying], [pictureinpicture]) {margin-top:0px !important; margin-bottom: 0px !important; opacity: 1 !important; 
  color: transparent !important; border-radius: 2px !important}
.tab-secondary-label:is([muted], [activemedia-blocked]) {display: none !important}

/*--------ícono de sonido simpre visible en pestañas con sonido, sin dejar de mostrar el favicon-------*/
.tab-icon-image:not([pinned]){opacity: 1 !important}
.tab-icon-overlay[activemedia-blocked], .tab-icon-overlay, .tab-icon-overlay:is([pinned]){height: 13px !important; width: 14px !important; z-index: 1 ; padding: 0px !important;top: 12px !important; left: 8px !important; }
tab[pinned]:not(:hover) .tab-icon-overlay:not([soundplaying]){opacity: 0 !important;}

.tab-icon-overlay[activemedia-blocked]:is([pinned]){opacity: 0.8 !important; margin-right: 0px !important;}
.tab-icon-overlay[activemedia-blocked]:is([pinned]):hover{left: 8px !important; background-color: transparent !important; opacity: 1 !important; margin-right: 0px !important;}
.tab-icon-overlay[activemedia-blocked] {stroke:  #d10000cc !important;fill: #ffffff !important;border-radius: 10px !important; top: 12px; left: 8px !important;
  margin-right: 6px !important; animation: none !important;  height: 13px !important; width: 14px !important; }
.tab-icon-overlay[activemedia-blocked]:hover {stroke:  #d10000cc !important;fill: #ffffff !important;border-radius: 10px !important; top: 12px; left: 8px !important;
  margin-right: 6px !important; animation: none !important;  height: 13px !important; width: 14px !important; }
.tab-icon-overlay:is([pinned][activemedia-blocked]){list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important}

/*------ícono  reproduciendose-------*/
.tab-icon-overlay:is([sharing],[soundplaying]):not([pinned]) {border-radius: 10px !important;
  color: var(--lwt-tab-text) !important; background-color: var(--lwt-selected-tab-background-color) !important; fill-opacity:1 !important} 

tab:not([pinned],[selected]) .tab-icon-overlay:is([sharing],[soundplaying]):not([pinned]){color:var(--lwt-tab-text) !important;
  background-color: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important;}

  /*Compartiendo microfono y cámara*/
  .tab-icon-overlay:not([crashed]):is([sharing]) {top: 12px !important; stroke: transparent !important;} 

/*----ícono "reproduciendo" hover----*/
tab:not([pinned])[selected] .tab-icon-overlay:not([pinned])[soundplaying]:hover, tab:is([pinned][selected]) .tab-icon-overlay:is([pinned][soundplaying]):hover{ 
  list-style-image: url("images/muted.svg") !important;
  stroke: var(--lwt-selected-tab-background-color) !important; color: var(--lwt-tab-text) !important; background-color: var(--lwt-selected-tab-background-color) !important}

tab:not([pinned],[selected]) .tab-icon-overlay:hover:is([sharing],[soundplaying]){color:var(--lwt-tab-text) !important;list-style-image: url("images/muted.svg") !important;
  background-color: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important; opacity: 1 !important;color:var(--lwt-tab-text) !important;}

/*------muteado-------*/
.tab-icon-overlay[muted]:not([pinned])  {border-radius: 10px !important; top: 12px; left: 8px !important;
 margin-right: 6px !important; animation: none !important;  height: 13px !important; width: 14px !important;list-style-image: url("images/muted.svg") !important;}
  /*muteado no seleccionado y seleccionado*/
   .tab-icon-overlay:not([selected="true"])[muted], .tab-icon-overlay:is([pinned][muted]):not([selected="true"]),tab:is([pinned]):not([selected]):hover .tab-icon-overlay:is([pinned][soundplaying]):not([selected="true"]){
      background-color: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important; stroke: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important;}
   .tab-icon-overlay:is([selected="true"][muted]), .tab-icon-overlay:is([pinned][selected="true"][muted]), .tab-icon-overlay:is([pinned][selected="true"][soundplaying])  {
      !important;color:var(--lwt-tab-text) !important;  background-color: var(--lwt-selected-tab-background-color) !important; stroke: var(--lwt-selected-tab-background-color) !important;}
  /*muteado hover*/
    .tab-icon-overlay:not([pinned])[selected="true"][muted]:hover{
        stroke: var(--lwt-selected-tab-background-color) !important; color: var(--lwt-tab-text) !important; list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg")!important;}
    .tab-icon-overlay:not([pinned],[selected="true"])[muted]:hover { list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg")!important;
        background-color: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important;}  

/*-----------ícono "reproduciendo" Pinned-----------*/
.tab-icon-overlay:is([pinned][muted]){list-style-image: url("images/muted.svg") !important;}
.tab-icon-overlay:is([pinned][soundplaying]){ stroke: var(--lwt-accent-color) !important; color:var(--lwt-tab-text) !important;  background-color: var(--lwt-accent-color) !important;}

/*ícono "reproduciendo" y "muteado" Pinned :hover*/
.tab-icon-overlay:is([pinned][muted]):hover{list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;}
.tab-icon-overlay:is([pinned][soundplaying]):hover{list-style-image: url("images/muted.svg") !important;}

/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]:-moz-lwtheme{color: var(--lwt-tab-text) !important; --tab-line-color: transparent !important; }
.tabbrowser-tab[multiselected]> .tab-stack > .tab-background:is([multiselected]) , .tabbrowser-tab> .tab-stack > .tab-content:is([multiselected]){background: #4d4dfe  !important;}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/
#urlbar-zoom-button {padding: 0px 4px !important; margin: 2px !important;}

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { 
 margin-inline-start: 2px !important; }

/*Menú contextual*/
menupopup > menuitem, menupopup > menu{ padding-block: 0.3em !important;} 
/* Menu items border and padding */
menupopup > menuitem, menupopup > menu { border-radius: 4px !important; margin-left: 4px !important; margin-right: 4px !important;  
  padding-inline-start: 0.5em !important}
  /*borde izquierda y derecha del menú contextual*/
menugroup > menuitem:first-child {padding-left: 4px !important;} 
menugroup > menuitem:last-child { padding-right: 4px !important;}
  /* context menu top buttons radius */
menugroup > menuitem { border-radius: 4px !important; }
menugroup > menuitem > hbox > image { border-radius: 4px !important;}
menuseparator { border-top: 1px solid var(--panel-separator-color) !important; padding: 0 !important; margin-left: 4px !important; margin-right: 4px !important;}
.menupopup-arrowscrollbox {background: var(--arrowpanel-background) !important; background-color:var(--arrowpanel-background) !important; color: var(--arrowpanel-color);
  border: 1px solid var(--arrowpanel-border-color) !important; border-radius: 6px !important;}

 /*ColoresMenú*/
  menupopup {
   --panel-color: var(--arrowpanel-color, Field) !important;                                                         /*ColorLetrasDelMenú*/
   --panel-border-color: var(--arrowpanel-border-color,Field)!important;                                            /*bordeMenú*/
   --panel-background: var(--arrowpanel-background, Field) !important;                                               /*FondoMenú*/
   --menuitem-hover-background-color: var(--toolbarbutton-hover-background, Field) !important;                       /*ColorFondoAlPasarElMouseSobreItems*/
   --menu-color:var(--arrowpanel-color,Field) !important;                                                           /*ColorLetrasAlPasarElMouseSobreItems*/
   --menu-disabled-color:color-mix(in srgb, var(--arrowpanel-background,Field) 65%, var(--lwt-tab-text,Field))!important; /*ColorIconoDehabilitado*/
   --menu-border-color: var(--panel-separator-color,Field) !important;                                              /*LineaSeparadoraItems*/}

/*favicon de pagina newtab*/
.tab-icon-stack .tab-icon-image[src="chrome://branding/content/icon32.png"]{ background:url("images/foxlogo.svg")!important;
  background-size: 16px !important; padding-left: 18px !important; background-position: center !important; background-repeat: no-repeat !important; }

/*barra de menú*/
#main-menubar > menu  {border-radius: 4px !important}

/*íconos en el menú de hamburguesa*/
.subviewbutton:not(.subviewbutton-iconic, .subviewbutton-back, [checked="true"]) > .toolbarbutton-icon {
  width: 16px; margin-inline-end: 8px !important;}
.subviewbutton {-moz-context-properties: fill; fill: currentColor;}
#appMenu-zoom-controls2 > .toolbarbutton-text {margin-inline-start: 24px !important;}
#appMenu-new-tab-button2 {list-style-image: url("chrome://browser/skin/new-tab.svg");}
#appMenu-new-window-button2, #appMenuRecentlyClosedWindows { list-style-image: url("chrome://browser/skin/window.svg");}
#appMenu-new-private-window-button2 { list-style-image: url("chrome://browser/skin/privateBrowsing.svg");}
#appMenu-bookmarks-button, #panelMenuBookmarkThisPage[starred], #appMenu-library-bookmarks-button, #sidebar-switcher-bookmarks {
  list-style-image: url("chrome://browser/skin/bookmark.svg");}
#appMenu-history-button, #appMenu-library-history-button, #sidebar-switcher-history { list-style-image: url("chrome://browser/skin/history.svg");}
#appMenu-downloads-button, #appMenu-library-downloads-button { list-style-image: url("chrome://browser/skin/downloads/downloads.svg");}
#appMenu-passwords-button { list-style-image: url("chrome://browser/skin/login.svg");}
#appMenu-extensions-themes-button {list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");}
#appMenu-print-button2 {list-style-image: url("chrome://global/skin/icons/print.svg");}
#appMenu-find-button2, #panelMenu_searchBookmarks {list-style-image: url("chrome://global/skin/icons/search-glass.svg");}
#appMenu-settings-button { list-style-image: url("chrome://global/skin/icons/settings.svg");}
#appMenu-help-button2 { list-style-image: url("chrome://global/skin/icons/help.svg");}
#appMenu-quit-button2 { list-style-image: url("chrome://browser/skin/quit.svg");}
#panelMenuBookmarkThisPage { list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");}
#panelMenu_viewBookmarksToolbar {list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");}
#appMenuRecentlyClosedTabs, #sidebar-switcher-tabs { list-style-image: url("chrome://browser/skin/tab.svg");}
#appMenuRestoreSession { list-style-image: url("chrome://browser/skin/restore-session.svg");}
#appMenuClearRecentHistory {list-style-image: url("chrome://browser/skin/forget.svg");}
#appmenu-moreTools-button, #overflowMenu-customize-button { list-style-image: url("chrome://browser/skin/customize.svg");}
[data-l10n-id="sidebar-menu-close"] { list-style-image: url("chrome://global/skin/icons/close.svg");}
:root[fxastatus="signedin"] #fxa-menu-avatar { display: unset; -moz-box-ordinal-group: 2;}
#fxa-manage-account-button vbox { margin-inline-start: 24px;}
.syncNowBtn { visibility: visible !important; margin-inline-end: 8px;  -moz-box-ordinal-group: 0 !important;}
#PanelUI-fxa-menu-connect-device-button, #PanelUI-fxa-menu-sendtab-button, #PanelUI-fxa-menu-account-signout-button, [oncommand="switchToTabHavingURI('about:performance', true)"] {
  background-position: left 8px center; background-repeat: no-repeat; background-size: 16px;}
#PanelUI-fxa-menu-connect-device-button { background-image: url("chrome://browser/skin/fxa/add-device.svg");}
#PanelUI-fxa-menu-sendtab-button { background-image: url("chrome://browser/skin/send-to-device.svg");}
#PanelUI-fxa-menu-account-signout-button { background-image: url("chrome://browser/skin/sign-out.svg");}
[oncommand="switchToTabHavingURI('about:performance', true)"] { background-image: url("chrome://global/skin/icons/performance.svg");}
#appMenu-fxa-label2::before { content: "";  display: block;  width: 16px;  height: 16px;  margin-inline-end: 8px;  border-radius: 50%;
  background: var(--avatar-image-url) no-repeat center/16px;}
