:root{ scrollbar-color: #38375580 #18173530 !important; }              /*Color de la barra de desplazamiento*/

:host, :root {                                                          /*Colores varios de paginas de about:addons y about:settings*/
    --checkbox-unchecked-hover-bgcolor: #4050ee !important;             /*color de los checkbox hover*/
    --checkbox-unchecked-active-bgcolor: #26264f !important;            /*color de los checkbox al darle clic*/
  
    --checkbox-checked-bgcolor: #1040bc !important;                     /*color de los checkbox con check*/
    --checkbox-checked-color: #fff !important;                          /*color de la palomita check*/
    --checkbox-checked-hover-bgcolor: #cc3535 !important;               /*color de los checkbox con check hover*/
  
    --in-content-primary-button-text-color: #192045 !important;         /*color de los radiobutton (circulo) con check*/
    --in-content-primary-button-background-hover: #1080ff !important;   /*color de los radiobutton (fondo) :hover*/  
    --in-content-primary-button-background-active: #3399f0 !important;  /*color de los radiobutton (clic) con check*/
                      
    --in-content-box-background-odd: #35355f !important;                /*color destinción entre filas de una tabla-atajos de busqueda*/
  
    --in-content-primary-button-background: #1050ff !important;         /*color de la label colorida y de enlaces*/

    --in-content-button-background-hover: #1050ff !important;           /*color de botones :hover*/
    --in-content-button-background-active: #1050ff !important;          /*color de botones al darle clic*/
  
    --in-content-link-color: #0099ff !important;                        /*color de links*/
    --in-content-link-color-hover: #00ccff !important;                     /*color de links*/
    --in-content-link-color-active:  #0099ff !important;                /*color de links*/
    --in-content-link-color-visited: #0099ff !important;                /*color de links*/
  
    --card-outline-color: #2d5d90 !important;                           /*Color de borde al pasar por elementos de addons*/
    
    --in-content-item-hover: #2d4db0 !important;                        /*Color de fondo al pasar por los items de un combobox"*/
    --in-content-item-hover-text: #ffffff !important;                   /*Color de label del item hover del combobox"*/
    --in-content-item-selected: #3d4df0 !important;                     /*Color de fondo al pasar por los items de un combobox (teclas de direccion)"*/
    --in-content-item-selected-text:  #ffffff !important;               /*Color de label al pasar por los items de un combobox (teclas de direccion)"*/
    
    --in-content-focus-outline-color: #3089ff !important;               /*color de focus de txt "buscar..."*/
}
@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home) {  
body {     
    --newtab-textbox-background-color: color-mix( in srgb, var(--newtab-background-color) 87%, var(--newtab-wordmark-color) ) !important;  /*fondo de la barra de busqueda*/

    --newtab-background-color-secondary: color-mix( in srgb, var(--newtab-background-color) 90%,  var(--newtab-wordmark-color) )!important;  /*fondo de sitios fijados*/
    --newtab-contextmenu-background-color: red !important;                                                                /*contextual menu de tres puntos pinned*/
    
    --newtab-element-hover-color: var(--newtab-background-color-secondary) !important;                                    /*color de fondo al hacer clic al menú 3 puntos*/
    --newtab-element-hover-color: linear-gradient(to left,#1293bd90 5%, #cb2fe17a) !important;                      /*color al pasar el mouse sobre los items del menú tres puntos*/
    --newtab-element-active-color: linear-gradient(to left,#1293bdb0 5%, #cb2fe19a) !important;                                                         /*Color al hacer clic en el menú contextual de 3 puntos*/
    
    --newtab-icon-primary-color:var(--newtab-wordmark-color) !important;                                           /*tres puntos hover*/ 
    --newtab-border-color: color-mix( in srgb, var(--newtab-background-color) 87%, var(--newtab-wordmark-color)  ) !important;    /*Linea separadora de items de menú contextual*/
    --newtab-section-header-text-color:  var(--newtab-wordmark-color) !important;                                                                           /*label principal al editar un sitio*/
    
    
    --newtab-card-background-color: color-mix( in srgb, var(--newtab-background-color) 97%,  var(--newtab-wordmark-color) )!important;  /*fondo de actividad reciente*/
    --newtab-text-secondary-color: var(--newtab-wordmark-color) !important;                                     /*Label linea 1 de Actividad reciente*/
    --newtab-text-primary-color: var(--newtab-wordmark-color) !important;                                                       /*label linea 2 de actividad reciente*/
       
    --newtab-modal-color: var(--newtab-overlay-color)!important;                                                                                       /*fondo Al editar un sitio*/
    --newtab-overlay-color: color-mix( in srgb, var(--newtab-background-color) 95%, transparent ) !important;                  /*fondo de editar, transparente*/
    --newtab-textbox-border: var(--newtab-overlay-color) !important;                                                                                   /*contorno de txt al editar un sitio*/ 
  
    --customize-menu-seperator-line-color: color-mix(in srgb, var(--newtab-wordmark-color), var(--newtab-background-color) 80%) !important;  /*Linea separadora en "personalizar"*/
    --newtab-button-primary-color: #1050ff !important;                  /*Color del botón "Guardar"*/
    --newtab-button-secondary-color: #f02020c0 !important;              /*color del botón "cancelar"*/
    --newtab-element-secondary-color: #4a4851 !important;              /*color radiobutton no activo*/
    --newtab-primary-element-text-color: #a6a1ca !important;           /*color radiobutton activo*/
    --newtab-primary-action-background: #394fcc !important;             /*color de fondo de radiobutton */
    --newtab-border-primary-color: transparent !important;              /*borde del botón "Cancelar"*/
}
 /*Color de fondo al editar un sitio anclado*/  
.topsite-form{background: var(--newtab-background-color) !important}
    
/*borde del menú de 3 puntos*/
.context-menu {background: var(--newtab-background-color) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(60, 60, 60, 1) !important;}
    
/*Color del fondo del menú de tres puntos*/
.context-menu {background:  var(--newtab-background-color) !important; color: var(--newtab-wordmark-color) !important; }
  
/*Boton de 3 puntos al hacerle clic*/
.top-site-outer .context-menu-button:active, .context-menu-button:hover, .context-menu-button:focus {fill: #47a8d7 !important;}
    
/*color de borde del radio-button en "Personalizar"*/
  .home-section .section .slider:hover {background: #454690 !important;}
    
/*Cuadro de busqueda eliminado*/
  .search-inner-wrapper{ display: none !important; }
  .outer-wrapper.newtab-experience .search-wrapper {padding-bottom: 0px !important;}
  
/*color de borde de botones "Guardar" y "Cancelar" :hover*/
.button:not(.dismiss), .button:focus:not(.dismiss), .actions button:hover:not(.dismiss), .actions button:focus:not(.dismiss) {
  box-shadow: 0 0 0 5px #8380Ff !important; }
     
/*Colores del botón "Personalizar"*/
.close-button {background-color: var(--newtab-textbox-background-color) !important; -webkit-text-fill-color: #bfbfbf !important;box-shadow: none !important;border: 1px solid #4a4a4b3a !important;
    font-weight: bold !important;}
.close-button:hover{
    font-weight: bold !important; background-color: color-mix( in srgb, var(--newtab-background-color) 75%, var(--newtab-wordmark-color) )!important; box-shadow: 0px 0px 0px rgb(1 1 1 / 16%), 2px 2px 1px rgb(0 0 0 / 23%) !important;}
  
/*Colores de la sidebar para Personalizar la NewTab*/
.customize-menu {color: var(--newtab-wordmark-color) !important; background-color: color-mix( in srgb, var(--newtab-background-color) 95%, var(--newtab-wordmark-color) ) !important;}
.home-section .section .selector {background-color: color-mix( in srgb, var(--newtab-background-color) 98%, white ) !important; border: 1px solid color-mix( in srgb, var(--newtab-background-color) 90%, var(--newtab-wordmark-color) ) !important;
    box-shadow:  none !important;}
.customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active {
    box-shadow: 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;}
  
*{scrollbar-width: none !important }
 
/*colores de los sitios anclados*/
.top-site-outer .tile:not(.active, :focus, :hover){ background-color: color-mix( in srgb, var(--newtab-background-color) 94%, var(--newtab-wordmark-color) )!important;
    box-shadow: 0px 0px 1px rgb(1 1 1 / 36%), 0px 0px 2px rgb(0 0 0 / 23%) !important}  
    
/*colores al pasar el mouse sobre los sitios anclados en :hover*/
.top-site-outer:hover .tile{ box-shadow: none !important; background-color:color-mix(in srgb, var(--newtab-background-color) 65%, transparent )!important; border: 1px solid #00000050 !important}
    
/*Color al pasar por los items del menú de 3 puntos*/
.context-menu > ul > li > a:is(:focus, :hover), .context-menu > ul > li > button:is(:focus, :hover) {
    background: var(--newtab-element-hover-color); margin-left: 4px !important; margin-right: 3px !important; width: -moz-available !important;
    padding-inline-start: 0.5em !important; border-radius: 4px !important; padding-inline-end: 0.5em !important;}    
 .context-menu > ul > li > a, .context-menu > ul > li > button{ margin-left: 4px !important; margin-right: 3px !important; width: -moz-available !important;
    padding-inline-start: 0.5em !important; border-radius: 4px !important; padding-inline-end: 0.5em !important;}
    
/*colores al pasar el mouse sobre los sitios anclados (fondo más grande)*/
.top-site-outer:is(.active, :focus, :hover) {
  box-shadow: none !important; background:
             linear-gradient(247deg, #3bbed05a, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #6c65ec90, rgba(0,255,0,0) 70.71%),
            linear-gradient(370deg, #cb2fe15a, rgba(0,0,255,0) 80.71%) !important; }

/*Color de label the sitio anclado :hover*/
.outer-wrapper.newtab-experience .top-site-outer:is(.active, :focus, :hover)  .title{/*! background:  color-mix( in srgb, var(--newtab-background-color) 97%, white ) !important; */ /*! color:var(--newtab-background-primary-text-color) !important; */ }
  
/*fondo de los favICON de los sitios anclados*/
.top-site-outer .top-site-icon{background-color: transparent !important; }
    
/*ntp*/
.activity-stream {background-color: var(--newtab-background-color) !important;}
}

/*Colores varios de la interfaz de complementos y configuración*/
@-moz-document url-prefix(about:preferences), url-prefix(about:addons) {
button {border-color: #7171af40 !important;} /*color de botones */
button:hover {color: #bfbfbf !important;}
#categories > .category[selected]:hover { color: #eaeaea !important;}
#categories > .category[selected]  {color: #1090ff !important;}
button.primary { color: #cacaca !important;}   
}

@-moz-document url('about:home'), url('about:newtab'),url(about:privatebrowsing) {
 /*Personalizacion de la página newtab  */
.logo-and-wordmark .logo { background: url("images/foxlogo.svg") no-repeat !important; background-size: cover !important; display: inline-block !important;}
.logo {height: 75px !important; width: 75px !important; }    
.wordmark { background: url("images/firefox-wordmark.svg") no-repeat center center !important; background-size: 134px !important;-moz-context-properties: fill !important;
display: inline-block !important; height: 82px !important; margin-inline-start: 16px !important; width: 134px !important;}
.ds-outer-wrapper-breakpoint-override main {min-width: 366px !important;}
.search-wrapper .logo-and-wordmark {margin-bottom: 0px !important;}
}
@-moz-document url('about:config'), regexp("^about:(neterror|certerror).*"){
.button[autofocus], .button[type="submit"], .button[default], button.primary {
    color: #cacaca !important; }}
