* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
  https://github.com/Godiesc/Chameleons-Beauty */

@import url('components/ch_root.css');
@import url('components/ch_tabs-bar.css');
@import url('components/ch_urlbar-searchbar.css');
@import url('components/ch_windows-controls.css');
@import url('components/ch_customize-styles.css');
@import url('components/ch_containers.css');
@import url('components/ch_sound.css');
@import url('components/ch_arrowpanel.css');
@import url('components/ch_contextual-menu.css');
@import url('components/ch_notifications.css');
@import url('components/ch_close-button.css');
@import url('components/ch_button-styles.css');
@import url('components/ch_library.css');
