:root{
  --lwt-accent-color: var(--toolbar-bgcolor) !important;
  --lwt-text-color: color-mix(in srgb , var(--lwt-accent-color) 20%, var(--lwt-tab-text)) !important;
  --toolbarbutton-inner-padding: 5px !important;
  --proton-tab-block-margin: 3px 2px !important;
  --tab-block-margin: 3px 2px !important;
  --tab-min-height:  32px !important;
  --tabs-shadow-size: 0px !important;
  --arrowpanel-menuitem-padding: 7px !important;
  --panel-font-size: 1.1em !important;
  --arrowpanel-padding: 0.8em !important;
  --urlbar-icon-padding: 4px !important;
  --toolbarbutton-outer-padding: 3px !important;
  --urlbar-popup-url-color: #3399ff !important;
  --lwt-toolbar-field-border-color:color-mix(in srgb , var(--toolbar-bgcolor) 95%, var(--lwt-toolbar-field-color) ) !important;
  --button-bgcolor: color-mix(in srgb, var(--arrowpanel-background) 70%, var(--arrowpanel-color)) !important;
  --button-primary-bgcolor: #0063b1 !important;
  --button-primary-hover-bgcolor: color-mix(in srgb, black 10%, #0063b1) !important;
  --button-primary-active-bgcolor: color-mix(in srgb, black 50%, #0063b1) !important;
  --lwt-selected-tab-background-color:var(--toolbar-bgcolor) !important;  
}

/*sombra de la pestaña activa eliminada y transparencia de la tabline y borde superior de la toolbar*/
#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
 box-shadow: none !important;}
#navigator-toolbox{--tabs-border-color: transparent !important}  
#tabbrowser-tabs {--tab-line-color: transparent !important}

/*Centrar botón "open newtab"*/
#TabsToolbar .toolbarbutton-1 {padding-top: 1px !important; padding-left: 1px !important;}

/*"Menú con menos espacios"*/
menupopup > menuitem, menupopup > menu{ padding-block: 0.3em !important;} 

/*"Botón de cerrar pestaña"*/
.tab-close-button{margin-inline-start: 0px !important;width: 16px !important;height: 16px !important;padding: 3px !important; margin-inline-end:-5px !important; }
.tab-close-button[selected="true"]{margin-inline-start: 0px !important;width: 16px !important;height: 16px !important;padding: 3px !important; margin-inline-end:-5px !important;}
.tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button{  border-radius: 4px !important;}
.tab-close-button:hover{background-color: var(--toolbarbutton-active-background) !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:-moz-box !important;}

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 2px }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; }

/*"Íconos de la urlbar más pequeños"*/
.sharing-icon, #permissions-granted-icon, #blocked-permissions-container > .blocked-permission-icon {  height: 14px !important; width :14px !important;}
#tracking-protection-icon{height: 14px !important; width :14px !important;padding: 0px !important; margin-left: 1px !important;}

/*"Color verde de la descripción de web segura"*/
#identity-icon {  width :14px !important;}
description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, #identity-popup-securityView-body > button {
 color: #2cf62c !important;}

/*Páginas seguras de firefox"*/
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:not([open]),#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:not([open]){
  background-color: #3e3bad !important;}
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button[open="true"],#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button[open="true"]{
  background-color: #3e3bdc !important;}

/*fondo de íconos de la urlbar"*/
:not(.urlbar-icon-wrapper) > .urlbar-icon:hover:not([open]), :not(.urlbar-icon-wrapper) > .urlbar-icon:hover:not([open]), .urlbar-icon-wrapper:hover:not([open]), 
 .urlbar-icon-wrapper:hover:not([open]) , .identity-box-button:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]) , 
 .identity-box-button:hover:not([open]){background-color: var(--toolbarbutton-hover-background) !important;}
:not(.urlbar-icon-wrapper) > .urlbar-icon[open="true"], :not(.urlbar-icon-wrapper) > .urlbar-icon[open="true"], .urlbar-icon-wrapper[open="true"], 
 .urlbar-icon-wrapper[open="true"],.identity-box-button[open="true"], #tracking-protection-icon-container[open="true"], .identity-box-button[open="true"]{
  background-color: var(--toolbarbutton-active-background) !important;}

/*"ícono de marcadores y vista de lectura más pequeños"*/
.urlbar-page-action:not([disabled]):hover, #urlbar-go-button:focus, .search-go-button:focus {
    background-color: var(--toolbarbutton-hover-background) !important;}
.urlbar-icon {margin-left: 2px !important}

/*"Urlbar y Search-bar más pequeñas"*/
#urlbar{min-height: 24px !important; margin-block: 0px 0px !important; text-shadow: none !important;}
#urlbar-background{margin-block: -1px -1px !important;background: transparent !important }
#urlbar[breakout]:not([open=true]) > #urlbar-input-container {height: 110% !important; margin-top: -1px !important;}
#urlbar-container{margin-block: 0px 0px;}
#searchbar {min-height: 27px !important;text-shadow: none !important; margin-block: 0px 0px !important; padding: 0px !important;background: transparent !important}
#searchbar{ margin-top: -2px !important; margin-bottom: -1px !important;}

/*rework en la Linea de Contenedores*/
tab:not([pinned])[selected] .tab-context-line {max-width: -moz-available !important; height: 32px !important; margin-left: 0px !important;  margin-right: 0px !important; margin-bottom: 0px !important;
  -moz-box-ordinal-group: 2 !important; opacity: 1 !important; border-radius: 4px !important;}
tab:not([pinned]) .tab-context-line {opacity: 0 !important;}
tab:is([pinned])[selected] .tab-context-line {max-width: -moz-available !important; height: 32px !important; margin-left: 0px !important;  margin-right: 0px !important; margin-bottom: 0px !important;
  -moz-box-ordinal-group: 2 !important; opacity: 1 !important;  border-radius: 4px !important;}
tab:is([pinned]):not([selected]) .tab-context-line { opacity: 0 !important;}

.tab-throbber-tabslist, .tab-throbber, .tab-icon-pending, .tab-sharing-icon-overlay, .tab-icon-image{border: 1px solid var(--identity-icon-color, #00000000) !important;
  border-radius: 4px !important; padding: 2px !important; width: 22px !important; height: 22px !important;}
.tab-throbber-tabslist, .tab-throbber, .tab-icon-pending, .tab-sharing-icon-overlay, 
  .tab-icon-image{ margin-right: 4px !important; margin-left: -4px !important}

.tab-throbber-tabslist:is([pinned]):not([selected]), .tab-throbber:is([pinned]):not([selected]), .tab-icon-pending:is([pinned]):not([selected]), .tab-sharing-icon-overlay:is([pinned]):not([selected]), 
  .tab-icon-image:is([pinned]):not([selected]){ margin-right: -2px !important; margin-left: -2px !important}
.tab-throbber-tabslist:is([pinned])[selected], .tab-throbber:is([pinned])[selected], .tab-icon-pending:is([pinned])[selected], .tab-sharing-icon-overlay:is([pinned])[selected], 
 .tab-icon-image:is([pinned])[selected]{margin-right: -2px !important; margin-left:-2px !important}

.tab-throbber::before{ display: none !important; }
.tab-throbber[busy]{ background-image: url("images/loading.svg") !important; background-size: 18px !important; background-repeat: no-repeat !important;  background-position:  center !important;} 

.identity-color-blue {--identity-tab-color: #2574A7 !important; --identity-icon-color: #2574A7 !important;}
.identity-color-green {--identity-tab-color: #1E934F !important; --identity-icon-color: #1E934F !important;}
.identity-color-orange {--identity-tab-color: #e67e22 !important; --identity-icon-color: #e67e22 !important;}
.identity-color-red {--identity-tab-color: #ff392b !important; --identity-icon-color: #ff392b !important; }
.identity-color-pink {--identity-tab-color: #ff33bb !important; --identity-icon-color: #ff33bb !important;}
.identity-color-purple {--identity-tab-color: #813E9D !important; --identity-icon-color: #813E9D !important;}
.identity-color-yellow {--identity-tab-color: #e6b803 !important; --identity-icon-color: #e6b803 !important;}
.identity-color-turquoise {--identity-tab-color: #03b48d !important; --identity-icon-color: #03b48d !important;}

/*Label de medios "Reproduciendo" modifiado*/
.tab-secondary-label:is([soundplaying], [pictureinpicture]) {display: -moz-box !important; margin-top:-4px !important; margin-bottom: 2px !important;
 margin-left: 14px !important; font-weight: bold !important;}
.tab-secondary-label:is([muted], [activemedia-blocked]) {display: none}

/*--------ícono de sonido simpre visible en pestañas con sonido, sin dejar de mostrar el favicon-------*/
.tab-icon-image:not([pinned]){ opacity: 1 !important;}
.tab-icon-overlay{height: 14px !important; width: 14px !important; z-index: 1 ; padding: 0px !important; }

.tab-icon-overlay[activemedia-blocked] { stroke:color-mix(in srgb , #ff0000 90%, var(--lwt-tab-text)) !important; color:var(--lwt-acent-color) !important; 
  padding: 0px !important;height: 13px !important; width: 13px !important;}
.tab-icon-overlay:is([pinned][activemedia-blocked]):hover {list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important; 
  stroke:  var(--lwt-accent-color) !important; color: var(--lwt-tab-text) !important; transition-duration: 150ms !important; opacity: 1 !important; fill-opacity: 1 !important}

/*------ícono  reproduciendose-------*/
.tab-icon-overlay:is([sharing],[soundplaying]):not([pinned]) {transition-duration: 200ms !important; opacity: 1 !important; border-radius: 9px !important; 
  top: 11px; left: 21px !important; color: var(--lwt-tab-text) !important; background-color: transparent !important;} 
.tab-icon-overlay:is([sharing],[soundplaying][selected]):not([pinned]){   fill-opacity: 1 !important;top: 11px !important;}

  /*Compartiendo microfono y cámara*/
    .tab-icon-overlay:not([crashed]):is([sharing]) {top: 12px !important; stroke: transparent !important; animation: 5000ms infinite linear; animation-name: slide1;} 

/*------muteado-------*/
.tab-icon-overlay[muted]:not([pinned]) , .tab-icon-overlay[activemedia-blocked]:not([pinned]) { 
border-radius: 9px !important; top: 11px; left: 9px !important;margin-right: 6px !important; animation: none !important; color:var(--lwt-tab-text) !important;
  background-color: var(--lwt-accent-color) !important; height: 13px !important; width: 13px !important; z-index: 1 !important}
  /*muteado seleccionado y no seleccionado*/
     .tab-icon-overlay:not([selected="true"])[muted], .tab-icon-overlay:not([selected="true"])[activemedia-blocked] ,
     .tab-icon-overlay:is([selected="true"][muted]) , .tab-icon-overlay[activemedia-blocked][selected="true"] {
      fill-opacity: 0.4 !important;}
  /*muteado hover*/
    .tab-icon-overlay:not([pinned])[muted]:hover , .tab-icon-overlay:hover[activemedia-blocked]:hover:not([pinned]){ stroke: transparent !important; color: var(--lwt-tab-text) !important; fill-opacity: 1 !important;
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important; height: 13px !important; width: 13px !important;}

/*----ícono "reproduciendo" hover----*/
.tab-icon-overlay:not([pinned])[soundplaying]:hover, .tab-icon-overlay:not([pinned])[activemedia-blocked]:hover{ 
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg") !important; 
  stroke: transparent !important; color: var(--lwt-tab-text) !important; fill-opacity: 1 !important;}

/*-----------ícono "reproduciendo" Pinned-----------*/
.tab-icon-overlay:is([pinned]){top: 11px !important; left: 9px !important; height: 13px !important; width: 13px !important;
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important; }
.tab-icon-overlay:is([pinned][muted]){ list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg") !important; fill-opacity: 0.8 !important;  stroke: var(--lwt-accent-color) !important; color: var(--lwt-tab-text) !important;}
.tab-icon-overlay:is([pinned][soundplaying]){ stroke: var(--lwt-accent-color) !important; color:var(--lwt-tab-text) !important}

/*ícono "reproduciendo" Pinned :hover*/
.tab-icon-overlay:is([pinned][muted]):hover{list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important; fill-opacity: 1 !important; stroke: var(--lwt-accent-color) !important}
.tab-icon-overlay:is([pinned][soundplaying]):hover{list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg") !important;
  background: var(--lwt-accent-color) !important; color: var(--lwt-tab-text) !important; transition-duration: 150ms !important; 
  fill-opacity: 1 !important;}

/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]:-moz-lwtheme{color: var(--lwt-tab-text) !important; --tab-line-color: transparent !important; }
.tabbrowser-tab> .tab-stack > .tab-background:is([multiselected]) , .tabbrowser-tab> .tab-stack > .tab-content:is([multiselected]){background: #4d4dfe  !important; background-color: #4d4dfe  !important;}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/
#urlbar-zoom-button {padding: 0px 2px !important; margin: 2px !important;}
.tab-label{text-shadow: none !important}

/*Linea gradiente en pestaña activa*/
tab:not([pinned])[selected="true"] .tab-background {background-image: linear-gradient(to bottom right, #fc2727 0%, #b02cfc 25%, #3567fd 40%, #fec837 75%, #fd1892 100%) !important;
  border-radius: 4px !important; height: 14px !important;  margin-left: -1px !important; margin-right: -1px !important;}
tab:not([pinned])[selected="true"] .tab-content:not([multiselected]) {background-color: color-mix( in srgb , var(--lwt-accent-color) 93%, black ); border-radius: 3px !important;
  margin-top: 4px !important; height: 30px !important; transition-duration: 0ms !important;}
tab:is([pinned])[selected="true"] .tab-background {background-image: linear-gradient(to bottom right, #fc2727 0%, #b02cfc 25%, #33b3fd 50%, #fec837 75%, #fd1892 100%) !important;
  border-radius: 4px !important; margin-left: -1px !important; margin-right: -1px !important;}
tab:is([pinned])[selected="true"] .tab-content {background-color: var(--lwt-accent-color) !important; border-radius: 3px !important;
  margin-top: 4px !important; height: 30px !important;}
tab:is([pinned]):not([selected="true"]) .tab-content {margin-top: 3px !important; height: 32px !important;}
.tab-content[selected="true"] {border-radius: 4px !important;transition-duration: 0ms !important;}

/*Margenes de las pestañas no seleccionadas*/
.tabbrowser-tab> .tab-stack > .tab-background:not([selected="true"],[multiselected]) {margin-left: -1px !important; margin-right: -1px !important;}
.tabbrowser-tab:hover> .tab-stack > .tab-background:not([selected="true"], [multiselected]){background-color: var(--button-hover-bgcolor) !important}

.tabbrowser-tab> .tab-stack {padding-right: 1px !important;}

/*linea colorida urlbar focus*/
#urlbar[focused=true]{background-image: linear-gradient(to bottom right, #fc272770 0%, #b02cfc70 25%, #33b3fd70 50%, #fec83770 75%, #fd189270 100%);
  border-radius: 5px !important;}
#urlbar[focused=true] #urlbar-background{background-color: color-mix(in srgb, var(--lwt-accent-color) 93%, black )!important; border: transparent !important;
  margin-bottom: 1px !important; margin-top: 1px !important; margin-left: 1px !important; margin-right: 1px !important;}
#urlbar[open=true] #urlbar-background{margin-bottom: 1px !important; margin-top: 1px !important; margin-left: 1px !important; margin-right: 1px !important;animation-duration: 0ms !important;}
#urlbar[open=true]{ margin-top: -1px !important; padding-top: 1px !important;}

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { 
 margin-inline-start: 4px !important; }

/*Menú contextual*/
  /* Menu items border and padding */
menupopup > menuitem, menupopup > menu { border-radius: 4px !important; margin-left: 4px !important; margin-right: 4px !important;  
  padding-inline-start: 0.5em !important}
  /*borde izquierda y derecha del menú contextual*/
menugroup > menuitem:first-child {padding-left: 4px !important;} 
menugroup > menuitem:last-child { padding-right: 4px !important;}
  /* context menu top buttons radius */
menugroup > menuitem { border-radius: 4px !important; }
menugroup > menuitem > hbox > image { border-radius: 4px !important;}
menuseparator { border-top: 1px solid var(--panel-separator-color) !important; padding: 0 !important; margin-left: 4px !important; margin-right: 4px !important;}
.menupopup-arrowscrollbox {background: var(--arrowpanel-background) !important; background-color:var(--arrowpanel-background) !important; color: var(--arrowpanel-color);
  border: 1px solid var(--arrowpanel-border-color) !important}

/*favicon de pagina newtab*/
.tab-icon-stack .tab-icon-image[src="chrome://branding/content/icon32.png"]{ background:url("images/foxlogo.svg")!important;
  background-size: 16px !important; padding-left: 18px !important; background-position: center !important; background-repeat: no-repeat !important; }

/*barra de menú*/
#main-menubar > menu  {border-radius: 4px !important;}

/*íconos en el menú de hamburguesa*/
.subviewbutton:not(.subviewbutton-iconic, .subviewbutton-back, [checked="true"]) > .toolbarbutton-icon {
  width: 16px; margin-inline-end: 8px !important;}
.subviewbutton {-moz-context-properties: fill; fill: currentColor;}
#appMenu-zoom-controls2 > .toolbarbutton-text {margin-inline-start: 24px !important;}
#appMenu-new-tab-button2 {list-style-image: url("chrome://browser/skin/new-tab.svg");}
#appMenu-new-window-button2, #appMenuRecentlyClosedWindows { list-style-image: url("chrome://browser/skin/window.svg");}
#appMenu-new-private-window-button2 { list-style-image: url("chrome://browser/skin/privateBrowsing.svg");}
#appMenu-bookmarks-button, #panelMenuBookmarkThisPage[starred], #appMenu-library-bookmarks-button, #sidebar-switcher-bookmarks {
  list-style-image: url("chrome://browser/skin/bookmark.svg");}
#appMenu-history-button, #appMenu-library-history-button, #sidebar-switcher-history { list-style-image: url("chrome://browser/skin/history.svg");}
#appMenu-downloads-button, #appMenu-library-downloads-button { list-style-image: url("chrome://browser/skin/downloads/downloads.svg");}
#appMenu-passwords-button { list-style-image: url("chrome://browser/skin/login.svg");}
#appMenu-extensions-themes-button {list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");}
#appMenu-print-button2 {list-style-image: url("chrome://global/skin/icons/print.svg");}
#appMenu-find-button2, #panelMenu_searchBookmarks {list-style-image: url("chrome://global/skin/icons/search-glass.svg");}
#appMenu-settings-button { list-style-image: url("chrome://global/skin/icons/settings.svg");}
#appMenu-help-button2 { list-style-image: url("chrome://global/skin/icons/help.svg");}
#appMenu-quit-button2 { list-style-image: url("chrome://browser/skin/quit.svg");}
#panelMenuBookmarkThisPage { list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");}
#panelMenu_viewBookmarksToolbar {list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");}
#appMenuRecentlyClosedTabs, #sidebar-switcher-tabs { list-style-image: url("chrome://browser/skin/tab.svg");}
#appMenuRestoreSession { list-style-image: url("chrome://browser/skin/restore-session.svg");}
#appMenuClearRecentHistory {list-style-image: url("chrome://browser/skin/forget.svg");}
#appmenu-moreTools-button, #overflowMenu-customize-button { list-style-image: url("chrome://browser/skin/customize.svg");}
[data-l10n-id="sidebar-menu-close"] { list-style-image: url("chrome://global/skin/icons/close.svg");}
:root[fxastatus="signedin"] #fxa-menu-avatar { display: unset; -moz-box-ordinal-group: 2;}
#fxa-manage-account-button vbox { margin-inline-start: 24px;}
.syncNowBtn { visibility: visible !important; margin-inline-end: 8px;  -moz-box-ordinal-group: 0 !important;}
#PanelUI-fxa-menu-connect-device-button, #PanelUI-fxa-menu-sendtab-button, #PanelUI-fxa-menu-account-signout-button, [oncommand="switchToTabHavingURI('about:performance', true)"] {
  background-position: left 8px center; background-repeat: no-repeat; background-size: 16px;}
#PanelUI-fxa-menu-connect-device-button { background-image: url("chrome://browser/skin/fxa/add-device.svg");}
#PanelUI-fxa-menu-sendtab-button { background-image: url("chrome://browser/skin/send-to-device.svg");}
#PanelUI-fxa-menu-account-signout-button { background-image: url("chrome://browser/skin/sign-out.svg");}
[oncommand="switchToTabHavingURI('about:performance', true)"] { background-image: url("chrome://global/skin/icons/performance.svg");}
#appMenu-fxa-label2::before { content: "";  display: block;  width: 16px;  height: 16px;  margin-inline-end: 8px;  border-radius: 50%;
  background: var(--avatar-image-url) no-repeat center/16px;}
