/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Color label deshabilitado y elementos de: "protección contra rastreo"*/
.protections-popup-category.notFound {color: #777 !important;}
.panel-info-button:not([disabled]):is([checked], :active) {background: var(--panel-separator-zap-gradient) !important; }
.panel-info-button:not([disabled]):is(:hover) {background: var(--button-primary-hover-bgcolor) !important; color: var(--arrowpanel-background) !important;
}
/*Borde Gradiente paneles desplegables - Arrowpanels*/
:is(menupopup, panel)[type="arrow"]{
    background-image: linear-gradient(165deg, #d02f85ee 0%, #b336fc9e 8%, #3567fd9e 30%, #4e7afd9e 60%,#4e89fd9e 70%, #d02f859e 100%) !important; 
    background-repeat: no-repeat !important;
    background-color: var(--arrowpanel-background) !important;
    border-radius: 8px !important;
    margin-top: 0px !important;
    border: 1px solid var(--arrowpanel-background) !important;
    background-clip: padding-box !important;
}
slot {
    --panel-shadow-margin: 0px !important;
    margin: 1px !important;
    border: none !important;
}
/* Mantener */
#protections-popup{
    margin-top: 0px !important; 
    margin-inline: -16px !important;
    margin-right: 0px !important;
}
/*Color fondo clic por los diferentes items de menús principales*/
.protections-popup-category:active, .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:active), toolbarbutton.subviewbutton:not([disabled], [open]):is(:active), 
.navigable.subviewbutton:not([disabled], [open]):is(:active), menu.subviewbutton:not([disabled])[_moz-menuactive], 
 menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:active),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:active) {
 background-image: var(--panel-separator-zap-gradient) ;
}
/*Color fondo gradiente :hover por los diferentes items de menús principales*/
/*
.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open]):is(:hover), 
.navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover], 
 menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
 background-image: var(--panel-separator-zap-gradient) ;
}
*/
/*Menú hamburguesa más amplio*/
#appMenu-popup panelview{
    padding-top: calc(24px + var(--tab-block-margin)) !important;
    width: 24.5em !important;
}
/*Linea gradiente en los menús principales*/
.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient1) 1 !important;}
.PanelUI-subView menuseparator, #PlacesToolbar menupopup[placespopup="true"] toolbarseparator, #widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator, .PanelUI-subView toolbarseparator, #permission-popup-mainView > toolbarseparator,
#protections-popup-multiView toolbarseparator, #identity-popup-mainView toolbarseparator, #identity-popup-securityView > toolbarseparator, 
#editBookmarkPanel toolbarseparator, #downloadsFooterButtons > toolbarseparator {    
    /*border-image: var(--gradient) 1 !important;*/
    /*border-image: var(--panel-separator-zap-gradient) 1 !important;*/
}
/*Linea de arcoiris en los menús principales*/
.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient) 1 !important;
}
/*
#PlacesToolbar menupopup[placespopup="true"] menuseparator::before {
    border-image: var(--gradient) 1 !important;
}
*/
/* Panel de descargas */
#downloadsListBox > richlistitem:not(:hover) { background: transparent !important; color: var(--ltw-tab-text) !important; }
#downloadsListBox > richlistitem:is(:hover):not([disabled="true"]) { background: var(--button-hover-bgcolor) !important; color: var(--ltw-tab-text) !important; }

#protections-popup, #editBookmarkPanel{ 
    margin-top: 0px !important;  
    margin-inline: -6px !important; }
/*-----------------íconos en el menú de hamburguesa----------------------*/

/*Posicion y margen de los íconos*/
.subviewbutton:not(.subviewbutton-iconic, .subviewbutton-back, [checked="true"])>.toolbarbutton-icon {
    width: 16px;
    margin-inline-end: 8px !important;
}
/* Margen item -tamaño- */
panelmultiview .toolbaritem-combined-buttons > label {
    margin-inline-start: 23px !important;
}
/*Color y margen de los íconos*/
.subviewbutton {
    -moz-context-properties: fill;
    fill: currentColor;
}
.subviewbutton:hover {
    -moz-context-properties: fill;
    fill: currentColor;
}
/* Alinear lista de pestañas sincronizadas */
.PanelUI-remotetabs-clientcontainer label {
    padding-inline-start: 0px !important;
}
/*ícono account*/
#appMenu-fxa-label2::before , #fxa-manage-account-button::before {
    background: var(--avatar-image-url) no-repeat center/16px;
    content: ""; display: block; width: 16px; height: 16px;
    margin-inline-end: 7px;
    border-radius: 50%;
}
:root[fxastatus="signedin"] #fxa-menu-avatar {
    display: unset; order: 2 !important;
}
/*Ícono Nueva Pestaña*/

#appMenu-new-tab-button2 {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
}
/*Ícono Nueva Ventana - PestañasCerradasRecientes*/

#appMenuRecentlyClosedTabs, #sidebar-switcher-tabs {
    list-style-image: url("chrome://browser/skin/window.svg");
}
#appMenu-new-window-button2, #appMenuRecentlyClosedWindows {
    list-style-image: url("chrome://browser/skin/tab.svg");
}
/*Ícono Ventana Privada*/

#appMenu-new-private-window-button2 {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}
/*Ícono Marcadores*/

#appMenu-bookmarks-button, #panelMenuBookmarkThisPage[starred], #appMenu-library-bookmarks-button, #sidebar-switcher-bookmarks {
    list-style-image: url("../images/bookmark-empty.svg");
}
/*ícono Historial*/

#appMenu-history-button, #appMenu-library-history-button, #sidebar-switcher-history {
    list-style-image: url("chrome://browser/skin/history.svg");
}
/*ícono decargas*/

#appMenu-downloads-button, #appMenu-library-downloads-button {
    list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}
/*Ícono Contraeñas*/

#appMenu-passwords-button {
    list-style-image: url("chrome://browser/skin/login.svg");
}
/*Ícono Complementos*/

#appMenu-extensions-themes-button {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}
/*Ícono Imprimir*/

#appMenu-print-button2 {
    list-style-image: url("chrome://global/skin/icons/print.svg");
}
/*Ícono Ajustes*/

#appMenu-settings-button {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
}
/*Ícono Ayuda*/

#appMenu-help-button2 {
    list-style-image: url("chrome://global/skin/icons/help.svg");
}
/*Ícono salir*/

#appMenu-quit-button2:hover {
    list-style-image: url("../images/quit.png");
    background-color: #da3633 !important;
    color: #fff !important;
}
/*Íconos de marcadores*/

#panelMenuBookmarkThisPage {
    list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
}
#appMenu-find-button2, #panelMenu_searchBookmarks {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#panelMenu_viewBookmarksToolbar {
    list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}
/*Ícono Borrar Historial*/

#appMenuClearRecentHistory {
    list-style-image: url("chrome://browser/skin/forget.svg");
}
/*ícono Personalizar BarraHerramientas*/

#appmenu-moreTools-button, #overflowMenu-customize-button {
    list-style-image: url("chrome://browser/skin/customize.svg");
}
/*Ícono SincronizarAhora*/
.syncNowBtn {
    visibility: visible !important;
    margin-inline-end: 8px;
    order: 0 !important;
}
