/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Arrowpanel, popup menus & panels styles */

:is(menupopup, panel):where([type="arrow"]) {
    --my-background-image-popup: radial-gradient( 100% 91.38% at 50% 99.62%,
                           color-mix(in srgb, var(--general-color) 10%, transparent) 0%,
                           var(--arrowpanel-background));
    --panel-background: var(--my-background-image-popup), var(--noise-urlbar-personal),
                        var(--noise-urlbar-personal), var(--arrowpanel-background)  !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

panel {
    --panel-shadow: 0 0 0 1px var(--contrast-color) !important;
    
    @media (prefers-color-scheme: light) {
        --contrast-color: var(--border-contrast-color) !important;
    }
}

/* Remove unwanted style for radiobutton */

.toggle-button {
    --toggle-dot-background-color-on-pressed: var(--arrowpanel-background) !important;
}

/* Alignment of popups [Open] */

.panel-no-padding[type="arrow"] {
    margin-block: calc(-1 * var(--panel-shadow-margin) + 1px) !important;
    margin-inline: -4px !important;
}

/* Gradient border around popups -&- border color in popups like bookmark */

:is(menupopup, panel):where([type="arrow"]) {
    &::after,
    &::before {
        content: "";
        position: absolute;
        inset: calc(var(--panel-shadow-margin) + 0px);
        border-radius: var(--arrowpanel-border-radius);
        padding: 1px;
        background-position: center center !important;
        background: var(--my-arrowpanel-gradient);
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        pointer-events: none !important;
    }
}

/*Color fondo gradiente :hover por los diferentes items de menús principales

.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open]):is(:hover), 
.navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover], 
 menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
 background-image: var(--panel-separator-zap-gradient) ;
}*/

/* Color fondo clic por los diferentes items de menús principales */

.protections-popup-category:active, .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:active), toolbarbutton.subviewbutton:not([disabled], [open]):is(:active), 
.navigable.subviewbutton:not([disabled], [open]):is(:active), menu.subviewbutton:not([disabled])[_moz-menuactive], 
 menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:active),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:active) {
    background-image: var(--my-menuitem-gradient) ;
    background-repeat: no-repeat !important;
    color: white !important;
    fill: white !important;
}

/*Linea de arcoiris en los menús principales*/

.PanelUI-subView {
    & toolbarseparator.proton-zap::before,
    &> toolbarseparator::before {
        border-image: var(--my-menuitem-gradient) 1 !important;
        opacity: 0.6;
    }
}

/* Panel de descargas */

#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
    padding: 0px !important;
}

#downloadsListBox > richlistitem:not(:hover) { 
    background: transparent !important; 
    color: var(--ltw-tab-text) !important; 
}

#downloadsListBox > richlistitem:is(:hover):not([disabled="true"]) { 
    background: var(--button-hover-bgcolor) !important; 
    color: var(--ltw-tab-text) !important; 
}

.downloadMainArea {
    padding-block: 0px !important;
    padding-inline-start: 4px;
    margin: 0px !important;
}

/* ______________________________ Sidebar-box ______________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#sidebar-box {
    --sidebar-border-color: var(--my-content-border-color) !important;
    background-color: transparent !important;
    max-width: none !important;
    min-width: 1px !important;
    
    @media (-moz-pref("firefoxchameleon.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always')) and
        (not -moz-pref("sidebar.revamp")) {
            outline: 1px solid var(--my-content-border-color) !important;
            border-radius: var(--border-radius-small) var(--border-radius-small) 0 0 !important;
            
            /* Sidebar on right */
            &[sidebar-positionend] {
                border-radius: var(--border-radius-small) 0 0 0 !important;
            }
    }
    
    ~ #sidebar-splitter {
        border-color: transparent !important;
        border-inline-width: 0px !important;
        --splitter-width: 1px !important;
        --space-medium: 4px !important;
        
        @media -moz-pref("firefoxchameleon.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {
            --splitter-width: 6px !important;
            --space-medium: 4px !important;
        }
    }
}

.sidebar-splitter {
  @media (not -moz-pref("sidebar.revamp")) and (-moz-pref("firefoxchameleon.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always')) {
      &:not(:hover) {
          background-color: transparent !important;
      }
      
      background-color: var(--general-color) !important;
    }
}

/* Sidebar-box when using 'sidebar-revamp' */ 

@media -moz-pref("sidebar.revamp") {
    
    /* Remove extra margin of sidebar header - extensions */
    #sidebar-panel-header {
        margin-block: 0px !important;
        padding-block: 0px !important;
    }
    
    /* Round corner fix - tested in 'sync tabs' in theme with images */
    #sidebar-box {
        padding-block-end: 0px !important;

        & > .sidebar-browser-stack {
            /* Border */
            & #sidebar {
                border-radius: var(--border-radius-small) var(--border-radius-small) 0 0 !important;
                outline-offset: -1px !important;
                outline: none !important;
                border: 1px solid var(--my-content-border-color) !important;
            }
        }
    }
}

/* Searchbox in Sidebar 'bookmarks-history-sync' */

#search-box,
#input {  
    --input-text-border-color: #80808080 !important;
    --input-text-background-color: color-mix(in srgb, Field, transparent) !important;

    &:focus {
        --input-text-border-color: var(--general-color) !important;
    }
}

/* sync-tabs sidebar searchbox */

#input {
    &[type="search"] {
        border-color: #80808080 !important;
        &:focus {
            --toolbarbutton-icon-fill-attention: unset !important;
            outline: 2px solid var(--general-color) !important;
            border-color: var(--general-color) !important;
        }
    }
}

/* _____ information bar _____
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

.infobar {
    /* Background */
    --info-bar-background-color: var(--toolbar-bgcolor) !important;

    /* Gradient */
    &::before {
        background: linear-gradient(to bottom, var(--start-color), var(--middle-color)) !important;
    }
}

/* Infobar icon */
.icon[data-l10n-id="moz-message-bar-icon-info"] {
    fill: var(--general-color) !important;
}

/*-------------------------------------- Íconos en el menú de hamburguesa ----------------------------------------------*/

:root {
    --label-color: color-mix(in srgb, var(--arrowpanel-color, var(--tab-selected-textcolor)) 86%, transparent);
    }

/* Tamaño menu Open ventana no maximizada */

#appMenu-popup panelview{ width: 25em !important;
}

/* Color de íconos y label */

.subviewbutton:not([disabled]), #appMenu-popup toolbarbutton:not([disabled]) .toolbarbutton-text label {
    -moz-context-properties: fill;
    fill: var(--label-color) !important;
    color: var(--label-color) !important;
}

.subviewbutton:is([disabled]){
    -moz-context-properties: fill;
    fill: #80808080 !important;
}

/* Alinear lista de pestañas sincronizadas */
    
.PanelUI-remotetabs-clientcontainer>.subviewbutton>label {
    padding-inline-start: 0px !important;
}

/* Tamaño y margen de los íconos */

#appMenu-fxa-status2[fxastatus="signedin"] #appMenu-fxa-label2::before, #fxa-manage-account-button::before,     /* Account icon signedin */
#appMenu-fxa-status2:not([fxastatus="signedin"])::before,                                                       /* Account icon not signedin */
.panel-banner-item::before {
    margin-inline-end: 8px !important;
}

#appMenu-zoom-controls:before {           
    margin-inline-start: 8px !important;
}

/* Ícono de Actualización disponible */

.panel-banner-item::before {
    background: url("../icons/foxFill.svg") no-repeat center/16px;
    content: ""; 
    display: inline-flex;
    -moz-context-properties: fill;
    fill: #3ad3a2 !important;
}

#appMenu-popup .panel-banner-item:not([disabled]), #appMenu-popup .addon-banner-item:not([disabled]){
    background: var(--button-bgcolor) !important;
    padding-inline-end: 4px !important;
}
#appMenu-popup .panel-banner-item:not([disabled]):hover, #appMenu-popup .addon-banner-item:not([disabled]):hover {
    background: var(--button-active-bgcolor) !important;
}

/* 'About Firefox' logo when checking browser update */
#leftBox {
  background-image: image-set(url("../icons/fox-fill-gradient.svg"), url("../icons/fox-fill-gradient.svg") 2x) !important;
}

/* ___________________________________________________ Borders around sidebars and web content __________________________________________________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#sidebar-box, #browser {
    --border-radius-small: calc(var(--tab-border-radius) + 2px) !important;
}

@media -moz-pref("firefoxchameleon.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {

    :root:not([chromehidden*="menubar"], [inDOMFullscreen]) {  /* Not apply style to popup windows and webapps and when a video is in fullscreen */

        #sidebar-box {
            & ~ #tabbrowser-tabbox {
                outline: 1px solid var(--my-content-border-color) !important;
                border-top-left-radius: var(--border-radius-small) !important;

                :root[inFullscreen] & {
                    border-radius: 0px !important;
                }
                
                 /* Border radius in web content - tested in main youtube page */
                .browserStack, 
                .browserStack>browser {
                    --my-content-border-radius: var(--border-radius-small) 0px 0 0;
                    border-radius: var(--my-content-border-radius);

                    :root[inFullscreen] & {
                        border-radius: 0;
                    }
                }
            }
            
            &[checked][sidebar-positionend] ~ #tabbrowser-tabbox {
                border-top-right-radius: var(--border-radius-small) !important;
                
                :root[inFullscreen] & {
                    border-radius: 0px !important;
                }
                
                .browserStack, 
                .browserStack>browser {
                    --my-content-border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;

                    :root[inFullscreen] & {
                        border-radius: 0;
                    }
                }
            }
            
            :root[inFullscreen] & {
                --border-radius-small: 0 !important;
            }
        }
    }
}

@media -moz-pref( "sidebar.revamp") {
    
    /* web content */

    :root:not([inDOMFullscreen]) #sidebar-main:not([hidden]) ~ #tabbrowser-tabbox {
        outline-color: transparent !important;
        box-shadow: none !important;
        border-radius: var(--border-radius-small) 0 0 0 !important;        
        border: 1px solid var(--my-content-border-color) !important;
        border-inline-end-width: 0px !important;
        border-block-end-width: 0px !important;
        
        .browserStack, 
        .browserStack>browser {
            border-radius: var(--border-radius-small) 0 0 0 !important;
        }
    }

    /* Remove sidebar unwanted shadow */
    #sidebar {
        box-shadow: none !important;
    }
}

/* _____________ Sidebar on right side */

@media -moz-pref("sidebar.revamp") and (not -moz-pref("sidebar.position_start")) {

    /* Border around web content */
    
    :root:not([inDOMFullscreen]) #sidebar-main:not([hidden]) ~ #tabbrowser-tabbox {
        border-inline-start-width: 0px !important;
        border-inline-end-width: 1px !important;
        border-radius: 0 var(--border-radius-small) 0 0 !important;
        
        .browserStack, 
        .browserStack>browser {
            border-radius: 0 var(--border-radius-small) 0 0 !important;
        }
        
    }
    
    /* Sidebar content + web content */
    :root:not([inDOMFullscreen]) #sidebar-main:not([hidden]) ~ #sidebar-box[checked="true"] ~ #tabbrowser-tabbox {
        border-radius: 0 var(--border-radius-small) 0 0 !important;
    }
}

@media -moz-pref("firefoxchameleon.tree-tabs") and -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {
    
    :root:not([inDOMFullscreen]) {
        #sidebar-box:not(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
            box-shadow:  0 -1px var(--my-content-border-color) !important;

            ~ #tabbrowser-tabbox {
                box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
            }
        }

        #navigator-toolbox {
            border-bottom-color: transparent !important;
        }

        #sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
            &:not(:hover) {
                box-shadow:  0 -1px var(--my-content-border-color) !important;/**/
            }

            ~ #tabbrowser-tabbox {
                outline-color: transparent !important;
                box-shadow: none !important;
                border-radius: var(--border-radius-small) 0 0 0 !important;
                border: 1px solid var(--my-content-border-color) !important;
                border-inline-end-width: 0px !important;
                border-block-end-width: 0px !important;

                @media (not -moz-pref("sidebar.position_start")) {
                    border-radius: 0 var(--border-radius-small) 0 0 !important;
                    border-inline-start-width: 0px !important;
                    border-inline-end-width: 1px !important;
                }


                .browserStack, 
                .browserStack>browser {
                    clip-path: xywh(0 0 100% 100% round var(--border-radius-small) 0 0 0 );

                    @media (not -moz-pref("sidebar.position_start")) {
                        clip-path: xywh(0 0 100% 100% round 0 var(--border-radius-small) 0 0 );
                    }
                }
            }
        }
    }
}