/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Color label deshabilitado y elementos de: "protección contra rastreo"*/

.protections-popup-category.notFound { color: #777 !important;}
.panel-info-button:not([disabled]):is([checked], :active) { background: var(--panel-separator-zap-gradient) !important; }
.panel-info-button:not([disabled]):is(:hover) { background: var(--button-primary-hover-bgcolor) !important; 
}

/*Borde Gradiente paneles desplegables - Arrowpanels*/

:is(menupopup, panel)[type="arrow"]{
    background-image: linear-gradient(165deg, #d02f85ee 0%, #b336fc9e 8%, #3567fd9e 30%, #4e7afd9e 60%,#4e89fd9e 70%, #d02f859e 100%) !important; 
    background-repeat: no-repeat !important;
    background-color: var(--arrowpanel-background) !important;
    border-radius: 6px !important;
    margin-top: 0px !important;
    border: 1px solid var(--arrowpanel-background) !important;
    background-clip: padding-box !important;
}

slot {
    --panel-shadow-margin: 0px !important;
    margin: 1px !important;
    border: none !important;
    padding: 5px !important;
}

/* Color fondo clic por los diferentes items de menús principales */

.protections-popup-category:active, .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:active), toolbarbutton.subviewbutton:not([disabled], [open]):is(:active), 
.navigable.subviewbutton:not([disabled], [open]):is(:active), menu.subviewbutton:not([disabled])[_moz-menuactive], 
 menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:active),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:active) {
    background-image: var(--panel-separator-zap-gradient) ;
    background-repeat: no-repeat !important;
    color: white !important;
    fill: white !important;
}

/*Color fondo gradiente :hover por los diferentes items de menús principales

.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open]):is(:hover), 
.navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover], 
 menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
 background-image: var(--panel-separator-zap-gradient) ;
}*/

.subviewbutton-back , .panel-header > h1 > span {
  margin-block-end: 6px !important;
}

/*Linea de arcoiris en los menús principales*/

.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient) 1 !important;
}

/*
#PlacesToolbar menupopup[placespopup="true"] menuseparator::before {
    border-image: var(--gradient) 1 !important;
}
*/
/* Panel de descargas */

#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
    padding: 0px !important;
}

#downloadsListBox > richlistitem:not(:hover) { 
    background: transparent !important; 
    color: var(--ltw-tab-text) !important; 
}

#downloadsListBox > richlistitem:is(:hover):not([disabled="true"]) { 
    background: var(--button-hover-bgcolor) !important; 
    color: var(--ltw-tab-text) !important; 
}

.downloadMainArea {
    padding-block: 0px !important;
    padding-inline-start: 4px;
    margin: 0px !important;
}

/*-------------------------------------- Íconos en el menú de hamburguesa ----------------------------------------------*/

:root {
    --label-color: color-mix(in srgb, var(--arrowpanel-color, var(--lwt-tab-text))80%, transparent);
    }

/* Tamaño menu Open ventana no maximizada */

#appMenu-popup panelview{ width: 25em !important;
}

/* Color de íconos y label */

.subviewbutton:not([disabled]), #appMenu-popup toolbarbutton:not([disabled]) .toolbarbutton-text label {
    -moz-context-properties: fill;
    fill: var(--label-color) !important;
    color: var(--label-color) !important;
}

.subviewbutton:is([disabled]){
    -moz-context-properties: fill;
    fill: #80808080 !important;
}

/* Alinear lista de pestañas sincronizadas */
    
.PanelUI-remotetabs-clientcontainer>.subviewbutton>label {
    padding-inline-start: 0px !important;
}

/* Tamaño y margen de los íconos */

.subviewbutton:not(.subviewbutton-iconic, .toolbarbutton-text, [checked="true"])> .toolbarbutton-icon,          /* Mayoría de botones */
#appMenu-fxa-status2[fxastatus="signedin"] #appMenu-fxa-label2::before, #fxa-manage-account-button::before,     /* Account icon signedin */
#appMenu-fxa-status2:not([fxastatus="signedin"])::before,                                                       /* Account icon not signedin */
.panel-banner-item::before,                                                                                     /* Baner de actualización disponible */
#appMenu-zoom-controls:before, .syncNowBtn{           
    width: 16px; height: 16px;
    margin-inline-start: 0px !important;
    margin-inline-end: 8px !important;
}

/* Ícono de Actualización disponible */

.panel-banner-item::before {
    background: url("../images/foxFill.svg") no-repeat center/16px;
    content: ""; 
    display: inline-flex;
    -moz-context-properties: fill;
    fill: #3ad3a2 !important;
}

#appMenu-popup .panel-banner-item:not([disabled]), #appMenu-popup .addon-banner-item:not([disabled]){
    background: var(--button-bgcolor) !important;
    padding-inline-end: 4px !important;
}
#appMenu-popup .panel-banner-item:not([disabled]):hover, #appMenu-popup .addon-banner-item:not([disabled]):hover {
    background: var(--button-active-bgcolor) !important;
}
    
/* ----------------------------- Ícono Account ------------------------------ */
    
/* Cuenta no iniciada  */

#appMenu-fxa-status2:not([fxastatus="signedin"])  toolbarbutton {
    border-radius: var(--tab-border-radius) !important;
}

#appMenu-fxa-status2:not([fxastatus="signedin"])  toolbarbutton:hover {
    background-color: var(--button-active-bgcolor) !important;
}

#appMenu-fxa-status2:not([fxastatus="signedin"])::before  {
    content: var(--avatar-image-url);
}

/* Cuenta iniciada */

#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"]) #appMenu-fxa-label2::before,
#fxa-manage-account-button::before {
    content: "";
    border-radius: 50% !important;
    background-size: 16px !important;
    background-image: var(--avatar-image-url) !important;
}
    
/* Ícono Nueva Pestaña */

#appMenu-new-tab-button2 {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
}

/* Ícono Nueva Ventana - PestañasCerradasRecientes */

#appMenuRecentlyClosedTabs, #sidebar-switcher-tabs {
    list-style-image: url("chrome://browser/skin/window.svg");
}

#appMenu-new-window-button2, #appMenuRecentlyClosedWindows {
    list-style-image: url("chrome://browser/skin/tab.svg");
}

/* Ícono Ventana Privada */

#appMenu-new-private-window-button2 {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}

/* Ícono Marcadores */

#panelMenuBookmarkThisPage[starred]{
    list-style-image: url("../images/bookmark.svg");
    fill: var(--toolbarbutton-icon-fill) !important;
}
#appMenu-bookmarks-button, #appMenu-library-bookmarks-button, #sidebar-switcher-bookmarks,#panelMenuBookmarkThisPage:not([starred]) {
    list-style-image: url("../images/bookmark-empty.svg");
}

/* ícono Historial */

#appMenu-history-button, #appMenu-library-history-button, #sidebar-switcher-history {
    list-style-image: url("chrome://browser/skin/history.svg");
}

/* ícono decargas */

#appMenu-downloads-button, #appMenu-library-downloads-button {
    list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}

/* Ícono Contraseñas */

#appMenu-passwords-button {
    list-style-image: url("chrome://browser/skin/login.svg");
}

/* Ícono Complementos */

#appMenu-extensions-themes-button {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

/* Ícono Imprimir */

#appMenu-print-button2 {
    list-style-image: url("chrome://global/skin/icons/print.svg");
}

/* Guardar como... */

#appMenu-save-file-button2{
    list-style-image: url("../images/save.svg");
}

/* Ícono buscar */

#appMenu-find-button2, #panelMenu_searchBookmarks {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}

/* Ícono translate */

#appMenu-translate-button{
    list-style-image: url(chrome://browser/skin/translations.svg);
}

/* Item -tamaño- */

#appMenu-zoom-controls:before{
    content: url(../images/zoom.svg);
}

/* Ícono Ajustes */

#appMenu-settings-button {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
}

/* Ícono Ayuda */

#appMenu-help-button2 {
    list-style-image: url("chrome://global/skin/icons/help.svg");
}
#appMenu-more-button2 {
    list-style-image: url("chrome://global/skin/icons/developer.svg");
}

/* Ícono salir */

#appMenu-quit-button2 {
    list-style-image: url("../images/quit1.svg");
}

#appMenu-quit-button2:hover {
    list-style-image: url("../images/quit2.svg");
}

#panelMenu_viewBookmarksToolbar {
    list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

/* Ícono -Buscar en el historial- */

#appMenuSearchHistory{
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}

/* Ícono Borrar Historial */

#appMenuClearRecentHistory {
    list-style-image: url("chrome://browser/skin/forget.svg");
}

/* ícono Personalizar Barra Herramientas */

#appmenu-moreTools-button, #overflowMenu-customize-button {
    list-style-image: url("chrome://browser/skin/customize.svg");
}

/* Ícono SincronizarAhora */

.syncNowBtn {
    visibility: visible !important; order: -1 !important;
}

/* Ícono -Conectar Otro Dispositivo- */

#PanelUI-fxa-menu-connect-device-button {
    list-style-image:  url("chrome://browser/skin/device-phone.svg");
}

/* Ícono -enviar pestaña a dispositivo- */

#PanelUI-fxa-menu-sendtab-button{
    list-style-image:  url("chrome://browser/skin/synced-tabs.svg");    
}

/* Ícono -Ajustes de sincronización- */
#PanelUI-fxa-menu-sync-prefs-button{
    list-style-image: url("chrome://global/skin/icons/settings.svg");
}

/* Ícono de -Cerrar sesión- */
#PanelUI-fxa-menu-account-signout-button{
    list-style-image: url("../images/logout.svg");
}