/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Bookmark popup dropdown colors */

panel menulist {
    &:hover, 
    &[open] {
        background: var(--my-menuitem-gradient) !important;
        color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
        box-shadow: none !important;
    }
}

/* Border color (down arrow) */

.hideable {
    --button-background-color-hover: var(--button-hover-bgcolor) !important;
}

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: transparent !important;
}

/* 'Save' & 'Remove' buttons */

#editBookmarkPanelDoneButton {   
    color: white !important;
}

#editBookmarkPanelRemoveButton {
    --button-background-color-hover: #da3633bb !important;
    -moz-context-properties: fill !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    
    & label {
        display: none !important;
    }
}

/* Background and Border Color in items (Dropdown Menu) */

/* Style tested in sidebar-bookmarks, clic in the arrow | can't convine with the next line for unknow reason */
treechildren::-moz-tree-row(current, focus),
treechildren::-moz-tree-row(selected) {
    background: var(--my-menuitem-gradient) !important;
    outline-color: transparent !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected) {
    background: var(--my-menuitem-gradient) !important;
}

treechildren::-moz-tree-image(selected), 
treechildren::-moz-tree-twisty(selected), 
treechildren::-moz-tree-cell-text(selected) {
    color: currentColor !important;
}

#editBMPanel_folderTree,
#editBMPanel_tagsSelector {
    background-color: var(--input-bgcolor, Field) !important;
    border-color: var(--input-border-color, Field) !important;
}

/* Show keyword box when bookmark a website */

.editBMPanel_locationRow, .editBMPanel_keywordRow{
    visibility: visible !important;
    display: block !important;
}

/*--------------------------Panel Guardar Marcador----------------------------------*/

/*Color de "highlight" inputtext*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--button-primary-bgcolor) !important;
    color: white !important;
}

/* Separador linea Vertical para tabs-bar, usando "espacio flexible" */
:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],:is(#TabsToolbar) toolbarspring {
    background: var(--toolbarseparator-color) !important;
    max-width: 1px !important;
    min-width: 1px !important;
    max-height: 14px !important;
    min-height: 14px !important;
    margin-inline: 3px !important;
    margin-top: calc(var(--tab-height-personal) - 20px) !important;
}

/* ______________ Unified extentions button ______________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

:root{ --uei-icon-size: 18px !important; }

#unified-extensions-manage-extensions .toolbarbutton-icon{
    margin-inline: 2px 4px !important;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
    opacity: 1 !important;
}

#unified-extensions-panel {
    --menu-panel-width-wide: 30em !important; /* Keep the second line in 1 line 'Spanish languaje' */
    
    .unified-extensions-item {
        padding-block: 0 !important;
        margin-block: 0px !important;
    }
}

.unified-extensions-item-action-button.panel-no-padding.webextension-browser-action.subviewbutton.subviewbutton-iconic{
    padding-block: 2px !important;
    margin-block: 0px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
    padding: 0px 6px !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background: var(--button-hover-bgcolor) !important;
    border-radius: 3px !important;
}

/* Second label del botón de extensiones */

#unified-extensions-area toolbaritem:hover .unified-extensions-item-message-deck label{
    color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
}

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

/* Delete style when 'sidebar' button change to 'active' */

#sidebar-button {
    --toolbarbutton-active-background: transparent !important;

    &[checked] {
        @media -moz-pref("sidebar.revamp") {
            list-style-image: url("chrome://browser/skin/sidebar-collapsed.svg") !important;
        }

        &:hover {
            --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
        }
    }
}