/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*-"Radiobutton"-ProtecciónAntirastreo*/
.protections-popup-tp-switch[enabled]:hover {
    background-color: #3030ff !important;
    border-color: transparent !important;
}
.protections-popup-tp-switch[enabled] {
    background-color: #4a4aff !important;
    border-color: transparent !important;
}
/*color Rojo de boton "borrar marcador"*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton {
    box-shadow: inset 0px 0px 0 1px var(--button-bgcolor) !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
}
/*color boton "Guardar" marcador en :hover*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton:hover{
background-image: var(--panel-separator-zap-gradient) !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton:hover {
    color: #eaeaea !important;
}
/*Color del botón menú deplegable*/
panel menulist, panel menulist:not([open]) {
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
}
panel menulist:hover, panel menulist[open] {
    background-image: var(--panel-separator-zap-gradient) !important;
    color: #eaeaea !important;
    box-shadow: none !important;
}
/*Color -fondo y borde- menu desplegable (flecha hacia abajo)*/
#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
    border-radius: 4px !important
}
#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    border: none !important;
    background-image: var(--panel-separator-zap-gradient) !important;
    color: #eaeaea !important;
}
/*Color -fondo y letras - botón menu desplegable*/
treechildren::-moz-tree-row(selected) {
    background-color: var(--button-primary-bgcolor) !important;
    outline: none !important;
}
treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: white !important;
}
/*--------------------------Marcadores----------------------------------*/
#editBookmarkHeaderSeparator{display: none !important;}
#editBookmarkPanel vbox, .panel-header{
    background-color: var(--arrowpanel-background) !important;
    border: 1px solid transparent !important;
    border-radius:0 0 8px 8px!important;
    background-clip: padding-box !important;
}
.panel-header{
   border-radius: 8px 8px 0 0 !important; border-bottom: none !important;}

/*Color de "highlight" inputtext*/
richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--button-primary-bgcolor) !important;
    color: white !important;
}
/*Imagen grande y Favicon*/
#editBookmarkPanelImage{
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
}
#editBookmarkPanelFavicon[src] {
  background-color: color-mix(in srgb, var(--arrowpanel-background) 94%, var(--lwt-tab-text)) !important;
  box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
  margin-top: 4px !important;
  margin-inline-start: 4px !important;
}
/*Color de iconos de la toolbar cuando están :hover */
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-text,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-badge-stack {
    fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}
/*Aspecto cuadro deplegable mouse hover*/
#tabbrowser-tab-tooltip,#places-tooltip-insecure-icon,
#btTooltip,#un-toolbar-tooltip,
#tooltip,.tooltip,#aHTMLTooltip,
#urlTooltip,tooltip,.places-tooltip {
	appearance: none !important;
	color: var(--lwt-tab-text) !important;
	width: auto !important;
	height: auto !important;
	background: color-mix(in srgb, var(--lwt-frame) 96%, var(--lwt-tab-text)) !important;    
	border-color: color-mix(in srgb, var(--lwt-frame) 75%, var(--lwt-tab-text)) !important;
	margin-inline-start: 4x !important;
    margin-inline-end: 4x !important;
	font-size: 14px !important;
	opacity: 1 !important;
	padding-top: 0px !important;
    padding-bottom: 1px !important;
	border-radius: 4px !important;
}