/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*-"Radiobutton"-ProtecciónAntirastreo*/
.protections-popup-tp-switch[enabled]:hover {
    background-color: #3030ff !important;
    border-color: transparent !important;
}
.protections-popup-tp-switch[enabled] {
    background-color: #4a4aff !important;
    border-color: transparent !important;
}
/*colores del boton "borrar marcador"*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton {
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text, Field)) !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
}
/*color boton "Guardar" marcador en :hover*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton:hover{
background-image: var(--panel-separator-zap-gradient) !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton:hover {
    color: #eaeaea !important;
}
/*Color del botón menú deplegable*/
panel menulist, panel menulist:not([open]) {
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text, Field)) !important;
}
panel menulist:hover, panel menulist[open] {
    background-image: var(--panel-separator-zap-gradient) !important;
    color: #eaeaea !important;
    box-shadow: none !important;
}
/*Color -fondo y borde- menu desplegable (flecha hacia abajo)*/
#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text, Field)) !important;
    border-radius: 4px !important
}
#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    border: none !important;
    background-image: var(--panel-separator-zap-gradient) !important;
    color: #eaeaea !important;
}
/*Color -fondo y letras - botón menu desplegable*/
treechildren::-moz-tree-row(selected) {
    background-color: var(--button-primary-bgcolor) !important;
    outline: none !important;
}
treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: white !important;
}
#PersonalToolbar {
    padding-block: 0px 2px !important;
}
/* Quitar doble background en :hover en botones de extensiones ubicados en la barra de marcadores */
toolbar:is(#TabsToolbar, #PersonalToolbar) :is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]):hover {
    background-color: transparent !important;
    background-image: none !important;
}

/*--------------------------Panel Guardar Marcador----------------------------------*/

/*Color de "highlight" inputtext*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--button-primary-bgcolor) !important;
    color: white !important;
}

/* Separador linea Vertical para tabs-bar, usando "espacio flexible" */
:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],:is(#TabsToolbar) toolbarspring {
    background: var(--toolbarseparator-color) !important;
    max-width: 1px !important;
    min-width: 1px !important;
    max-height: 14px !important;
    min-height: 14px !important;
    margin-inline: 3px !important;
    margin-top: calc(var(--tab-height-personal) - 20px) !important;
}

/* Botones de: all-tabs and unified extensions */

/* botón >> ALL tabs */

.all-tabs-secondary-button{
    border-radius: var(--toolbarbutton-border-radius) !important;
    border: none !important;
    width: 28px !important;
}

.all-tabs-secondary-button .toolbarbutton-icon{
    width: 14px !important;
    height: 14px !important;
}

/* botón >> Unified extentions */

:root{ --uei-icon-size: 18px !important; }

#unified-extensions-panel .unified-extensions-item{
    padding-block: 0 !important;
    margin-block: 0px !important;
}

.unified-extensions-item-action-button.panel-no-padding.webextension-browser-action.subviewbutton.subviewbutton-iconic{
    padding-block: 2px !important;
    margin-block: 0px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic image{
    border: none !important;   
    background-repeat: no-repeat !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

/*
.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background-image: var(--panel-separator-zap-gradient) !important;
}*/

/* Second label del botón de extenciones */

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

