/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*-"Radiobutton"-ProtecciónAntirastreo*/

.protections-popup-tp-switch[enabled]:hover {
    background-color: #3030ff !important;
    border-color: transparent !important;
}
.protections-popup-tp-switch[enabled] {
    background-color: #4a4aff !important;
    border-color: transparent !important;
}
/*color Rojo de boton "borrar marcador"*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton {
    box-shadow: inset 0px 0px 0 1px var(--button-bgcolor) !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
}
/*color letras de boton "Guardar" marcador en :hover*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton:hover {
    color: #eaeaea !important;
}
/*Color del botón menú deplegable*/

panel menulist, panel menulist:not([open]) {
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
}
panel menulist:hover, panel menulist[open] {
    background-color: var(--button-primary-bgcolor) !important;
    color: #eaeaea !important;
    box-shadow: none !important;
}
/*Color -fondo y borde- menu desplegable (flecha hacia abajo)*/

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
    border-radius: 4px !important
}
#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    border-color: var(--button-primary-bgcolor) !important;
    background-color: var(--button-primary-bgcolor) !important;
    color: #eaeaea !important;
}
/*Color -fondo y letras - botón menu desplegable*/

treechildren::-moz-tree-row(selected) {
    background-color: var(--button-primary-bgcolor) !important;
}
treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: white !important;
}

/*--------------------------Marcadores----------------------------------*/

/*Color de "highlight" inputtext*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--button-primary-bgcolor) !important;
    color: white !important;
}
/*Imagen grande y Favicon*/
#editBookmarkPanelImage{
    box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
}
#editBookmarkPanelFavicon[src] {
  background-color: color-mix(in srgb, var(--arrowpanel-background) 94%, var(--lwt-tab-text)) !important;
  box-shadow: inset 0px 0px 0 1px color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, Field)) !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
  margin-top: 4px !important;
  margin-inline-start: 4px !important;
}
