/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*botones de la pagina de "Personalizar Toolbar"*/

.customizationmode-button {
    background: var(--button-bgcolor) no-repeat !important;
    border-color: color-mix(in srgb, var(--arrowpanel-background) 84%, var(--lwt-tab-text, FieldText)) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 4px !important;
}
.customizationmode-button:is(:active, :hover):not([disabled]), .customizationmode-button[open], .customizationmode-button[checked] {
    background: var(--panel-separator-zap-gradient) no-repeat !important;
    border-color: transparent !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 4px !important;   
    background-clip: padding-box !important;
}
#customization-done-button {
    color: #fff !important;
    border-color: #3a84ff !important;
    background-color: var(--button-primary-bgcolor) !important;
}
#customization-done-button:is(:active, :hover):not([disabled]) {
    background-color: var(--button-primary-hover-bgcolor) !important;
    border-color: #00000000 !important;
}
/*Borde Redondeado - menú de debordamiento*/

.panel-arrowcontent {
    border-radius: 8px !important;
}
