/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Menú contextual*/
menupopup>menuitem, menupopup>menu {
    padding-block: 0.3em !important;
}
/* Menu items border and padding */
menupopup>menuitem, menupopup>menu {
    border-radius: 3px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-inline-start: 0.5em !important;
}
/*Gradient color to :hover items*/
/*
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    background-image: var(--panel-separator-zap-gradient);
}
*/
/*borde izquierda y derecha del menú contextual*/
menugroup>menuitem:first-child {
    padding-left: 4px !important;
}
menugroup>menuitem:last-child {
    padding-right: 4px !important;
}
/* context menu top buttons radius */
menugroup>menuitem>hbox>image {
    border-radius: 4px !important;
}
/*separador de items*/
menuseparator {
    border-color: var(--panel-separator-color, #50505090) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  /*border-image: var(--gradient) 1 !important;*/
  /*border-image: linear-gradient(165deg, #d02f85ee 0%, #b336fcee 8%, #3567fdee 40%, #4e7afdee 60%,#4e89fdee 70%, #d02f85ee 100%) 1 !important;*/
}
/*Colores generales*/
.menupopup-arrowscrollbox {
    background: var(--arrowpanel-background, #50505090) !important;
    background-color: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid var(--arrowpanel-border-color, #50505090) !important;
    border-radius: 6px !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: color-mix(in srgb, var(--button-hover-bgcolor) 95%, var(--organizer-color, var(--arrowpanel-color))) !important;
}
/*ColoresMenú*/
.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field)!important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}
/*íconos deshabilitados*/
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)80%, var(--arrowpanel-color)) !important;
}
/*Color letras :hover al pasar mouse sobre items del menú*/
panel treechildren::-moz-tree-row(selected), panel button:hover, menu:not([disabled="true"]):hover, menu[_moz-menuactive], menu[open], menuitem:not([disabled="true"]):hover, menuitem:not([disabled="true"])[_moz-menuactive] {
    color: var(--arrowpanel-color) !important;
}
/*Color letras del menú desplegable*/
#editBMPanel_folderMenuList>menupopup>menuitem {
    color: var(--arrowpanel-color) !important;
}
/*Margenes menú desplegable marcadores*/
#PlacesToolbar menuitem, #PlacesToolbar menu, .subview-subheader {  
    margin-left: 7px !important;
    margin-right: 7px !important;     
}
/*Separador de items menú desplegable marcadores*/
#PlacesToolbar menupopup[placespopup="true"] menuseparator{
   margin-left: 7px !important;
    margin-right: 7px !important;
}
/*Colores y márgenes iconos superiores del menú contextual*/
/*
#main-menubar>menupopup, #context-navigation {
    background-color: color-mix(in srgb, var(--arrowpanel-background) 99%, var(--arrowpanel-color)) !important;
    border: 1px solid color-mix(in srgb, var(--panel-separator-color)50%, transparent) !important;
    border-radius: 4px !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}*/
#context-sep-navigation {
    margin-top: 0px !important;
    border-image: var(--panel-separator-zap-gradient) 1 !important;
}
