/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Menú contextual */

menupopup {
    --panel-padding-block: 5px !important;
  }

menupopup>menuitem, menupopup>menu {
    padding-block: 0.4em !important;
}

@media (-moz-platform: linux) { menupopup>menuitem, menupopup>menu {
    padding-block: 4px !important; 
}}

/* Combo-box - Select Box more compact */

#ContentSelectDropdown > menupopup > menuitem {
    padding-block: 0px !important;
}

/* Menu items border and padding */

menupopup>menuitem, menupopup>menu {
    border-radius: 3px !important;
    padding-inline-start: 0.5em !important;
}

/* Context menu top buttons radius */

menugroup>menuitem>hbox>image {
    border-radius: 4px !important;
}
/* Separador de items */

menuseparator {
    appearance: none !important;
    border-color: var(--panel-separator-color, #50505090) !important;
    padding-inline: 0px !important;
    margin-inline: 0px !important;
}

@media (-moz-platform: linux) { menuseparator {
    margin-block: 3px !important;
    }}

/*Colores generales*/

menupopup{
    background: var(--gradient) no-repeat !important;
    border: 1px solid var(--arrowpanel-background) !important;
    background-clip: padding-box !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    border-radius: 6px !important; 
}

menupopup menupopup {
    margin-top: -7px !important;
    margin-left: -2px !important; 
}

menupopup, panel {
  --panel-shadow-margin: 0px !important;
}

menupopup {
    padding: 0px !important;
    margin: 0px !important;
    --panel-padding-block: 5px !important;
    --panel-subview-body-padding: 5px !important;
}

#PlacesToolbar menupopup menupopup{ margin-inline-start: -4px !important; margin-top: -7px !important; }

.menupopup-arrowscrollbox {
    background-color: var(--arrowpanel-background, #505050) !important;
    color: var(--arrowpanel-color, #505050) !important;
    border: 1px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: 6px !important;
    margin: 0px !important;
}

/* Íconos superiores del menú contextual */

#context-navigation {
    background-color: transparent !important;
    color: var(--arrowpanel-color) !important; 
}

#context-navigation > .menuitem-iconic:hover:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon{
    appearance: none !important;
    background-color: var(--button-hover-bgcolor) !important; 
}

/* Color íconos deshabilitados 

#context-navigation > .menuitem-iconic:hover:is([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
    appearance: none !important;
    color: inherit !important;
    background: transparent !important;
}*/

/* Font color in Contextual menus */

menupopup>menuitem:not([disabled="true"]), menupopup>menu {
    appearance: none !important;
    color: var(--arrowpanel-color) !important;
}

/* Mostrar background-color en el item seleccionado */

menupopup>menuitem:is([selected="true"]):not([disabled="false"]){
    appearance: none !important;
    background-image: var(--panel-separator-zap-gradient) !important;
    color: white !important;
}

menupopup>menuitem:is([selected="true"]):hover:not([disabled="false"]){
    appearance: none !important;
    background-image: var(--panel-separator-zap-gradient) !important;
    color: white !important;
}

/* Color to :hover items*/
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:where([_moz-menuactive]:not([disabled="true"])) {
    appearance: none !important;
    background-color: var(--button-hover-bgcolor, #80808050) !important; 
    color: var(--arrowpanel-color, #50505090) !important;
}

/* Gradient color to :hover items */
/*
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:where([_moz-menuactive]:not([disabled="true"])),
#context-navigation > .menuitem-iconic:hover:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
    background-image: linear-gradient(#20202020, #20202020),
                      linear-gradient(#20202020, #20202020), 
                      var(--panel-separator-zap-gradient) !important;
}
*/

#context-sep-navigation::before {
    border-image: var(--panel-separator-zap-gradient) 1 !important;
}

/* ------------------------ LINUX ---------------------- */

@media (-moz-platform: linux) {
    #context-navigation {
        background-color: var(--arrowpanel-background) !important;
        color: var(--arrowpanel-color) !important;
        margin-left: 4px !important;
        margin-right: 4px !important; 
    }
    
#context-navigation:hover{
    --menuitem-hover-background-color: red !important; 
    }
    
    /* Color íconos deshabilitados */
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)70%, var(--arrowpanel-color)) !important;
    }

#context-sep-navigation {
    margin-top: 4px !important;
    }

menupopup, panel {
  --panel-padding-block: 4px !important;
  --panel-padding: var(--panel-padding-block) 0;
  --panel-color: MenuText;
  --panel-background: Menu;
  --panel-border-radius: env(-moz-gtk-csd-menu-radius);
  --panel-border-color: ThreeDShadow;
  --panel-width: initial;
    }
    
#context-navigation>menuitem{
    appearance: none !important;
    border-radius: 4px !important;
    background: transparent !important;
    }

#context-navigation>menuitem:hover{
    background: var(--button-hover-bgcolor) !important; 
    }

.menu-right {
    -moz-appearance: none !important;
    list-style-image: url(chrome://global/skin/icons/arrow-right.svg )!important;    
 	height: initial !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
    opacity: 0.7 !important;
    }}
