/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Menú contextual*/
menupopup>menuitem, menupopup>menu {
    padding-block: 0.4em !important;
}
@media (-moz-platform: linux) { menupopup>menuitem, menupopup>menu {
    padding-block: 6px !important; 
}}
/* Menu items border and padding */
menupopup>menuitem, menupopup>menu {
    border-radius: 3px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-inline-start: 0.5em !important;
}
/*Gradient color to :hover items*/
/*
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    background-image: var(--panel-separator-zap-gradient);
}
*/
/*borde izquierda y derecha del menú contextual*/
menugroup>menuitem:first-child { padding-left: 4px !important; }
menugroup>menuitem:last-child {  padding-right: 4px !important; }

/* context menu top buttons radius */
menugroup>menuitem>hbox>image {
    border-radius: 4px !important;
}
/*separador de items*/
menuseparator {
    border-color: var(--panel-separator-color, #50505090) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  /*border-image: var(--panel-separator-zap-gradient) 1 !important;*/
  /*border-image: linear-gradient(165deg, #d02f85ee 0%, #b336fcee 8%, #3567fdee 40%, #4e7afdee 60%,#4e89fdee 70%, #d02f85ee 100%) 1 !important;*/
}
@media (-moz-platform: linux) { menuseparator {
    margin-block: 3px !important;
    }}
/*Colores generales*/
menupopup{background: var(--gradient) !important;}
#PlacesToolbar menupopup { padding: 0px !important;}
#PlacesToolbar menupopup menupopup{ margin-inline-start: 0px !important; }
.menupopup-arrowscrollbox {
    background: var(--arrowpanel-background, #50505090) !important;
    background-color: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid transparent !important;
    border-radius: 6px !important;
    margin: 0px !important;
    background-clip: padding-box !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: color-mix(in srgb, var(--button-hover-bgcolor) 95%, var(--organizer-color, var(--arrowpanel-color))) !important;
}
/*ColoresMenú*/
menupopup{ 
    margin-top: 0px !important; 
    margin-left: 0px !important; 
    border-radius: 6px !important; }
menupopup menupopup { 
    margin-top: -6px !important; 
    margin-left: -10px !important; }
.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field)!important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}
/* Íconos superiores del menú contextual */
#context-navigation {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;}
#context-navigation:hover{
    --menuitem-hover-background-color: var(--button-hover-bgcolor) !important;}
    /* Color íconos deshabilitados */
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)70%, var(--arrowpanel-color)) !important;
}
@media (-moz-platform: linux) { #context-navigation {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 4px !important;
    margin-right: 4px !important; }}
@media (-moz-platform: linux) { #context-navigation:hover{
    --menuitem-hover-background-color: red !important; }}
    /* Color íconos deshabilitados */
@media (-moz-platform: linux) { menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)70%, var(--arrowpanel-color)) !important;
    }}
/* Color to :hover items*/
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    appearance: none !important;
    background: var(--button-hover-bgcolor) !important; 
    color: var(--arrowpanel-color, #50505090) !important;
}
/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items de menús */
menupopup>menuitem:not([disabled="true"], [selected="true"]), menupopup>menu:not([disabled="true"]) {
    appearance: none !important;
    background-color: transparent !important; }
menupopup>menu[open="true"]{
    appearance: none !important;
    background: var(--button-hover-bgcolor) !important; 
    color: var(--arrowpanel-color) !important;
}
/* Mostrar background-color en el item seleccionado */
menupopup>menuitem:is([disabled="false"], [selected="true"]){
    background-color: var(--button-active-bgcolor) !important; }
menupopup>menuitem:is([disabled="false"], [selected="true"]):hover{
    background-color: var(--button-active-bgcolor) !important;
}
/*Aspecto tooltip: mouse hover on elements*/
tooltip {
	appearance: none !important;
    background: color-mix(in srgb, var(--arrowpanel-background) 96%, white) !important;
	color: var(--lwt-tab-text) !important;
	border-color: color-mix(in srgb, var(--arrowpanel-background)80%, white) !important;
	padding-inline: 4px 4px !important;
	font-family: Fira Sans !important;
	font-size: 14px !important;
	opacity: 1 !important;
    border-radius: 4px !important;
}
/*Colores y márgenes iconos superiores del menú contextual*/
/*
#main-menubar>menupopup, #context-navigation {
    background-color: color-mix(in srgb, var(--arrowpanel-background) 99%, var(--arrowpanel-color)) !important;
    border: 1px solid color-mix(in srgb, var(--panel-separator-color)50%, transparent) !important;
    border-radius: 4px !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}*/
#context-sep-navigation {
    margin-top: 0px !important;
    border-image: var(--panel-separator-zap-gradient) 1 !important;
}
@media (-moz-platform: linux) { #context-sep-navigation {
    margin-top: 4px !important;
    }}

@media (-moz-platform: linux) { menupopup, panel {
  --panel-padding-block: 4px !important;
  --panel-padding: var(--panel-padding-block) 0;
  --panel-color: MenuText;
  --panel-background: Menu;
  --panel-border-radius: env(-moz-gtk-csd-menu-radius);
  --panel-border-color: ThreeDShadow;
  --panel-width: initial;
    }}
@media (-moz-platform: linux) { #context-navigation>menuitem{
    appearance: none !important;
    border-radius: 4px !important;
    background: transparent !important;
    }}
@media (-moz-platform: linux) { #context-navigation>menuitem:hover{
    background: var(--button-hover-bgcolor) !important; 
    }}
