/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Color contenedor default */

.identity-color-toolbar {
    --identity-tab-color: #0c86ee !important;
    --identity-icon-color: #0c86ee !important;
}

/* Rework en la Linea de Contenedores-BordePestaña */

.tab-context-line {
    opacity: 0 !important;
}
    
:root {
    --tab-icon-end-margin: 7px !important; /* Rightmost tab label */
}

/* Rework en la Linea de Contenedores-BordeFavicon */

.tabbrowser-tab:not([selected]) {
    & .tab-throbber[busy], .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay {
        outline: 1px solid var(--identity-icon-color, transparent) !important;
        outline-offset: 2px !important;
        border-radius: 1px !important;
        clip-path: xywh(-2px -3px calc(100% + 4px) calc(100% + 6px) round 0px);
    }
}

.tabbrowser-tab[selected] {
    & .tab-throbber[busy], .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay {
        outline: 1px solid var(--identity-icon-color, transparent) !important;
        outline-offset: 2px !important;
        border-radius: 1px !important;
        clip-path: xywh(-3px -3px calc(100% + 6px) calc(100% + 6px) round 0px);
        transition: clip-path 0.1s ease !important;
    }
}

/* Deleted label in urlbar */

#userContext-label {
    display: none !important;
}

/* Nuevos colores */

.identity-color-blue {--identity-tab-color: #2574A7 !important; --identity-icon-color: #2574A7 !important;}
.identity-color-green {--identity-tab-color: #1E934F !important; --identity-icon-color: #1Eb34F !important;}
.identity-color-orange {--identity-tab-color: #e67e22 !important; --identity-icon-color: #e67e22 !important;}
.identity-color-red {--identity-tab-color: #ff2940 !important; --identity-icon-color: #ff2940 !important; }
.identity-color-pink {--identity-tab-color: #ff33bb !important; --identity-icon-color: #ff33bb !important;}
.identity-color-purple {--identity-tab-color: #813E9D !important; --identity-icon-color: #813E9D !important;}
.identity-color-yellow {--identity-tab-color: #e6b803 !important; --identity-icon-color: #e6b803 !important;}
.identity-color-turquoise {--identity-tab-color: #03b48d !important; --identity-icon-color: #03b48d !important;}

/* Borde urlbar Container */

.urlbar-input-container{
  border-width: 0 !important;
  padding: 2px !important;
}

#userContext-icons::before{
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid color-mix(in srgb, var(--identity-icon-color)80%, var(--toolbar-field-border-color));
  border-radius: var(--toolbarbutton-border-radius);
  outline-offset: -1px;
  pointer-events: none;
}

#urlbar[focused] #userContext-icons::before{
  outline-width: 1px;
  outline-offset: -1px
}

#urlbar:is([focused]) #userContext-icons::before {
    border-radius: 4px !important;
}

#urlbar:not([focused]) #userContext-icons::before {
    outline-color: color-mix(in srgb, var(--toolbar-field-border-color) 78%, var(--identity-icon-color)) !important;
}

#urlbar:is([open]) #userContext-icons::before {
    border-radius: 10px !important;
}

/* These might potentially cause some issues, but are needed to make the border extend the border to the full popup when urlbar popup is open */
#urlbar[open] > .urlbar-input-container{
  position: static !important;
  padding: calc(2px + var(--urlbar-margin-inline,5px)) !important;
}
#urlbar[open] > #urlbar-background{ z-index: -1 !important; }