/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

@media -moz-pref("firefoxchameleon.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {

    /* _______________________ Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_bookmarks_toolbar.css ------------------- */

    /* Makes bookmarks toolbar appear vertically at the left side of the window */

    #navigator-toolbox{ position: relative; border-block-end-color: transparent !important; }
    #PersonalToolbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        inset-inline-start: 0;
        width: var(--my-vertical-toolbar-width,0);
        min-width: unset !important;
        /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
        max-height: calc(100vh - 4px - var(--tab-height-personal) - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px)) !important; 
        /*padding-bottom: 74px !important;/**/
        padding-inline: 0px !important;                                                           /* Mi edit */
        padding-block: 6px !important;
        background-position-x: left !important;
        
        @media -moz-pref("firefoxchameleon.oneline") , -moz-pref("sidebar.verticalTabs"),  -moz-pref("firefoxchameleon.tree-tabs") {
            max-height: calc(100vh - 6px - var(--tab-height-personal) - var(--menubar-height-personal, 0px)) !important;
        }
    }
    #PersonalToolbar:dir(rtl) {                                                                   /* Mi add for RTL languages */
        background-position-x: right !important;
    }
    #PersonalToolbar .toolbarbutton-1 {
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       /* Mi edit - Tamaño horizontal ionos default */
        margin: 0px !important;
    }

    #PersonalToolbar toolbaritem{                                                               /* My new code Tamaño horizontal ionos extensiones y  marcadores */
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       
        margin: 0px !important;
    }

    #OtherBookmarks{                                                                            /* My new code - boton OtherBookmarks */
        margin-inline: 0px !important;  
    }

    #PersonalToolbar #PlacesChevron{
        display: none;
    }
    #PersonalToolbar > #personal-bookmarks{
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }

    #PlacesToolbar,
    #PlacesToolbarDropIndicatorHolder{
        flex-direction: column;
    }

    #PersonalToolbar #PlacesToolbarItems{
        display: flex !important;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
    }
    #PersonalToolbar > toolbaritem{
        justify-content: center;
    }
    #PersonalToolbar #PlacesToolbarItems > toolbarseparator::before {
        height: 1px !important;
        width: var(--my-vertical-toolbar-width) !important;                                                 /* My code */
        margin-inline: 4px !important;                                                                      /* My code */
        background-color: var(--my-content-border-color) !important;                                        /* My edit */
        border-inline: none !important;
    }

    #PersonalToolbar #PlacesToolbarItems > .bookmark-item{
        padding-block: 4px !important;
        margin-inline: 0 !important;
    }

    :root:not([chromehidden~="toolbar"],[chromehidden*="menubar"],[inDOMFullscreen],[sizemode="fullscreen"]) {
        &>body>#browser,
        &>body>#browser-bottombox,
        &>body>#customization-container {
            margin-inline-start: var(--my-vertical-toolbar-width, 0px);
        }
    }

    /* You should probably disable this if you have Firefox < 113 */
    #PersonalToolbar #PlacesToolbarItems{
        display: -webkit-box !important;
        -webkit-box-orient: vertical !important;
    }

    /* ______________________________________________________ Keep left-sidebar in 'Fullscreen' ______________________________________________________ */

    /* Bookmarks-bar visible */

    :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
        visibility: visible !important;
    }

    /* Shows #navigator-toolbox when 'hover' on left-sidebar */

    :root[inFullscreen]:not([macOSNativeFullscreen]):has(#PersonalToolbar:hover) #navigator-toolbox {
        margin-top: 0px !important;
    }

    /* Keep left-sidebar visible when some contextual menu appears
    - Keep navigator-toolbox visible when bookmarks-folder are 'open' */

    #main-window[inFullscreen]:has(
    #appMenu-popup:is([panelopen="true"]),                      /* Hamburger menu open */
    panel[type="arrow"]:is([panelopen="true"]),                 /* Arrowpanels open */
    .bookmark-item[open],                                       /* BOokmarks-folder 'open' */
    #customizationui-widget-panel[panelopen="true"],            /* Extensions panels 'open' */
    #tabContextMenu[hasbeenopened]:hover,                       /* Some contextual menus ¯v*/
    #toolbar-context-menu[panelopen="true"]:hover,
    #new-tab-button-popup[hasbeenopened]:hover,
    #toolbar-context-menu[hasbeenopened]:hover,
    #placesContext[hasbeenopened]:hover,
    .tab-group-editor-panel[hasbeenopened]:hover) {
        & #PersonalToolbar {
            width: var(--my-vertical-toolbar-width) !important;
            max-width: var(--my-vertical-toolbar-width) !important;
            opacity: 1 !important;
        }
        & #navigator-toolbox {
            margin-top: 0px !important;
        }
    }

    /* ____________ Web content moved right when toolbars are in 'autohide' */

    @media -moz-pref("browser.fullscreen.autohide") {

        /* Width of left-sidebar when #navigator-toolbox 'hidden' */

        :root[inFullscreen]:not([macOSNativeFullscreen]):has(#navigator-toolbox:not(:hover)) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
            width: 1px !important;
            opacity: 0 !important;
            border-image: linear-gradient(to bottom, transparent, transparent) !important;
            background-image: none !important;
            transition: width 0.2s ease, opacity 0.2s ease !important;
            transition-delay: 100ms !important;
        }

        /* Web content mover right when left-sidebar in visible */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]):has(        
        #navigator-toolbox[style=""],                                 /* tabs-bar and nav-bar hover */
        #PersonalToolbar:hover,                                       /* Bookmarks-bar 'hover' */
        .bookmark-item[open],                                         /* BOokmarks-folder 'open' */
        #customizationui-widget-panel[panelopen="true"],              /* Some contextual menus open */
        #toolbar-context-menu[hasbeenopened="true"]:hover,
        #placesContext[hasbeenopened]:hover,                          /* Bookmarks-folder contextual menu */
        #appMenu-popup[panelopen="true"]                              /* Extensions panels 'open' */
        ){
            #browser,
            #browser-bottombox,
            #customization-container {
                margin-inline-start: var(--my-vertical-toolbar-width,41px) !important;
            }
        }

        /* Allow show Left-sidebar when 'hover' on left of screen */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]):not(:hover) {
            z-index: 3 !important;
        }
    }

    /*____________ Web content moved right when toolbars are 'not in autohide' */

    @media not -moz-pref("browser.fullscreen.autohide") {

        :root:not([chromehidden~="toolbar"],[inDOMFullscreen]) {
            #browser,
            #browser-bottombox,
            #main-window > body::after, /* This selector is for compatibility with tabs_below_content.css */
                #customization-container {
                    margin-inline-start: var(--my-vertical-toolbar-width,0) !important;
            }
        }
    }

    /* ______________________________________________________ My code to adapt to the GX style ______________________________________________________ */

    /* Posición y estilo de la barra lateral izquierda de marcadores */

    #PersonalToolbar {
        z-index: 1 !important;
        border-right: 1px solid var(--my-conditional-border-color, transparent) !important;

        @media -moz-pref("sidebar.revamp") {
            :root:has(#sidebar-main:not([hidden])) & {
                --my-conditional-border-color: var(--my-content-border-color) !important;
            }
        }
    }
    
    /* ---------------- Quitar label de items de la left-sidebar ---------------- */

    #personal-bookmarks .bookmark-item>.toolbarbutton-text, #import-button>.toolbarbutton-text {
        display: none !important;
    }
    
    /* Without bookmarks labels - quitamos margenes que desalinean los íconos */    
    #personal-bookmarks .bookmark-item>.toolbarbutton-icon, #import-button>.toolbarbutton-icon{
        margin: 0px !important;
    }

    #personal-bookmarks .bookmark-item{
        margin-block: 0px !important;
    }
    
    /* Tamaño botones de extensiones y botones clásicos */

    #PersonalToolbar {
        --toolbarbutton-inner-padding: 6px !important;
        --toolbarbutton-outer-padding: 0 4px !important;
        border-radius: 0px !important;
    }
    
    /* Iconos de Marcadores - corrección de tamaño y color de background */

    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(:hover)>.toolbarbutton-icon,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(.subviewbutton, [disabled="true"]):hover,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(.subviewbutton, [disabled="true"]){
        background-color: transparent !important;
    }

    #PersonalToolbar #PlacesToolbarItems > .bookmark-item {
        & > .toolbarbutton-icon {
            margin-block-start: 0px !important;
            height: 28px !important;
            width: 28px !important;
            padding: 6px !important;
            background-color: var(--toolbarbutton-hover-background) !important;
            border-radius: var(--toolbarbutton-border-radius) !important;
        }

        &[open] > .toolbarbutton-icon {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }

    /* -Otros marcadores- button */

    #PersonalToolbar #OtherBookmarks {
        background-color: transparent !important;
        margin-inline: 0px !important;
    }

    #PersonalToolbar #OtherBookmarks>.toolbarbutton-icon{
        margin-block-start: 4px !important;
        height: 28px !important;
        width: 28px !important;
        padding: 6px !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
        background-color: transparent !important;
    }

    #PersonalToolbar #OtherBookmarks {
        &:hover > .toolbarbutton-icon {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        &[open] > .toolbarbutton-icon {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }

    /* Colored bookmarks folders */

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+1) > .toolbarbutton-icon {
        fill: var(--green) !important;
        list-style-image: url("../icons/folder1.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+2) > .toolbarbutton-icon {
        fill: var(--lightgreen) !important;    
        list-style-image: url("../icons/folder2.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+3) > .toolbarbutton-icon {
        fill: var(--yellowbrown) !important;
        list-style-image: url("../icons/folder3.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+4) > .toolbarbutton-icon {
        fill: var(--orange) !important;
        list-style-image: url("../icons/folder4.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+5) > .toolbarbutton-icon {
        fill: var(--red) !important;
        list-style-image: url("../icons/folder5.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+6) > .toolbarbutton-icon {
        fill: var(--pink) !important;
        list-style-image: url("../icons/folder6.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+7) > .toolbarbutton-icon {
        fill: var(--purple) !important;
        list-style-image: url("../icons/folder7.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+8) > .toolbarbutton-icon {
        fill: #1b57fe !important;
        list-style-image: url("../icons/folder8.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+9) > .toolbarbutton-icon {
        fill: var(--lightblue) !important;
        list-style-image: url("../icons/folder9.svg") !important;
    }

    /* Carpeta "Otros Marcadores" */

    #OtherBookmarks > .toolbarbutton-icon{
        list-style-image: url("../icons/folder-otherbookmarks.svg") !important;
        fill: color-mix(in srgb, var(--button-active-bgcolor) 80%, var(--lwt-tab-text)) !important;
    }

/* ----------------------------- items en modo "customize toolbar" --------------------------------- */

    /* Separador Horizontal */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: 0px !important;
        min-height: 2px !important;
        max-height: 72px !important;
        margin-inline: calc(var(--my-vertical-toolbar-width) / 2 - 17px ) !important;
    }

    /* Separador vertical */

    :is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: 10px !important;
        min-height: var(--tabs-height-personal) !important;
        max-height: var(--tabs-height-personal) !important;
        margin-block: 0 !important;
    }

    /* Alinear items in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] {
        justify-content: center !important;
    }

    /* Contador de la extension invisible en modo "customize" */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbaritem toolbarbutton .toolbarbutton-badge {
        display: none !important;
    }   

/* Separador usando "espacio flexible" */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], #PersonalToolbar toolbarspring {
        max-width: var(--uc-vertical-toolbar-width) !important;
        min-height: 60px !important;
        max-height: 110px !important;
    }
    
    /* --------------------------- Contador de las extensiones --------------------------- */

    /* Ocultar contador cuando este es "0" */

    toolbarbutton[badge="0"] .toolbarbutton-badge { display: none !important; }
    
     /* Contador de la extension not hover */

    #PersonalToolbar toolbaritem toolbarbutton:not(:hover,[open],:active) .toolbarbutton-badge:not(:hover) {
        background-color: #ff0000cc !important;
        color: transparent !important;
        box-shadow: none !important;
        outline: 1px solid #000000dd !important;
        border-radius: 50% !important;
        height: 4px !important;
        width: 4px !important;
        min-height: 4px !important;
        min-width: 4px !important;
        transform: translate(0px, -3px) !important;
    }
    
    /* Contador de la extension :hover */

    #PersonalToolbar toolbaritem toolbarbutton:is(:hover,[open],:active) .toolbarbutton-badge {
        box-shadow: -1px 1px 0 hsla(0, 100%, 100%, .2) inset, 1px -1px 0px hsla(0, 100%, 100%, .2) inset, 0 1px 0 hsla(206, 50%, 10%, .2) !important;
        margin-top: -6px !important;
        margin-inline-end: -6px !important;
        animation: none !important;
        border-radius: 0 var(--toolbarbutton-border-radius) !important;
    }
    
    /* ____________________ New position of Open Bookmark Panels in left-sidebar ____________________ */
    
    #PlacesToolbarItems > .bookmark-item >  menupopup, #OtherBookmarks #OtherBookmarksPopup {
        margin-inline-start: calc(var(--my-vertical-toolbar-width) - 2px) !important;
        margin-top: -36px  !important;
    }

    #PersonalToolbar>toolbarbutton>menupopup {
        margin-right: calc(var(--my-vertical-toolbar-width) - 9px) !important;
        margin-top: -39px  !important;
    }
}

/* _____________________________________________________ Firefox Sidebar-revamp ______________________________________________________
   ___________________________________________________________________________________________________________________________________ */

@media -moz-pref("sidebar.revamp") {
    
    /* Remove unwanted border below latest toolbar */
    #navigator-toolbox {
        border-bottom-color: transparent !important;
    }
    
    /* 'Tools-and-extensions' more compact */
    
    .actions-list {
        & > moz-button {
            /* reduce inline margin */
            --button-outer-padding-inline: 4px !important;

            /* Remove extra padding for 'configuration' button */
            @media not -moz-pref("sidebar.verticalTabs") {
                &:not(.tools-overflow) {
                    &:last-of-type {
                        --button-outer-padding-block-end: 0px !important;
                    }
                }
            }
        }
    }
    
    /* _____________________________ Autohide 'tools-and-extensions' when Vertical tabs are enable ______________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    @media -moz-pref("sidebar.verticalTabs") {
        
        /* Rules to show all the tools without 'overflow button' */
        .buttons-wrapper {
            height: auto !important;
            min-height: unset !important;
            overflow: unset !important;
        }
        
        /* Remove overflow button */
        .tools-and-extensions.actions-list.overflow-button {
            display: none !important;
        }
        
        /* Code to hide 'overflow' button */

        .tools-and-extensions.actions-list {
            height: auto !important;
        }
        
        /* Remove unwanted padding when 'expanded' */
        
        .actions-list[orientation="horizontal"] {
            padding-inline: 0px !important;
            /*padding-block-end: 0px !important;/**/
            margin-block-start: 0px !important;
        }
        
        /* Hide tools except for the last one 'configuration' */
        
        .actions-list[orientation="vertical"]:not(:hover) moz-button[type="icon ghost"]:not(:last-child),
        .actions-list[orientation="horizontal"]:not(:hover) moz-button[type="icon ghost"]:not(:first-child) {
            opacity: 0 !important;
            transform: translateY(10px) !important;
            visibility: collapse !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        /* Hide tools except for the last one 'configuration' */
        
        .actions-list[orientation="vertical"]:is(:hover) moz-button[type="icon ghost"]:not(:last-child),
        .actions-list[orientation="horizontal"]:is(:hover) moz-button[type="icon ghost"]:not(:first-child) {
            opacity: 1 !important;
            transform: translateY(0px) !important;
            visibility: visible !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        /* Remove column-gap cause 100% CPU - bad performing /**/
        .tools-and-extensions[orientation="horizontal"] {
            row-gap: 0 !important;
            /*column-gap: 0 !important;/**/
        }

        /* 'Customize sidebar' button in the latest position */
        
        .wrapper:has(.actions-list[orientation="vertical"] moz-button[type="icon"]) .actions-list moz-button[type="icon ghost"]:is(:last-child) {
            order: 2 !important;
        }
        
        /* Active tool always in the penultimate position when 'collapsed' */
        
        .actions-list moz-button[type="icon"] {
            order: 1 !important;
        }
        
        /* Active tool always in the same position when 'expanded' */
        
        .actions-list[orientation="horizontal"] moz-button[type="icon"] {
            order: -1 !important;
        }
        
        /* Remove unwanted styles when using 'expand-on-hover' 
          ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        @media -moz-pref("sidebar.visibility", 'expand-on-hover') {
            
            /* Remove unwanted margin bottom */
            .buttons-wrapper {
                padding-block-end: 0px !important;
            }
        
            /* Remove unwanted gap between 'tools-and-extensions' buttons */
            .tools-and-extensions[orientation="horizontal"] {
                --space-xxsmall: 0px !important;
            }  
            
            /* Transition delayed to hide tools when expanding */
            .actions-list[orientation="vertical"]:is(:hover) moz-button[type="icon ghost"]:not(:last-child) {
                transition-delay: 0.3s, 0.2s, 0.3s !important;
            }
            
            /* Transition duration removed to hide tools  instantly on collapse */
            .actions-list[orientation="vertical"]:not(:hover) moz-button[type="icon ghost"]:not(:last-child) {
                transition-duration: 0ms !important;
            }
        }
        
        /* Fix 'tools' transition to remove unwanted display when not need it */

        @media -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {
            
            /* Delay to show 'tools-and-extension' to fix its unwanted appear when sidebar expand */
            .actions-list[orientation="horizontal"]:is(:hover) moz-button[type="icon ghost"]:not(:first-child) {
                transition-delay: 0.2s !important;
            }
            
            /* Transition duration removed to hide tools  instantly on collapse */
            .actions-list[orientation="horizontal"]:not(:hover) moz-button[type="icon ghost"]:not(:first-child) {
                transition-duration: 0ms !important;
            }
        }
    }
}

/* _______________________________________________________ Personal 'expand on hover' ______________________________________________________ 
   _________________________________________________________________________________________________________________________________________ */

@media -moz-pref("sidebar.verticalTabs") and -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {
    
    /* Keep sidebar expanded when some contextual menus are open */

    #main-window:has(sidebar-main:is([expanded])):has(
    #tabContextMenu[hasbeenopened]:hover,
    #new-tab-button-popup[hasbeenopened]:hover,
    .tab-group-editor-panel[hasbeenopened]:hover) #sidebar-main { 
        min-width: var(--my-vertical-toolbar-hover-width) !important;
    }

    /* Requires Firefox 133 */

    :root{
        --uc-tabs-hide-animation-duration: 200ms;
        --uc-tabs-hide-animation-delay: 0ms;
    }

    :root:has(sidebar-main:is([expanded])) {
        #sidebar-main {
            overflow: visible !important;
            max-width: var(--my-vertical-elements-width) !important;
            z-index: var(--browser-area-z-index-toolbox-while-animating);
            transition: z-index 0s linear var(--uc-tabs-hide-duration);
            box-shadow: none !important;
            /*background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
            var(--lwt-header-image, none), var(--lwt-additional-images,none),
            linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
            background-size: 100vw 100vh !important;
            background-position-y: bottom !important;/**/
        }
        sidebar-main{
            background: inherit;
            overflow: hidden;
            min-width: var(--my-vertical-elements-width);
            transition: min-width var(--uc-tabs-hide-animation-duration) ease-in-out var(--uc-tabs-hide-animation-delay);

            &[sidebar-positionend]{
                transition-property: min-width, transform;
            }
        }
        sidebar-main:hover{
            min-width: var(--my-vertical-toolbar-hover-width);
            transition-delay: 0ms !important;
            &[sidebar-positionend]{
                transform: translateX(calc(var(--my-vertical-elements-width) - 100%));
            }
        }
    }

    /* Separator top of tabs */

    /* Tabs top separador */
    :root:not([sizemode="fullscreen"]) {
        & #sidebar-main::before {
            display: none !important;
        }
    }

    sidebar-main[expanded] {
        &::before {
            position: absolute; content: '';
            width: calc(100% - 10px) !important;
            border-block-start: 1px solid var(--my-content-border-color) !important;
            z-index: 1 !important;
            transition-delay: 0.2s !important;
            margin-inline: 5px 10px !important;
        }
    }

    /* _______________ Pinned tabs _______________ */

    /* Size and margins */
    :root:has(sidebar-main:is([expanded])) #tabbrowser-tabs[orient="vertical"] #pinned-tabs-container {
        min-width: var(--my-vertical-toolbar-hover-width) !important;
        grid-template-columns: repeat(auto-fit, minmax(var(--my-vertical-elements-width), var(--my-vertical-elements-width))) !important;
        column-gap: 0px !important;
    }

    /* The selected pinned tab is visible when the sidebar is collapsed - limited to 3 rows */

    :root:has(sidebar-main:is([expanded])) #sidebar-main:not(:hover) #pinned-tabs-container .tabbrowser-tab[selected="true"] {

        &:nth-child(-n+15){
            grid-row-start: 3 !important;
            grid-column-start:1 !important;
        }

        &:nth-child(-n+10){
            grid-row-start: 2 !important;
            grid-column-start:1 !important;
        }

        &:nth-child(-n+5){
            grid-row-start: 1 !important;
            grid-column-start: 1 !important;
        }
    }

    /* Bug fix - Hide close button when not needed */

    :root:has(sidebar-main:is([expanded])) #sidebar-main:not(:hover) {
        & .close-icon,
        & #tabs-newtab-button .toolbarbutton-text,
        & #vertical-tabs-newtab-button .toolbarbutton-text {
            opacity:  0 !important; 
            transition-delay: var(--uc-tabs-hide-animation-delay) !important;
        }
    }

    /* _____ Trick to keep sidebar transparency _____
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    #sidebar-main[sidebar-launcher-expanded] {

        /* Trick to keep border style of 'web content' when sidebar 'expands' - not aplied when a video is in fullscreen */
        :root:not([inDOMFullscreen]) & {

            ~ #sidebar-box:not([checked="true"]) ~ #tabbrowser-tabbox,
            ~ #sidebar-box[checked="true"] {
                clip-path: xywh(0 0 100% 100% round var(--border-radius-small) 0 0 0 ) !important;     /* Required for a smooth transition */
            }

            ~ #sidebar-box:not([checked="true"]) ~ #tabbrowser-tabbox,
            ~ #sidebar-box[checked="true"] {
                --uc-autohide-transition-duration: 200ms;                                               /* Transition duration */
                --my-clip-path-width: calc(var(--my-vertical-toolbar-hover-width) - var(--my-vertical-elements-width));    /* Width for hidde */
                transition: clip-path var(--uc-autohide-transition-duration) ease-in-out !important;

                /* 'pseudo-element' to simulate 'web content' border */
                &:before {
                    content: ""; position: absolute;
                    inset-inline-end: 0px !important;
                    height: calc(100% - 0px);
                    bottom: 0;
                    width: calc(100% - var(--my-clip-path-width));
                    box-shadow: 0 0 0 1px transparent;
                    border-radius: var(--border-radius-small) 0 0 0;
                }
            }

            &:hover ~ #sidebar-box:not([checked="true"]) ~ #tabbrowser-tabbox,
            &:hover ~ #sidebar-box[checked="true"] {
                clip-path: xywh(var(--my-clip-path-width) 0px 100% 100% round calc(var(--border-radius-small) + 1px) 0 0 0 ) !important;

                :root:is([sizemode="fullscreen"]) & {

                    &:before {

                    }
                }

                &:before {
                    box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
                    transition-delay: var(--uc-autohide-transition-duration) !important;
                    z-index: 1 !important;

                    @media -moz-pref("sidebar.revamp") {

                    }
                }
            }

            &:hover ~ #sidebar-box[checked="true"] {
                /*clip-path: xywh(calc(-1px + var(--my-clip-path-width)) 0px calc(100% + 1px - var(--my-clip-path-width)) 100% round var(--border-radius-small) 0 0 0 ) !important;/**/
                
                &:before {
                    width: 100% !important; /* remove unwanted border */
                    inset-inline-start: calc(var(--my-clip-path-width) + 1px) !important;
                }
            }

            /* Sidebar on right
               ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

            &[sidebar-positionend]:hover ~ #sidebar-box:not([checked="true"]) ~ #tabbrowser-tabbox,
            &[sidebar-positionend]:hover ~ #sidebar-box[checked="true"] {
                clip-path: xywh(0 0 calc(100% - var(--my-clip-path-width)) 100% round 0 calc(var(--border-radius-small) + 1px) 0 0 ) !important;

                :root:is([sizemode="fullscreen"]) & {

                    &:before {

                    }
                }

                &:before {
                    border-radius: 0 var(--border-radius-small) 0 0 !important;
                    box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
                    inset-inline-end: var(--my-clip-path-width) !important;
                }
            }
            
            &[sidebar-positionend]:hover ~ #sidebar-box[checked="true"] {                
                &:before {
                    /*background-color: red;/**/
                    inset-inline-end: unset !important;
                    inset-inline-start: 0 !important;
                    width: calc(100% - var(--my-clip-path-width) - 1px) !important;
                }
            }
        }
    }
}