/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

@media -moz-pref("firefoxchameleon.main-image") {

   :root,
   :root:is([style*="--lwt-additional-images"],[lwtheme-image]) {
      --toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-browser)) !important;
      --toolbar-field-background-color: transparent !important;
      --toolbar-field-focus-background-color: var(--toolbar-bgcolor) !important;
      --toolbarbutton-hover-background: color-mix(in srgb, var(--toolbar-field-border-color) 98%, var(--tab-selected-textcolor)) !important;
      --toolbarbutton-active-background: color-mix(in srgb, var(--toolbar-field-border-color) 94%, var(--tab-selected-textcolor)) !important;    
      --toolbarbutton-hover-personal:  var(--toolbarbutton-hover-background) !important;

      /* Image */
      --lwt-additional-images: var(--lwt-main-image) !important;
   }

   @media (prefers-color-scheme: dark) {
      :root {
         
         
      }}

   @media (prefers-color-scheme: light) {
      :root {
        
      }}

   /* Scale image size */

   #main-window {
      background-size: 100% 100vh !important;
   }

   /* Remove dark effect to the bottom */

   #main-window:is([lwtheme-image],[style*="--lwt-additional-images"]) body::after,
   #main-window>body::after {
      background: var(--toolbar-bgcolor) !important;
   }

   /* Dark Sidebar content background */ 

   #sidebar-box {
      /*background-color: var(--toolbar-bgcolor) !important;/**/
      
      @media -moz-pref("sidebar.revamp") {
         border-radius: var(--border-radius-medium) !important;
      }
   }

   /* Put image in sidebar when expand-on-hover */

   @media -moz-pref("sidebar.verticalTabs")  and -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {

      :root:not([privatebrowsingmode="temporary"],[customizing]) {            
         #sidebar-main:has(sidebar-main[expanded]) {
            background: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                var(--lwt-additional-images, var(--lwt-header-image)) !important;
            background-size: 100vw 100vh !important;
            background-position: left bottom !important;


            &[sidebar-positionend] {
               background-position-x: right !important;
            }
         }
      }
   }

   /* Quita fondo oscuro sobre la toolbox incompatible con -oneline- config */

   @media -moz-pref("firefoxchameleon.oneline") or 
      -moz-pref("firefoxchameleon.tree-tabs")  {

         @media screen and (min-width: 1000px){
            #nav-bar{
               background-color: transparent !important;
            }}}

   /* ------------------------------------------ Image in menus ----------------------------------------- */
  
  menupopup:not(.in-menulist),
  .panel-no-padding[type="arrow"] {
    @media (prefers-color-scheme: dark) {
      --arrowpanel-background: #101019d0 !important;
    }
    @media (prefers-color-scheme: light) {
      --arrowpanel-background: #f9f9f9d0 !important;
    }
  }
  
  .panel-no-padding[type="arrow"] :is(panelmultiview, popupnotification),
  #editBookmarkPanel box,
  #editBookmarkPanel vbox {
    --my-background-image-popup: linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)),
                                var(--lwt-additional-images, none), var(--lwt-header-image,none),
                                 linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;    
    background-image: var(--my-background-image-popup) !important;
    background-size: auto 100vh !important;
  }
  
  menupopup:not(.in-menulist) {
    --my-background-image1: linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)),
                            var(--lwt-additional-images,none), var(--lwt-header-image, none),
                            linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
    --my-background-position: left top !important;
    --my-background-repeat: no-repeat !important;
    --my-background-size: auto 100vh !important;
  }
}
