/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

:root{
  --lwt-main-image:  url("../images/newtab/wallpaper.png");                                  /* new-tab page image */
  --wallpaper-size: auto auto;                                                               /* cover-> default ; auto auto -> to <<main-image>> config */
  --brightness-wallpaper: brightness(100%);                                                  /* 100% -> default ; 51% makes the wallpaper darker */
  
  --tab-height-personal: 32px ;                                                              /* Tamaño altura de pestañas*/
  --toolbar-height-personal: 34px ;                                                          /* Toolbar height */
  
  --logo-wordmark-visibility: 1 ;                                                            /* :1 visible, :0 invisible ; Logo-wordmark*/
  --logo-wordmark-display: flex ;                                                            /* :none ->eliminar , :flex ->Mostrar;  Logo-wordmark*/
  --searchbar-on-off: 1 ;                                                                    /* :1 visible, :0 invisible ; searchbar*/
  --searchbar-display: flex ;                                                                /* :none ->eliminar , :flex ->Mostrar; searchbar*/
  
  --newtab-pinnedsites-background: color-mix(in srgb, white 5%, transparent) ;               /* color - fondo de sitios fijados y barra de búsqueda*/
  
  --selected-text-background: var(--button-active-bgcolor1);                                 /* Selected text background */
  
  --personal-blur: blur(26px) ;                                                              /* Utilizado para personalizar userContent.css */
  
  --background-align-y: -70px ;                                                              /* Alinear new-tab wallpaper to <<main-image>> config 
                                                                                                -70px  ventana normal; 
                                                                                                -98px  con Barra de Marcadores;
                                                                                                -128px con B.Marcadores y B.Menu  */
  
  /*------------------------------Botones hover, clic--------------------------------*/
  --button-bgcolor1: color-mix(in srgb, #304af1  20%, transparent) !important;              /*ColorCombobox-yBotones(+-)*/
  --button-hover-bgcolor1: color-mix(in srgb, #304af1  80%, transparent) !important;        /*colorHoverCombobox-yBotones(+-)*/
  --button-active-bgcolor1: color-mix(in srgb, #305aff  90%, transparent) !important;       /*ColorAlHacerClicCombobox-yBotones(+-)*/
}