/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Default Preferences */
:root{
  
  --lwt-accent-color: var(--toolbar-bgcolor, Field) !important;                                                    /* FondoPestañasNoSeleccionadasVentanaActiva*/
  --lwt-frame: var(--lwt-accent-color, #030615) !important;                                                        /* frame */
  --lwt-tab-text: var(--tab-selected-textcolor) !important;                                                        /* Nueva variable de --lwt-tab-text */
  
  --lwt-frame-inactive: var(--toolbar-bgcolor, Field) !important;
  --panel-description-color: var(--button-primary-bgcolor) !important;                                             /* Color de letras de: correo de la cuenta, y dispositivos conectados */
  
  --toolbar-field-focus-border-color: transparent !important;                                                      /* BordeUrlbarFocus */
  --toolbar-field-color: var(--lwt-tab-text) !important;
  --toolbar-field-focus-color: var(--lwt-tab-text) !important;
  --lwt-accent-color-inactive: var(--toolbar-bgcolor, Field) !important;                                           /* FondoPestañasNoSeleccionadasVentanaInactiva */
  
  --toolbarbutton-inner-padding: 5px !important;                                                                   /* botonesIconosToolbarMásPequeños */
  
  --toolbarbutton-icon-fill: var(--lwt-text-color) !important;
  
  --tab-block-margin: 3px 1px !important;                                                                          /* margenes pestañas  <-------------------¬ */
  --margin-top: 3px !important;                                                                                    /* margen top pestañas - variable personal */
  --tab-min-height:  var(--tab-height-personal) !important;                                                        /* tamaño pestañas*/
    
  --panel-subview-body-padding: 0px !important;                                                                    /* Margen top-bottom interno de arropanels */
  --arrowpanel-menuitem-margin-inline: 0px !important;                                                             /* Margen left-right interno de arropanels */
  --arrowpanel-border-radius: 6px !important;                                                                      /* Forma del borde arropanels */
  --panel-separator-margin-vertical: 4px !important;                                                               /* margen vertical entre los separadores */
  --panel-separator-margin-horizontal: 0px !important;                                                             /* Margen horizontal de los separadores */
  
  --urlbarView-separator-color: transparent !important;                                                            /* color separador urlbar y sugerencias de búsqueda */
  
  --tab-selected-bgcolor: var(--toolbar-bgcolor) !important;                                          /* tab_selected */
  --lwt-selected-tab-background-color: var(--tab-selected-bgcolor) !important;          /* tab_selected */
    
  --arrowpanel-menuitem-padding: 7px !important;                                                                   /* MenúHambuguesaMásCompacto */
  --urlbar-icon-padding: 4px !important;                                                                           /* ÍconosUrlbarCompactos */
  --toolbarbutton-outer-padding: 3px !important;                                                                   /* EspacioEntreÍconosToolbar */
  
  scrollbar-color: #38375580 #18173530 !important;                                                                 /* Colores - Barra de deplazamiento */
  
    /*ColorBotónGuardar*/
    --button-primary-bgcolor: #304af1 !important;

    /*ColorLetrasBotónGuardar*/
    --button-primary-color: #eaeaea !important;

    /*ColorBotónGuardar:Hover*/
    --button-primary-hover-bgcolor: #2c3da0 !important;

    /*ColorBotónGuardar:clic*/
    --button-primary-active-bgcolor: #0073b1 !important;

    /*Color borde en InputText Focus*/
    --focus-outline-color: var(--button-primary-bgcolor) !important;

    /*Color borde en InputText*/
    --input-border-color: color-mix(in srgb, var(--arrowpanel-background) 90%, var(--arrowpanel-color)) !important;
  
    /*Fondo de InputText*/
    --input-bgcolor: color-mix(in srgb, var(--arrowpanel-background)75%, black) !important;

    /*Colores checkbox —v*/
    --checkbox-unchecked-bgcolor: var(--button-bgcolor) !important;
    --checkbox-unchecked-hover-bgcolor: var(--button-primary-bgcolor) !important;      
    --checkbox-unchecked-active-bgcolor: var(--button-primary-bgcolor) !important;
    --checkbox-checked-border-color: transparent !important;
    --checkbox-checked-bgcolor: var(--button-primary-bgcolor) !important;
    --checkbox-checked-color: #eaeaea !important;
    --checkbox-checked-hover-bgcolor: #cc3535 !important;
    --checkbox-checked-active-bgcolor: var(--button-primary-bgcolor) !important;
  
}

/* Default Dark Mode */

@media (prefers-color-scheme: dark){
:root[brighttext],
:root[lwt-toolbar-field-focus-brighttext],
:root[lwtheme],
:root:not([lwtheme]){ 
  
  --contrast-color: #101019 !important;   
  
  --toolbarseparator-color: color-mix(in srgb, var(--toolbar-bgcolor) 90%, var(--lwt-tab-text)) !important;        /* Color de separadores */
  
  --toolbar-field-border-color: color-mix(in srgb, var(--toolbar-field-color) 8%, transparent) !important;         /*urlbarColor-ColorBordeCuadroUrlbar*/  
  --toolbar-field-background-color: transparent !important;                                                        /*ColorUrlbar*/
  --toolbar-field-focus-background-color: var(--toolbar-bgcolor) !important;                                       /*ColorUrlbarOpen*/
  --urlbar-popup-url-color: #3389ff !important;                                                                    /*colorUrlSugerenciasDeBusqueda*/
  --lwt-popup-brighttext-url-color: #3379ff !important;                                                            /*"color de label: El sitio no funciona?"*/ 
  --lwt-toolbar-field-highlight: var(--button-primary-bgcolor) !important;                                         /*"toolbar_field_highlight": "#006f80"*/
  --lwt-toolbar-field-highlight-text: #eaeaea !important;                                                          /*"toolbar_field_highlight_text": "#eaeaea"*/
  --autocomplete-popup-highlight-background: var(--button-primary-bgcolor) !important;                             /*"popup_highlight": "#006f80"*/
  --autocomplete-popup-highlight-color: #eaeaea !important;                                                        /*"popup_highlight-letras": "#006f80"*/
  --lwt-toolbarbutton-icon-fill-attention: #4d7afe !important;                                                     /*"icons_attention": "#00dbfd"*/
  
  --toolbarbutton-hover-background: color-mix(in srgb, transparent 92%, var(--lwt-tab-text)) !important;           /*"button_background_hover": "#26242e"*/
  --toolbarbutton-active-background: color-mix(in srgb, transparent 86%, var(--lwt-tab-text)) !important;          /*"button_background_active": "#26242e"*/
  --toolbarbutton-hover-personal: var(--toolbarbutton-hover-background) !important;                                /* Button :hover color personal*/
  
  --chrome-content-separator-color: color-mix(in srgb,
    var(--toolbar-field-color) 4%, var(--toolbar-bgcolor)) !important;                                             /* toolbar_bottom_separator */
    
  --button-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 14%, transparent) !important;                /*ColorCombobox-yBotones(+-)*/
  --button-hover-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 18%, transparent) !important;          /*colorHoverCombobox-yBotones(+-)*/
  --button-active-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 30%, transparent) !important;         /*ColorAlHacerClicCombobox-yBotones(+-)*/        
  
  --panel-separator-zap-gradient: var(--personal-gradient-into-arrowpanels) !important;                            /*GradienteMenúHamburguesa*/                    
  --gradient: var(--personal-gradient-general) !important;                                                         /*GradientePestañaActiva*/
      
  --autocomplete-popup-hover-background: var(--button-hover-bgcolor) !important;                                   /*Color hover de sujerencias de búsqueda*/

  --shield-icon-personal: url("../images/shield-dark.svg") !important;                                             /*Ícono protección contra rastreo*/
  --animated-beats: url("../images/beats-dark.gif") !important;                                                    /* Dark animated beats*/
}}

/* Default Light Mode */

@media (prefers-color-scheme: light){
:root:not([lwtheme-brighttext="true"]),
:root:not([lwt-toolbar-field-focus-brighttext]),
:root[lwtheme],
:root:not([lwtheme]){
  
  --contrast-color: #ffffff !important;
  
  --toolbarseparator-color: color-mix(in srgb, var(--toolbar-bgcolor) 90%, var(--lwt-tab-text)) !important;        /* Color de separadores */
  
  --toolbar-field-border-color: color-mix(in srgb, var(--toolbar-field-color) 10%, transparent) !important;        /*urlbarColor-ColorBordeCuadroUrlbar*/  
  --toolbar-field-background-color: transparent !important;                                                        /*ColorUrlbar*/
  --toolbar-field-focus-background-color: color-mix(in srgb, 
    var(--toolbar-bgcolor) 86%, var(--contrast-color)) !important;                                                 /*ColorUrlbarOpen*/
  --urlbar-popup-url-color: #3389ff !important;                                                                    /*colorUrlSugerenciasDeBusqueda*/
  --lwt-popup-brighttext-url-color: #3379ff !important;                                                            /*"color de label: El sitio no funciona?"*/ 
  --lwt-toolbar-field-highlight: var(--button-primary-bgcolor) !important;                                         /*"toolbar_field_highlight": "#006f80"*/
  --lwt-toolbar-field-highlight-text: #eaeaea !important;                                                          /*"toolbar_field_highlight_text": "#eaeaea"*/
  --autocomplete-popup-highlight-background: var(--button-primary-bgcolor) !important;                             /*"popup_highlight": "#006f80"*/
  --autocomplete-popup-highlight-color: #eaeaea !important;                                                        /*"popup_highlight-letras": "#006f80"*/
  --lwt-toolbarbutton-icon-fill-attention: #4d7afe !important;                                                     /*"icons_attention": "#00dbfd"*/  
  
  --toolbarbutton-hover-background: color-mix(in srgb, transparent 88%, var(--lwt-tab-text)) !important;           /*"button_background_hover": "#26242e"*/
  --toolbarbutton-active-background: color-mix(in srgb, transparent 80%, var(--lwt-tab-text)) !important;          /*"button_background_active": "#26242e"*/
  --toolbarbutton-hover-personal: var(--toolbarbutton-hover-background) !important;                                /* Button :hover color personal*/
  
  --chrome-content-separator-color: color-mix(in srgb, 
    var(--toolbar-field-color) 12%, var(--toolbar-bgcolor)) !important;                                            /* toolbar_bottom_separator */
    
  --button-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 14%, transparent) !important;                /*ColorCombobox-yBotones(+-)*/
  --button-hover-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 18%, transparent) !important;          /*colorHoverCombobox-yBotones(+-)*/
  --button-active-bgcolor: color-mix(in srgb, var(--lwt-tab-text, FieldText) 30%, transparent) !important;         /*ColorAlHacerClicCombobox-yBotones(+-)*/        
  
  --panel-separator-zap-gradient: var(--personal-gradient-into-arrowpanels) !important;                            /*GradienteMenúHamburguesa*/                    
  --gradient: var(--personal-gradient-general) !important;                                                         /*GradientePestañaActiva*/
      
  --autocomplete-popup-hover-background: var(--button-hover-bgcolor) !important;                                   /*Color hover de sujerencias de búsqueda*/
  --shield-icon-personal: url("../images/shield-light.svg") !important;                                            /*Ícono protección contra rastreo*/
  --animated-beats: url("../images/beats-light.gif") !important;                                                   /* Dark animated beats*/
}}

/* ----------------------------------------- Private Browsing Mode ----------------------------------------- */

:root:is([privatebrowsingmode="temporary"]){
  
  --lwt-header-image: none !important; 
  --lwt-additional-images: none !important;
  --lwt-main-image: none !important;
  --toolbarbutton-icon-fill: var(--general-color) !important;                                                      /* icons */
  --lwt-toolbarbutton-icon-fill-attention: var(--general-color) !important;                                        /* icons_attention */
           
  tab[selected] .tab-background{ background-color: var(--new-selected-tab-color) !important; }                     /* Nuevo color de pestaña a causa de bug */

  }

/* Dark mode - Private Browsing Mode */

@media (prefers-color-scheme: dark){
  :root:is([privatebrowsingmode="temporary"], 
           [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
           [privatebrowsingmode="temporary"][lwtheme-image]){
    --lwt-accent-color: #101019 !important;                                                                        /* frame color in themes with images */
    --new-selected-tab-color: #202029 !important;                                                                  /* Nuevo color de pestaña a causa de bug */
    --new-toolbar-bgcolor: #101019 !important;                                                        
    --new-selected-tab-bgcolor: #101019 !important;
  }
}

/* light mode - Private Browsing Mode */

@media (prefers-color-scheme: light){  
  :root:is([privatebrowsingmode="temporary"], 
           [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
           [privatebrowsingmode="temporary"][lwtheme-image]){
    --lwt-accent-color: #f9f9f0 !important;                                                                        /* frame color in themes with images */
    --new-selected-tab-color: #e0dfec !important;                                                                  /* Nuevo color de pestaña a causa de bug */
  }
}

/* Compatibilidad Parcial para temas que usan "Imagenes" */

@media (prefers-color-scheme: dark){
:root:is([style*="--lwt-additional-images"],[lwtheme-image]){
  --lwt-tab-text: white !important;                                                                                /* tab_text */
  --new-selected-tab-bgcolor: #1010192b !important;                                                                /* variable necesaria para ocurecer la pestaña activa */
  --new-toolbar-bgcolor: #1010196b !important;                                                                     /* Necesario para image in menus */
  --toolbar-bgcolor: #101019b0 !important;                                                                         /* toolbar */
  --arrowpanel-background: #101019 !important;                                                                     /* popup */
  --arrowpanel-color: var(--lwt-tab-text) !important;                                                              /* popup_text */
  --lwt-background-alignment: right top, left top, right top !important;
  }}

@media (prefers-color-scheme: light){
:root:is([style*="--lwt-additional-images"],[lwtheme-image]){
  --lwt-tab-text: black !important;                                                                                /* tab_text */
  --new-selected-tab-bgcolor: #fefef52b !important;                                                                /* variable necesaria para ocurecer la pestaña activa */
  --new-toolbar-bgcolor: #ffffff6b !important;                                                                     /* Necesario para image in menus */
  --toolbar-bgcolor: #fefef5b0 !important;                                                                         /* toolbar */
  --arrowpanel-background: #fefef5 !important;                                                                     /* popup */
  --arrowpanel-color: var(--lwt-tab-text) !important;                                                              /* popup_text */
  --lwt-background-alignment: right top, left top, right top !important;
  }}