/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* --------------- Íconos -------------------*/

/* back button */

#nav-bar #back-button image {    
    list-style-image: url("../icons/back.svg") !important;
}

/* forward - go button */

#nav-bar #forward-button image {
    list-style-image: url("../icons/forward.svg") !important;
    padding-inline-start: 5px !important;
}

/* home button */

#home-button image{
    list-style-image: url("../icons/home.svg") !important;
}

/* Ícono bookmark */

#pageAction-panel-bookmark[starred], #star-button[starred] {
    list-style-image: url("../icons/bookmark.svg") !important; }
#pageAction-panel-bookmark, #star-button {
    list-style-image: url("../icons/bookmark-empty.svg") !important;
}

/* Tracking protection icon */

#tracking-protection-icon-container {
    -moz-box-ordinal-group: 2 !important;
    order: 2 !important;
}

.urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box {
  & not([hasException]) {
    list-style-image: var(--shield-icon-personal) !important;
    fill: var(--general-color) !important;
  }
  &[active] {
    list-style-image: var(--shield-icon-personal) !important;
    fill: var(--general-color) !important;
  }}

.urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container:is(:hover,[open]) > #tracking-protection-icon-box {
  fill: var(--toolbarbutton-icon-fill) !important;
  &[active] {
    fill: var(--toolbarbutton-icon-fill) !important;
  }
}

/* Ícono protección contra rastreo */

#tracking-protection-icon-container {
    order: 2 !important;
}

/* ícono candado */

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url("../icons/security.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}

/* Ícono permisos adicionales */

#permissions-granted-icon {
    list-style-image: url("../icons/permissions.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}

/* reader mode */

#reader-mode-button > .urlbar-icon {
    list-style-image: url("../icons/read-mode.svg") !important;
}

/* Menu hamburguesa Logo */

#PanelUI-menu-button {
  list-style-image: url("../icons/foxFill.svg") !important;
}
