/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

@supports -moz-bool-pref("firefoxchameleon.tree-tabs") {

/* ####################################### Window controls from MrOtherGuy ############################################ */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  /*--uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  /*--uc-window-drag-space-pre: 30px; /* left side*/
  --uc-window-drag-space-post: 30px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 84px;
  }
}
@media (-moz-platform: macos){
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
}

.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}
/*
:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }
*/
/*
#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid transparent;
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
  background-clip: border-box !important;
}
  */

/* Rules for window controls on left layout 
@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}
*/
/* This pref can be used to force window controls on left even if that is not normal behavior on your OS 
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset; }
  .titlebar-buttonbox-container{
    order: -1 !important;
  }
  .titlebar-buttonbox{
    flex-direction: row-reverse;
  }
}*/
  
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides tabs toolbar */
/* For OSX use hide_tabs_toolbar_osx.css instead */

/* Note, if you have either native titlebar or menubar enabled, then you don't really need this style.
 * In those cases you can just use: #TabsToolbar{ visibility: collapse !important }
 */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root[tabsintitlebar]{ --uc-toolbar-height: 40px; }
:root[tabsintitlebar][uidensity="compact"]{ --uc-toolbar-height: 32px }

#TabsToolbar{ visibility: collapse !important }

:root[sizemode="fullscreen"] #TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
  visibility: visible !important;
  z-index: 2;
}

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height,0px));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"]{
  min-height: unset !important;
  height: var(--uc-toolbar-height,0px) !important;
  position: relative;
}

#toolbar-menubar[autohide="false"]{
  margin-bottom: var(--uc-toolbar-height,0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar{
  flex-grow: 1;
  align-items: stretch;
  background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-right: 30px solid transparent;
  border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-pre,0px)
}

/* _____________________________________________________________________ MY CODE _______________________________________________________________________
   ################################################### Además de sobre-escribir el código de arriba ####################################################  */

:root[tabsintitlebar]{
  --toolbar-height-personal: calc(var(--tab-height-personal) + var(--margin-top) * 2) !important;
  --uc-toolbar-height: var(--toolbar-height-personal) !important;
}

/* Espacio de arraste + window controls space */
  
:root:is([tabsintitlebar],[sizemode="fullscreen"]) ,
:root:is([tabsintitlebar][sizemode="normal"]) {
    --uc-window-control-width: 126px !important;
}
  
/* Sobre-escribir ancho <window controls> linux */
  
@media (-moz-gtk-csd-available) {
:root:is([tabsintitlebar][sizemode="normal"]),
:root:is([tabsintitlebar],[sizemode="fullscreen"]){
    --uc-window-control-width: 134px !important;
  }}

/* Espacio de arrastre */

#nav-bar{
    padding-inline-end: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-post)) !important;
}
:root:is([tabsintitlebar][sizemode="normal"]) #nav-bar{
    padding-inline-start: var(--uc-window-drag-space-post) !important;
}

/* Separador <window controls> y demás botones */
  
#PanelUI-menu-button::after {
    background: url("../images/urlbar-separator.svg") no-repeat !important; 
    content: ""; display: block !important;
    background-size: 6px 16px !important;
    width: 6px !important;
    height: 16px;
    fill: var(--button-active-bgcolor) !important;
    -moz-context-properties: fill !important;
    margin-left: 4px !important;
    margin-right: -14px !important;
    opacity: 0.8;
}

/* Borde redondeado barra de menú */

#main-menubar>menu{
    background-color: transparent !important;
}

#main-menubar>menu>.menubar-text{
    padding: 6px 4px !important;
}

#main-menubar>menu:is(:hover,[open])>.menubar-text {
    background-color: var(--button-bgcolor) !important;
    border-radius: 4px !important;
    width: -moz-available !important;
}

/* trick para que los botones de extensiones sean clicleables desde el borde superior de la ventana */
  
#nav-bar .toolbarbutton-1 .toolbarbutton-badge-stack{
  margin-block: 6px 6px !important;
}

/* ################################## Código para la extensión "Tab-Center-Reborn" ################################ 
   ################################################################################################################ */

:root {
    /* delay before expanding tabs, set to '0' for no delay */
    --delay: 0.5s;
    --transition-time: 0.2s;
    --positionX1: 48px; /* '48px' for left, '0px' for right sidebar */
    --positionX2: absolute; /* 'absolute' for left, 'none' for right sidebar */
    /* width of the collapsed sidebar in fullscreen mode ('1px' or '48px') */
    --fullscreen-sidebar-width: 1px;
}
/* General styles */
#browser {
    position: relative;
}
#sidebar-box:not([lwt-sidebar]){
    appearance: unset !important;
}
#sidebar-box[sidebarcommand*="tabcenter"] {
    z-index: 1;
    --prueba-variable: green;
}
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
    visibility: collapse;
    display: none;
}
[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"] {
    min-width: 48px !important;
    max-width: 48px !important;
    width: 48px;
}
#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    display: block;
    position: var(--positionX2);
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 0;
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}
    
#sidebar-box[sidebarcommand*="tabcenter"][positionend="true"]:not([hidden]) {
    display: block;
    position: var(--positionX2);
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

/* use :where() selector to lower specificity */
:where(#main-window[inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    min-width: var(--fullscreen-sidebar-width) !important;
    max-width: var(--fullscreen-sidebar-width) !important;
    margin-left: 0px !important;
}
#sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover {
    min-width: 10vw !important;
    width: 30vw !important;
    max-width: 200px !important;
    z-index: 1 !important;
    transition: all var(--transition-time) ease var(--delay);
}
/* used for delay function */
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) {
    transition: all var(--transition-time) ease 0s;
}

@media (width >= 1200px) {
    #sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
    #sidebar-box[sidebarcommand*="tabcenter"]:hover {
        max-width: 250px !important;
    }
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
    max-height: 100%;
    height: 100%;
}

#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: calc(var(--positionX1) + 0px);
}
    
#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"][positionend="true"]:not([hidden]) ~ #appcontent {
    margin-left: 0px;
    margin-right: 49px;
}

#main-window[inFullscreen]:not([inDOMFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: var(--fullscreen-sidebar-width);
}

#main-window[inFullscreen] #sidebar {
    height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
    background: #0C0C0D;
    border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    border-right-color: #0C0C0D !important;
    border-left-color: #0C0C0D !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
    filter: invert(100%);
}
}
