/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Imagen principal difuminada en temas que usas imagenes */

#TabsToolbar, #toolbar-menubar{
    background-color: var(--toolbar-bgcolor) !important;
}
/*
#TabsToolbar:-moz-lwtheme, 
#toolbar-menubar:-moz-lwtheme {
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                      linear-gradient(transparent, transparent), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top, right top, right top, left top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important; 
}

/* Color bolita de cargando página */

#tabbrowser-tabs{
    --tab-loading-fill: var(--button-primary-bgcolor) !important;
}

/* Sombra de la pestaña activa y label */

.tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background, .tab-label {
    text-shadow: none !important
}

/* Borde superior de la toolbar y transparencia de la tabline */

#navigator-toolbox { --lwt-tabs-border-color: transparent !important; }
/* #tabbrowser-tabs { --lwt-tab-line-color: blue !important; }*/

/* Quitar label "Navegación Privada" */

#private-browsing-indicator-with-label>label {
    display: none !important;
}

/* Tamaño horizontal pestañas */

.tabbrowser-tab[fadein]:not([pinned],[style^="max-width"]) {
    max-width: 200px !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  min-width: 74px !important;
}

/* Firefox view icon */

#firefox-view-button{ list-style-image: url("../images/firefoxview-close.svg") !important; }
#firefox-view-button[aria-pressed="true"] { list-style-image: url("../images/firefoxview-open.svg") !important; }

toolbar:is(#TabsToolbar) #firefox-view-button{ padding-left: 8px !important; }

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid transparent !important;
}

toolbar:is(#TabsToolbar) #firefox-view-button .toolbarbutton-icon{
    border-radius: 4px !important;
    margin: -2px !important;
    height: calc(var(--tab-height-personal) - 6px) !important;
    width: calc(var(--tab-height-personal) - 6px) !important;
    padding: 4px !important;
}

toolbar:is(#TabsToolbar, #PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    outline: none !important;
    border-radius: 4px !important;
    margin: -2px !important;
    background: var(--button-hover-bgcolor) !important;
    fill: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

 toolbar #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    background: var(--button-hover-bgcolor) !important;
    fill: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/* Linea gradiente en pestaña activa */

.tab-background[selected]{
    outline: none !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    background-clip: padding-box;
    border-radius: 5px !important;
}

.tabbrowser-tab[selected] > .tab-stack::before{
    content: "";
    display: -moz-box;
    min-height: inherit;
    border-radius: 4px !important;
    grid-area: 1/1;
    margin-block: var(--tab-block-margin);
    background: repeat var(--identity-icon-color, var(--gradient)) !important;
}

.tab-content{ padding-top: 1px !important; margin-left: -1px !important;
}

/* Imagen en pestaña */

:root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) tab[selected] .tab-background{
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: initial, initial, left top, right top, right top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: var(--display-theme-with-images) !important; 
}

/* Margenes de las pestañas */

.tabbrowser-tab .tab-stack {
    padding-left: 1px !important;
    margin-right: -2px !important;
}

/* Color :hover de las pestañas no seleccionadas */

.tab-background:not([selected="true"],[multiselected]):hover {
    background-color: var(--toolbarbutton-hover-background) !important;
}

/* Colores al mover una pestaña */

#tabbrowser-tabs:is([movingtab]):not([multiselected]) .tab-background[selected]{
    background-color: var(--lwt-selected-tab-background-color) !important;
}

/* Centrar botón -Open Newtab- */

#TabsToolbar .toolbarbutton-1 {
    padding-top: 2px !important;
}

/* Medidas menores para scroll de pestañas */

#tabbrowser-tabs {
    --uc-tabs-scrollbutton-border: 0px !important;
}
  
#scrollbutton-up, #scrollbutton-down {
    border-top: 3px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}
  
spacer{ 
    border-image: 0 1 linear-gradient(
    transparent 3px,
    color-mix(in srgb, currentColor 20%, transparent) 3px,
    color-mix(in srgb, currentColor 20%, transparent) 100%,
    transparent 100%
  ) !important;
}

/* Reduce spacing between pinned and regular tabs */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/

#urlbar-zoom-button {
    padding: 0px 4px !important;
    margin: 2px !important;
}

/*favicon de pagina newtab*/

.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("../images/foxlogo.svg")!important;
}

/* Color y posición "dot" de pestaña que necesita atención */

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle, var(--button-active-bgcolor1), var(--button-active-bgcolor1) 2px, transparent 2px) !important;
  background-position: center top calc(4px + var(--tabs-navbar-shadow-size)) !important;
}

/* Code to tabs-bar reach lower height that 30px - usuful to align menu-bar controls buttons */

#titlebar{ appearance: none !important; }

.titlebar-buttonbox-container, .tab-close-button, .tab-label-container{
  max-height: calc(var(--tab-height-personal) + 3px) !important;
}

/* ---------------------------------------------------------- Menubar ---------------------------------------------------------- */

/* ---------------------- Menu-bar in tabs-tolbar ------------------------- */

:root:not([customizing]) #titlebar{
  -moz-box-orient: vertical; /* Fx <112 compatibility */
  flex-direction: row;
}
#toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container,
#toolbar-menubar[autohide="false"] > spacer{ display: none; }

#main-menubar[autohide="false"]{
  -moz-box-flex: 1; /* Fx <112 compatibility */
  flex-grow: 1 !important;
}
:root:not([customizing]) #toolbar-menubar[autohide="false"][inactive]{ max-width: 0px !important; }
:root:not([customizing]) #toolbar-menubar[autohide="true"][inactive]{ max-width: 0px !important;  }

:root:not([customizing]) #toolbar-menubar[autohide="false"] + #TabsToolbar{ margin-inline-start: 39px !important; } /* Muevo las pestañas un poco a la derecha con menu active */
:root:not([customizing]) #toolbar-menubar[autohide="true"] + #TabsToolbar{ margin-inline-start: -1px !important; }  /* Muevo las pestañas 1px a la izquierda por bug */

/* For One-Line config - sobreescribo la linea anterior */

@supports -moz-bool-pref("firefoxchameleon.oneline") {
    #toolbar-menubar[autohide="false"] + #TabsToolbar{ padding-inline-start: calc(var(--navbarWidth) - 40px) !important; } /* Muevo las pestañas un poco a la derecha con menu active */
    #toolbar-menubar[autohide="true"] + #TabsToolbar{ padding-inline-start: var(--navbarWidth) !important; }  /* Muevo las pestañas 1px a la izquierda por bug */
}

:root:not([sizemode="fullscreen"]) #TabsToolbar > .titlebar-buttonbox-container{
  display: flex !important;
  visibility: visible !important;
}

#TabsToolbar > .titlebar-spacer[type="post-tabs"]{
  display: flex !important;
}

/* ---------------------------------------------- Vertical Menu ----------------------------------------------
   Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_popup_menubar.css   */

/* Makes menubar-items (File, Edit etc.) appear vertically as popup
 * When menubar is enabled, only the first item will be visible and it will use an icon instead of text.
 * When menubar is disabled and you hit Alt to show it, then the menubar items will appear in the corner as overlay.
 * Does NOT support toolbar buttons/items in menubar when in disabled mode.
 */

#toolbar-menubar{
  --uc-menubaritem-height: calc(var(--tab-height-personal) + 4px);
  --uc-menubaritem-width: 40px;
}

/* My code - Opening animation */

@keyframes scale-up-top-left{0%{transform:scale(.5);transform-origin:top left}100%{transform:scale(1);transform-origin:top left}}
menubar:hover > menu{animation:scale-up-top-left 0.1s; }
#toolbar-menubar[autohide="true"]:not([inactive]) > #menubar-items > menubar > menu{animation:scale-up-top-left 0.1s; }


menubar > menu{visibility: collapse;}
menubar:hover > menu,    
#toolbar-menubar[autohide="true"]:not([inactive]) > #menubar-items > menubar > menu{visibility: visible; }

:root:not([customizing],[sizemode="fullscreen"]) #menubar-items{
  display: block;
  position: fixed;
  z-index: 10;
  background-color: var(--contrast-color);
  inset-inline-start: 0;
}

/* My code - borde gradiente */

#toolbar-menuba #menubar-items{
    border-radius: 0 0 17px 0 !important;
}

#toolbar-menubar[autohide="true"]  #menubar-items{
    /*margin-block-start: -1px !important;
    border-inline-end: 1px solid red !important;
    border-block-end: 1px solid red !important;
    border-image: var(--personal-gradient-into-arrowpanels) 1 !important;*/
    border-radius: 0 0 7px 0 !important;
    box-shadow: 1px 1px var(--general-color) !important;
}

#menubar-items{
    border-radius: 0 0 7px 0 !important;
}

:root:not([customizing]) menubar{
    flex-direction: column;
    border-radius: 0 0 7px 0 !important;
}

menubar > menu > menupopup{ margin: calc(0px - var(--uc-menubaritem-height)) 0px 0px calc(var(--uc-menubaritem-width) * 2 + 4px) !important; }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items{ max-height: 0px; overflow: hidden; }
#toolbar-menubar[autohide="true"]:not([inactive]){ margin-bottom: -32px; max-width: 0px !important;}    /*  !!!!  max-width 0 para que no desplace las pestañas a la derecha*/
#toolbar-menubar > .titlebar-buttonbox-container + :is(toolbarbutton,toolbaritem){ margin-inline-start: var(--uc-menubaritem-width) }

#file-menu{
  fill: currentColor;
  visibility: visible;
  height: var(--uc-menubaritem-height);
  width: var(--uc-menubaritem-width);
  -moz-context-properties: fill;
  background-repeat: no-repeat;
  background-position: center;
}
menubar:not(:hover) > #file-menu{ background-image: url("chrome://devtools/skin/images/tool-storage.svg"); }

#file-menu > .menubar-text{ visibility: collapse }
menubar:hover > #file-menu > .menubar-text{ visibility: visible; }

/* My code - tamaño botones iguales y borde con el menú open */

menubar:hover >  #file-menu{ width: -moz-available; }

menubar:hover{
    box-shadow: 1px 1px var(--general-color) !important;
}

/* My code - Borde redondeado barra de menú */

#main-menubar>menu{
    background-color: transparent !important;
}

#main-menubar>menu>.menubar-text{
    padding: 6px 4px !important;
    margin-block: 7px !important;
}

#main-menubar>menu:is(:hover,[open])>.menubar-text {
    background-color: var(--button-bgcolor) !important;
    border-radius: 4px !important;
    width: -moz-available !important;
}
