/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* --------------- Íconos -------------------*/
/* back button */
#nav-bar #back-button image {    
    list-style-image: url("../images/back.svg") !important;
}
/* forward - go button */
#nav-bar #forward-button image {
    list-style-image: url("../images/forward.svg") !important;
    padding-inline-start: 5px !important;
}
/* home button*/
#home-button image{
    list-style-image: url("../images/home.svg") !important;
}
/* Ícono bookmark */
#pageAction-panel-bookmark[starred], #star-button[starred] {
    list-style-image: url("../images/bookmark.svg") !important; }
#pageAction-panel-bookmark, #star-button {
    list-style-image: url("../images/bookmark-empty.svg") !important;
}
/* Ícono protección contra rastreo */
#tracking-protection-icon-container, #page-action-buttons{
  -moz-box-ordinal-group: 2 !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
    list-style-image: var(--shield-icon-personal) !important;
    fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection-disabled.svg) !important;
    fill: var(--buttons-destructive-bgcolor) !important;
}
/* ícono candado */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url("../images/security.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}
/* Ícono permisos adicionales */
#permissions-granted-icon {
    list-style-image: url("../images/permissions.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}
/* reader mode */
#reader-mode-button > .urlbar-icon {
    list-style-image: url("../images/read-mode.svg") !important;
}
/*Menu hamburguesa Logo */
#PanelUI-menu-button {
  list-style-image: url("../images/foxFill.svg") !important;
}
