/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/*Sombra de la pestaña activa eliminada, borde superior de la toolbar y transparencia de la tabline*/
.tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background {
    box-shadow: none !important;
}
.tab-label {
    text-shadow: none !important
}
#navigator-toolbox { --lwt-tabs-border-color: var(--gradient, transparent) !important; }
#tabbrowser-tabs { --lwt-tab-line-color: var(--gradient, transparent) !important; }

/*Linea gradiente en pestaña activa*/
.tab-background{ margin-left: -1px !important; margin-right: -1px !important}
.tab-content {height: calc(var(--tab-min-height) - 2px) !important; margin-top: calc(var(--margin-top) + 1px) !important; }

.tab-background[selected="true"] {
    background-image: var(--gradient) !important;
    border-radius: 5px !important;
}
.tabbrowser-tab:not([multiselected])[selected="true"] .tab-content {
    background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important;
    border-radius: 4px !important;
}
/*Margenes y color de las pestañas no seleccionadas*/
.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
    margin-left: -1px !important;
    margin-right: -1px !important;
}
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
    background-color: var(--toolbarbutton-hover-background) !important;
}
.tabbrowser-tab .tab-stack {
    padding-left: 2px !important;
    margin-right: -1px !important;
}
/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {
    padding-top: 2px !important;
}
/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs {
    --uc-tabs-scrollbutton-border: 0px !important;
}
#scrollbutton-up, #scrollbutton-down {
    border-block-width: var(--uc-tabs-scrollbutton-border, 0px) !important;
}
/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}
/*Regla para visualizar mejor el seleccionar varias pestañas*/

.tabbrowser-tab[multiselected]:-moz-lwtheme {
    color: var(--lwt-tab-text) !important;    
}
.tab-background:is([multiselected]){
    background: #4d4dfe !important;
}
/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/

#urlbar-zoom-button {
    padding: 0px 4px !important;
    margin: 2px !important;
}
/*favicon de pagina newtab*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
  content: url("../images/foxlogo.svg");
  fill: var(--identity-icon-color, var(--general-color)) !important;
}
/* Remove little space left to first tab */
/*.titlebar-spacer[type="pre-tabs"]{display:none;}*/

/*Borde redondeado - barra de menú*/
#main-menubar>menu {
    border-radius: 4px !important
}
