/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Imagen principal difuminada en temas que usas imagenes */

#TabsToolbar, #toolbar-menubar{
    background-color: var(--toolbar-bgcolor) !important;
}

/* Color bolita de cargando página */

#tabbrowser-tabs{
    --tab-loading-fill: var(--button-primary-bgcolor) !important;
}

/* Sombra de la pestaña activa y label */

.tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background, .tab-label {
    text-shadow: none !important
}

/* Borde superior de la toolbar y transparencia de la tabline */

#nav-bar:not([tabs-hidden="true"]) { box-shadow: none !important; border-color: transparent !important; }

/* Remove "Private navigation" label */

.private-browsing-indicator-label {
    display: none !important;
}

/* ___________ General tab-groups variables */

tab-group {
    --tab-group-line-thickness: var(--my-group-line-thickness) !important;                          /* Tab-group line width */
    --general-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;  /* Tab accent color the same of group */
}

/* Horizontal Tab into a group */

#tabbrowser-arrowscrollbox[orient="horizontal"] {

    & tab-group {
        
        & .tabbrowser-tab {
            background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 0%, transparent) !important;/**/
        }
    }
}

/* Vertical Tab into a group */

#tabbrowser-arrowscrollbox[orient="vertical"] {

    tab-group {
        
        /* Tab accent color the same of group */
        & .tabbrowser-tab {
            background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 5%, transparent) !important;/**/
            --general-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
        }

        /* Remove unwanted margin when sidebar is expanded */
        #tabbrowser-tabs[expanded] & {
            margin-inline-start: 0px !important;
        }
    }
}

/* ____________ tab group label style */
        
/* 'Closed' Group name */

tab-group:is([collapsed]) .tab-group-label::before {
    outline: 1px solid light-dark(var(--tab-group-color), var(--tab-group-color-pale)) !important;
    outline-offset: -1px !important;
}

/* 'Open' group name */

tab-group:not([collapsed]) .tab-group-label::before {
    background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
    border-radius: 4px !important;
}

/* _________________________________ Styles just for Horizontal tabs _________________________________ */

@media not -moz-pref("sidebar.verticalTabs") {

    #tabbrowser-arrowscrollbox[orient="horizontal"] {
        
        /* Margin between tabs */
        &>.tabbrowser-tab {
            padding-inline: 4px 0px !important;
            margin-inline-end: -2px !important;
        }
        
        & #tabs-newtab-button {
            padding-inline-start: 4px !important;
        }

        /* Margin between tabs inside a group */
        &>tab-group:not([collapsed])>.tabbrowser-tab:not(:last-child) {
            padding-inline: 0 2px !important;   
        }
        
        /* Margin last tab of group */
        &>tab-group:not([collapsed])>.tabbrowser-tab:is(:last-child) {
            padding-inline: 0 !important;
            margin-inline-end: 2px !important;
        }
        
        /* _____________________ Group name box re-done _____________________ */
        
        &>tab-group>.tab-group-label-container{
            align-self: start !important;
        }
        
        & .tab-group-label {
            background: transparent !important;
            border: transparent !important;
            outline: transparent !important;
            border-radius: 0px !important;
            line-height: calc(var(--tab-height-personal) + var(--my-tab-margin-top)*2 - 1px) !important;
            height: calc(var(--tab-height-personal) + var(--my-tab-margin-top) + var(--my-tab-margin-bottom)) !important;
            z-index: 1 !important;
            
            &::before {
                content: ""; 
                display: flex;
                position: absolute;
                inset-inline-start: 1px; /* not 'left' cause RTL compatibility */
                width: calc(100% - 4px);
                margin-block: 9px 7px;
                padding-block: calc(var(--tab-height-personal)/2 - 3px) calc(var(--tab-height-personal)/2 - 9px);
                border-radius: 4px;
                background-color: light-dark(transparent, var(--tab-group-color));
                z-index: -1;
                align-self: center !important;
            }
            
            &:hover::before {
                background-color: light-dark(transparent, color-mix( in srgb, var(--tab-group-color) 80%, var(--lwt-tab-text)));
            }
        }
        
        /* _____________________________________________________________ */
        
        /* Horizontal tab size for ungrouped tabs */
        
        &>.tabbrowser-tab[fadein]:not([style^="max-width"]) {
            max-width: 200px !important;
        }
        
        /* Horizontal tab size for grouped tabs */
        
        &>tab-group:not([collapsed]) .tabbrowser-tab[fadein]:not([style^="max-width"]) {
            max-width: 200px !important;
        }

        & .tab-content {
            margin-block-end: calc(1px - var(--my-tab-margin-top)) !important;
        }

        /* ____________________________ Styles when creating a group by dragging a tab ____________________________ */
        
        & .tabbrowser-tab[selected]:has(+ .tabbrowser-tab[dragover-createGroup]) {     /* 'Moving tab' + 'Tabforgroup' */
            & .tab-background  {
                border-inline-end-width: 0px !important;
            }
        }
        
        & .tabbrowser-tab[dragover-createGroup] + .tabbrowser-tab[selected] {          /* 'tabforgroup' + 'Moving tab' */
            & .tab-background  {
                border-inline-start-width: 0px !important;
            }
        }

        & .tabbrowser-tab[selected]:has(+ .tabbrowser-tab[dragover-createGroup]),      /* 'Moving tab' + 'Tabforgroup' */
        & .tabbrowser-tab[dragover-createGroup] + .tabbrowser-tab[selected] {          /* 'tabforgroup' + 'Moving tab' */

            & .tab-background {
                background-image: none !important;
                background-color: light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color)) !important;
                outline-color: var(--dragover-tab-group-color-pale) !important;
                outline-width: 1px !important;
                outline-offset: -4px !important;
                border-radius: 0px !important;
                clip-path: none !important;
                box-shadow: inset 0 -1px 0 0 light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)),
                    0 -1px 0 0 light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)) !important;
                filter: none !important;            /* Used for 'tab-shapes' config */
                margin-inline: 0px !important;
            }
            
            /* For 'Tab-shapes' - remove form */
            & .tab-background::before,
            & .tab-background::after {
                display: none !important;
            }

            & .tab-stack::before {
                clip-path: none !important;
                border-radius: 0px !important;
                --general-color: light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)) !important;
            }
        }

        & .tabbrowser-tab[dragover-createGroup] {
            & .tab-background{
                outline-width: 1px !important;
                clip-path: none !important;
            }
        }
    }

    /* __________________________________ Tab group line __________________________________*/
    
    /* Line under tab  */

    .tab-group-line {
        display: none !important;
    }
    
    /* Line below group label */

    .tab-group-label-container {
        tab-group:not([collapsed]) > &::after {
            top: 0 !important;
        }
    }

    tab-group .tabbrowser-tab:not([multiselected]) {
        box-shadow: inset 0 calc(0px + var(--tab-group-line-thickness)) 0px 0px light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
    }

    /* 'Tabs with group' background color when moving a tab */

    :root:has(#tabbrowser-tabs[movingtab]) {
        tab-group .tabbrowser-tab:not([selected]) {
            --moving-tab-background: color-mix(in srgb, var(--tab-group-color-invert) 16%, transparent);
            /*clip-path: var(--my-tab-stack-clip);/**/
            background-image: none !important;
            background-color: light-dark(var(--tab-group-color), var(--moving-tab-background)) !important;
        }
    }
}

/* _________________________________ Group styles just for Vertical tabs _________________________________ */

@media -moz-pref("sidebar.verticalTabs") {
    
    #tabbrowser-arrowscrollbox[orient="vertical"] {
        
        /* 'Group label container' height  and aling */
        
        .tab-group-label-container {
            #tabbrowser-tabs[orient="vertical"] & {
                height: calc(var(--vertical-elements-width) - 12px) !important;
            }
        }
        
        .tab-group-label {
            #tabbrowser-tabs[orient="vertical"][expanded] & {
                min-width: calc(var(--vertical-elements-width) - 16px) !important;
                height: calc(var(--vertical-elements-width) - 16px) !important;
                /*margin-block: 0px 3px !important;/**/
                padding-block: 2px 0px !important;
            }
        }
        
        /* Group line */
        
        tab-group {
            #tabbrowser-tabs & {
                &::before {
                    inset-inline-start: 0px !important;
                    inset-block: 2px 0px !important;
                }
            }
        }
        
        tab-group {
            #tabbrowser-tabs & {
                #tabbrowser-tabs[orient="vertical"][expanded] &::before {
                    inset-block: 0px !important;
                }
            }
        }

        & .tab-group-label {
            background: transparent !important;
            border-color: transparent !important;
            outline-color: transparent !important;
            min-width: var(--vertical-elements-width) !important;
            text-overflow: '..'  !important;
            margin-block: 0px !important;
            margin-inline: 0px !important;
            padding-block: 0px !important;
            padding-inline: 8px 8px !important;
            font-size: inherit !important;
            border-radius: 0px !important;
            justify-content: center !important;
            z-index: 1 !important; /* Allow click on border cause group-line may avoid the clic */

            &::before {
                content: ""; 
                display: block;
                position: absolute !important;
                inset-inline-start: 6px;
                height: calc(var(--vertical-elements-width) - 16px);
                min-width: calc(100% - 12px) !important;
                margin-block: 0px !important;
                padding-block: 0px !important;
                border-radius: 4px;
                background-color: light-dark(transparent, var(--tab-group-color));
                z-index: -1;
            }

            &:hover::before {
                background-color: light-dark(transparent, color-mix( in srgb, var(--tab-group-color) 80%, var(--lwt-tab-text)));
            }
        }
        
        /* Align */
        .tab-group-label {
            #tabbrowser-tabs[orient="vertical"][expanded] & {
            &::before {
                top: 0 !important;
                }
            }
        }
    }
}

/* Firefox view icon */

#firefox-view-button{ list-style-image: url("../icons/firefoxview-close.svg") !important; }
#firefox-view-button[aria-pressed="true"] { list-style-image: url("../icons/firefoxview-open.svg") !important; }

toolbar:is(#TabsToolbar) #firefox-view-button{ padding-left: 8px !important; }

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid transparent !important;
}

toolbar:is(#TabsToolbar) #firefox-view-button .toolbarbutton-icon{
    border-radius: 4px !important;
    margin: -2px !important;
    height: calc(var(--tab-height-personal) - 6px) !important;
    width: calc(var(--tab-height-personal) - 6px) !important;
    padding: 4px !important;
}

toolbar:is(#TabsToolbar, #PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    outline: none !important;
    border-radius: 4px !important;
    background: var(--button-hover-bgcolor) !important;
    fill: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

 toolbar #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    background: var(--button-hover-bgcolor) !important;
    fill: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/* Bug fixes en pestaña activa y tambien sirve para la barra de menú */

:root[tabsintitlebar] #titlebar:-moz-window-inactive { opacity: 1 !important; }

.tabbrowser-tab[selected] { z-index: 1 !important; }

#TabsToolbar {
  will-change: unset !important;
  transition: none !important;
  opacity: 1 !important;
}

/* Linea gradiente en pestaña activa */

.tab-background:is([selected]){
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
                      var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
    background-position: 0 0, var(--lwt-background-alignment), right top !important;
    background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
    background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto !important;
    background-attachment: scroll, fixed, fixed !important;
    background-color: transparent !important;
    box-shadow: none !important;
    background-clip: padding-box;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
}

.tabbrowser-tab[visuallyselected] > .tab-stack::before{
    content: "";
    display: flex;
    min-height: inherit;
    border-radius: var(--tab-border-radius);
    grid-area: 1/1;
    margin-block: var(--tab-block-margin);
  /* Edit gradient colors here */
    background: repeat var(--identity-icon-color, var(--gradient)) !important;
    border-radius: 4px !important;
}

/* Color :hover de las pestañas no seleccionadas */

.tab-background:not([selected="true"],[multiselected]):hover {
    background-color: var(--toolbarbutton-hover-background) !important;
}

/* Colores al mover una pestaña */

#tabbrowser-tabs:is([movingtab]):not([multiselected]) .tab-background[selected]{
    background-color: var(--lwt-selected-tab-background-color) !important;
}

/* Centrar botones de la tabs-bar */

#TabsToolbar .toolbarbutton-1 {
    padding-block: var(--tab-block-margin) !important;
}

/* Medidas menores para scroll de pestañas */

#tabbrowser-tabs {
    --uc-tabs-scrollbutton-border: 0px !important;
}
  
#scrollbutton-up, #scrollbutton-down {
    border-top: 3px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}
  
spacer{ 
    border-image: 0 1 linear-gradient(
    transparent 3px,
    color-mix(in srgb, currentColor 20%, transparent) 3px,
    color-mix(in srgb, currentColor 20%, transparent) 100%,
    transparent 100%
  ) !important;
}

/* Reduce spacing between pinned and regular tabs */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/

#urlbar-zoom-button {
    padding: 0px 4px !important;
    margin: 2px !important;
}

/*favicon de pagina newtab*/

.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("../icons/foxlogo.svg")!important;
}

/* Color y posición "dot" de pestaña que necesita atención */

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle, var(--button-active-bgcolor1), var(--button-active-bgcolor1) 2px, transparent 2px) !important;
  background-position: center top calc(4px + var(--tabs-navbar-shadow-size)) !important;
}

/* Code to tabs-bar reach lower height that 30px */

.titlebar-buttonbox-container, .tab-close-button, .tab-label-container{
  max-height: calc(var(--tab-height-personal) + var(--my-tab-margin-top) + var(--my-tab-margin-bottom)) !important;
}

/* Tab Preview */

#tab-preview-panel{
    margin-top: 1px !important;
    box-shadow: inset 0 0 0 1px var(--my-content-border-color) !important;
    border-radius: 6px !important;
}

.tab-preview-thumbnail-container {
    width: -moz-available !important;
    height: 138px !important;
    border-top-color: var(--button-bgcolor) !important;
    border-radius: 0 0 6px 6px !important;
}

/* __________________________________________________________ Menubar __________________________________________________________ 
   _____________________________________________ Incompatible with tree-tabs style _____________________________________________ */

@media (not -moz-pref("firefoxchameleon.tree-tabs")) and (not -moz-pref("sidebar.verticalTabs")) {

    /* ---------------------- Menu-bar in tabs-tolbar ------------------------- */

    #toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container,
    #toolbar-menubar[autohide="false"] > spacer{ display: none; }

    #main-menubar[autohide="false"]{
        -moz-box-flex: 1; /* Fx <112 compatibility */
        flex-grow: 1 !important;
    }
    :root:not([customizing]) #toolbar-menubar[autohide="false"][inactive]{ max-width: 0px !important; }
    :root:not([customizing]) #toolbar-menubar[autohide="true"][inactive]{ max-width: 0px !important;  }

    :root:not([customizing]) #toolbar-menubar[autohide="false"] + #TabsToolbar{ margin-inline-start: var(--uc-menubaritem-width) !important; } /* Muevo las pestañas un poco a la derecha con menu active */
    :root:not([customizing]) #toolbar-menubar[autohide="true"] + #TabsToolbar{ margin-inline-start: -1px !important;}  /* Muevo las pestañas 1px a la izquierda por bug */

    /* For One-Line config - sobreescribo la linea anterior */

    @media -moz-pref("firefoxchameleon.oneline") {
        :root:not([customizing]) {
            #toolbar-menubar[autohide="false"] + #TabsToolbar{ padding-inline-start: calc(var(--navbarWidth)) !important; } /* Muevo las pestañas un poco a la derecha con menu active */
            #toolbar-menubar[autohide="false"] ~ #nav-bar { padding-inline-start: var(--uc-menubaritem-width) !important; } /* Muevo las pestañas un poco a la derecha con menu active */
            #toolbar-menubar[autohide="true"] + #TabsToolbar{ padding-inline-start: var(--navbarWidth) !important; }  /* Muevo las pestañas 1px a la izquierda por bug */
        }
    }

    /* For One-Line config - linux - window controls on left */

    @media -moz-pref("firefoxchameleon.oneline") {
        @media (-moz-gtk-csd-reversed-placement){
            #toolbar-menubar[autohide="false"] + #TabsToolbar{ padding-inline-start: calc(var(--navbarWidth) - 0px) !important; } /* Muevo las pestañas un poco a la derecha con menu active */
        }
    }

    :root:not([sizemode="fullscreen"]) #TabsToolbar > .titlebar-buttonbox-container{
        display: flex !important;
        visibility: visible !important;
    }

    #TabsToolbar > .titlebar-spacer[type="post-tabs"]{
        display: flex !important;
    }


    /* ---------------------------------------------- Vertical Menu ----------------------------------------------
    Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_popup_menubar.css   */

    /* Makes menubar-items (File, Edit etc.) appear vertically as popup
    * When menubar is enabled, only the first item will be visible and it will use an icon instead of text.
    * When menubar is disabled and you hit Alt to show it, then the menubar items will appear in the corner as overlay.
    * Does NOT support toolbar buttons/items in menubar when in disabled mode.
    */

    :root {
        --uc-menubaritem-height: calc(var(--tab-height-personal) + 4px);
        --uc-menubaritem-width: 40px;
    }

    /* My code - Opening animation */

    @keyframes scale-up-top-left{0%{transform:scale(.5);transform-origin:top left}100%{transform:scale(1);transform-origin:top left}}
    menubar:hover > menu{animation:scale-up-top-left 0.1s; }
    #toolbar-menubar[autohide="true"]:not([inactive]) > #menubar-items > menubar > menu{animation:scale-up-top-left 0.1s; }


    menubar > menu{visibility: collapse;}
    menubar:hover > menu,    
    #toolbar-menubar[autohide="true"]:not([inactive]) > #menubar-items > menubar > menu{visibility: visible; }

    /* Bug fix - Menubar on top */
    :root:not([customizing],[sizemode="fullscreen"]) #toolbar-menubar{
        z-index: 4 !important;
    }

    /* Bug fix - when menubar appears */

    toolbar {
        min-height: 0px !important;
    }

    :root:not([customizing],[sizemode="fullscreen"]) #menubar-items{
        display: block;
        position: absolute;
        z-index: 10;
        background-color: transparent;
        inset-inline-start: 0;
    }

    /* My code - borde gradiente */

    #toolbar-menuba #menubar-items{
        border-radius: 0 0 17px 0 !important;
    }

    #toolbar-menubar[autohide="true"]  #menubar-items{
        background-color: transparent !important;
        border-radius: 0 0 7px 0 !important;
        box-shadow: 1px 1px var(--general-color) !important;
    }

    #menubar-items,
    :root:not([customizing]) menubar menu {
        border-radius: 0 0 7px 0 !important;
    }

    :root:not([customizing]) menubar{
        flex-direction: column;
        border-radius: 0 0 7px 0 !important;
    }

    menubar > menu > menupopup{ margin: calc(-6px - var(--menubar-height-personal)) 0px 0px 88px !important; }
    #toolbar-menubar[autohide="true"][inactive] > #menubar-items{ max-height: 0px; overflow: hidden; }
    #toolbar-menubar[autohide="true"]:not([inactive]){ margin-bottom: calc(0px - var(--menubar-height-personal,22px)); max-width: 0px !important;}    /*  !!!!  max-width 0 para que no desplace las pestañas a la derecha*/
    #toolbar-menubar > .titlebar-buttonbox-container + :is(toolbarbutton,toolbaritem){ margin-inline-start: var(--uc-menubaritem-width) }

    #file-menu{
        fill: currentColor;
        visibility: visible;
        height: var(--uc-menubaritem-height);
        width: var(--uc-menubaritem-width);
        -moz-context-properties: fill;
        background-repeat: no-repeat;
        background-position: center;
    }
    menubar:not(:hover) > #file-menu{ background-image: url("chrome://devtools/skin/images/tool-storage.svg"); background-color: transparent !important; }

    #file-menu > .menubar-text{ visibility: collapse }
    menubar:hover > #file-menu > .menubar-text{ visibility: visible; }

    /* My code - tamaño botones iguales y borde con el menú open */

    menubar:hover >  #file-menu{ width: -moz-available; }

    menubar:hover{
        box-shadow: 1px 1px var(--general-color) !important;
    }

    /* My code - Borde redondeado barra de menú */

    /* Background color */

    #main-menubar,
    #main-menubar>menu{
        background-color: var(--toolbar-bgcolor) !important;
    }

    #main-menubar>menu>.menubar-text{
        padding: 6px 4px !important;
        margin-block: 7px !important;
    }

    #main-menubar>menu:is(:hover,[open])>.menubar-text {
        background-color: var(--button-bgcolor) !important;
        border-radius: 4px !important;
        width: -moz-available !important;
    }
}

/* Menu-bar */

#main-menubar{
    min-height: var(--menubar-height-personal, 30px) !important;
}

/* _______________________ Configuration for Linux _______________________ */

@media (-moz-platform: linux) {
    
    /* Elimina padding indeseado de la barra de menú */
    toolbar { &[type="menubar"] { padding: 0px !important; }}
}