/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* ___________________________ Code for both: With tree-tabs extensions and with Firefox Vertical Tabs ___________________________ */

@media -moz-pref("firefoxchameleon.tree-tabs"), -moz-pref("sidebar.verticalTabs") {
    
    :root {
        --toolbar-height-personal: 40px !important;
        --uc-toolbar-height: var(--toolbar-height-personal) !important;
    }

    /* ________________________________ My code - Style when menubar is visible-enable */

    :root:has(#toolbar-menubar:not([autohide])) {
        & #toolbar-menubar{
            position: initial !important;
            height: initial !important;
            z-index: initial;
            background-image: linear-gradient(                                              /* My code v */
                var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor),var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor)),
                var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
            background-attachment: scroll, fixed, fixed;
            background-position: 0 0, var(--lwt-background-alignment), right top;
            background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat;
            background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto;
        }
    }
    
    /* _______ ¡Necessary for z-index problems - urlbar[open] */

    .browser-titlebar {
        :root[customtitlebar] & {
            will-change: unset !important;
            transition: none !important;
        }
    }
    
    /* _______ trick to be able to click on extensions from the top edge of the nav-bar */

    :root:not([chromehidden~="toolbar"]){    
        toolbar .toolbaritem-combined-buttons toolbarbutton {
            margin-top: -7px !important;
            padding-top: 7px !important;
        }
    }

    /* _______ Make border top of url dragable */

    #urlbar-container {
        margin-block: 1px 1px !important;
    }

    #urlbar-container[breakout] {
        --urlbar-container-height: calc(var(--toolbar-height-personal) - 2px) !important;
    }
    
    /* Bug fix: Trick to hide urlbar when menu appears (Alt key) */

    #toolbar-menubar[autohide] ~ #nav-bar #urlbar {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #toolbar-menubar[autohide][inactive] ~ #nav-bar #urlbar {
        opacity: 1 !important;
        pointer-events: all !important;
    }
    
    /* Remove unwanted space in navbar */

    #vertical-spacer {
        display: none !important;
    }
}

/* ________________________________________________________________________________________________________________________________
   ______________________________________________ Code for only tree-tabs extensions ______________________________________________ */

@media -moz-pref("firefoxchameleon.tree-tabs") and (not -moz-pref("sidebar.verticalTabs")) {

    /* Source: https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar_v2.css */

    /* This requires Firefox 133+ to work */

    @media -moz-pref( "sidebar.verticalTabs"){
        #sidebar-main{
            visibility: collapse;
        }
    }
    @media -moz-pref( "userchrome.force-window-controls-on-left.enabled"){
        #nav-bar > .titlebar-buttonbox-container{
            order: -1 !important;
            > .titlebar-buttonbox{
                flex-direction: row-reverse;
            }
        }
    }
    @media not -moz-pref( "sidebar.verticalTabs"){
        #TabsToolbar{
            visibility: collapse;
        }
        :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container{
            display: flex !important;
        }
        :root[customtitlebar] #toolbar-menubar:not([autohide="false"]) ~ #nav-bar{
            > .titlebar-buttonbox-container{
                display: flex !important;
            }
            :root[sizemode="normal"] & {
                > .titlebar-spacer{
                    display: flex !important;
                }
            }
            :root[sizemode="maximized"] & {
                > .titlebar-spacer[type="post-tabs"]{
                    display: none !important;
                }
                @media -moz-pref( "userchrome.force-window-controls-on-left.enabled"),
                    (-moz-gtk-csd-reversed-placement),
                    (-moz-platform: macos){
                        > .titlebar-spacer[type="post-tabs"]{
                            display: none !important;
                        }
                        > .titlebar-spacer[type="pre-tabs"]{
                            display: flex !important;
                        }
                }
            }
        }
    }
    
    /* _______________________________________________________________________________________________________________________________________
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ 'Tree-tabs' extensions - autohide sidebar ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    @media -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {

        /* Hide the sidebar header when using vertical tab extensions */

        #sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
            /*--uc-sidebar-hover-width: 250px;/**/
            --uc-autohide-sidebar-delay: 50ms; /* Wait 0.6s before hiding sidebar - !Neccesary to avoid bug when bookmarksbar is enable */
            --uc-autohide-transition-duration: 200ms;
            --uc-autohide-transition-type: linear;
            --browser-area-z-index-sidebar: 4;
            background-color: transparent !important;
            position: relative;
            min-width: var(--my-vertical-toolbar-width) !important;
            width: var(--my-vertical-toolbar-width) !important;
            max-width: var(--my-vertical-toolbar-width) !important;
            z-index: var(--browser-area-z-index-sidebar,3) !important;

            /* This directionality flipper is played so that sidebar "grows" into the right direction */
            direction: ltr;
            &:is([positionend],[sidebar-positionend]):not(:-moz-locale-dir(rtl)){
                direction: rtl;
            }

            & #sidebar-header {
                visibility: collapse;
                display: none;
            }
        }

        #main-window[sizemode="fullscreen"] #sidebar-box{ --my-vertical-toolbar-width: 1px; }

        :root:has(#sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #sidebar-splitter{ display: none }

        #sidebar-header{
            overflow: hidden;
            color: var(--chrome-color, inherit) !important;
            padding-inline: 0 !important;
        }

        #sidebar-header::before,
        #sidebar-header::after{
            content: "";
            display: flex;
            padding-left: 8px;
        }

        /* Remove extension header when using sidebar-revamp */
        sidebar-panel-header {
            visibility: collapse;
            display: none;
        }

        #sidebar-header,
        #sidebar,
        #sidebar-box> .sidebar-browser-stack > #sidebar{
            transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
            min-width: var(--my-vertical-toolbar-width) !important;
            will-change: min-width;
        }
        /*#sidebar-box:hover > #sidebar-header,
        #sidebar-box:hover > #sidebar,/**/
        #sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]):hover > .sidebar-browser-stack > #sidebar {
            /*z-index: 10000 !important;/**/
            min-width: var(--my-vertical-toolbar-hover-width) !important;
            transition-delay: 0ms !important;
            box-shadow: 0 -1px var(--my-content-border-color) !important;
        }

        .sidebar-panel{
            background-color: transparent !important;
            color: var(--newtab-text-primary-color) !important;
        }

        .sidebar-panel #search-box{
            appearance: none !important;
            background-color: rgba(249,249,250,0.1) !important; 
            color: inherit !important;
        }

        /* Add sidebar divider and give it background */

        #sidebar-box:not([sidebar-positionend]) > :-moz-locale-dir(rtl),
        #sidebar-box[sidebar-positionend] > *{
            border-inline-width: 1px 0px;
        }

        /* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

        #sidebar-box:not([sidebar-positionend]):hover ~ #tabbrowser-tabbox #statuspanel{
            inset-inline: auto 0px !important;
        }
        #sidebar-box:not([sidebar-positionend]):hover ~ #tabbrowser-tabbox #statuspanel-label{
            margin-inline: 0px !important;
            border-left-style: solid !important; 
        }
        
        /* ______ Trick to keep border style of 'web content' when sidebar 'expands' ______
           ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

        @media -moz-pref("firefoxchameleon.verticalTabs-expandOnHover") {

            #sidebar-box:is(
            [sidebarcommand*="tabcenter"],
            [sidebarcommand*="treestyletab"],
            [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {

                /* not aplied when a video is in fullscreen */
                :root:not([inDOMFullscreen]) & {

                    &[checked="true"] ~ #tabbrowser-tabbox {
                        clip-path: xywh(0 0 100% 100% round var(--border-radius-small) 0 0 0 ) !important;     /* Required for a smooth transition */
                    }

                    &[checked="true"] ~ #tabbrowser-tabbox {
                        --uc-autohide-transition-duration: 200ms;                                                                  /* Transition duration */
                        --my-clip-path-width: calc(var(--my-vertical-toolbar-hover-width) - var(--my-vertical-elements-width));    /* Width for hidde */
                        transition: clip-path var(--uc-autohide-transition-duration) ease-in-out !important;

                        /* 'pseudo-element' to simulate 'web content' border */
                        &:before {
                            content: ""; position: absolute;
                            inset-inline-end: 0 !important;
                            /*background-color: red;/**/
                            height: 100%;
                            width: calc(100% - var(--my-clip-path-width));
                            box-shadow: 0 0 0 1px transparent;
                            border-radius: var(--border-radius-small) 0 0 0;
                        }
                    }

                    &[checked="true"]:hover ~ #tabbrowser-tabbox {
                        clip-path: xywh(var(--my-clip-path-width) 0px 100% 100% round calc(var(--border-radius-small) + 1px) 0 0 0 ) !important;

                        :root:is([sizemode="fullscreen"]) & {

                            &:before {

                            }
                        }

                        &:before {
                            box-shadow: -1px 0 var(--my-content-border-color) !important;
                            transition-delay: var(--uc-autohide-transition-duration) !important;
                            z-index: 1 !important;

                            @media -moz-pref("sidebar.revamp") {

                            }
                        }
                    }

                    &:hover ~ #sidebar-box[checked="true"] {
                        /*clip-path: xywh(calc(-1px + var(--my-clip-path-width)) 0px calc(100% + 1px - var(--my-clip-path-width)) 100% round 8px 0 0 0 ) !important;/**/
                    }

                    /* Sidebar on right
                    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */                
                    /* Sidebar margins to correct align 
                    &[sidebar-positionend] { 
                    margin-inline: 4px -4px !important;

                    @media -moz-pref("sidebar.revamp") {
                    margin-inline: 0px -4px !important;
                }
                }*/

                    &[sidebar-positionend]:hover ~ #tabbrowser-tabbox {
                        clip-path: xywh(0 0 calc(100% - 0px - var(--my-clip-path-width)) 100% round 0 var(--border-radius-small) 0 0 ) !important;

                        :root:is([sizemode="fullscreen"]) & {

                            &:before {

                            }
                        }

                        &:before {
                            border-radius: 0 var(--border-radius-small) 0 0 !important;
                            box-shadow: 1px 0 var(--my-content-border-color) !important;
                        }
                    }
                }
            }
        }
    }
}