/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

:root{ scrollbar-color:  #383755b0 #18173530 !important; }              /*Color de la barra de desplazamiento*/

@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home), url(about:privatebrowsing) {
    
body {     
    /*-------------------------------eliminar la linea 39 al usar temas incompletos-----------------------------------------------------------------*/
    --newtab-background-color: color-mix(in srgb, var(--lwt-sidebar-background-color, Field) 95%, black ) !important;          

    --newtab-background-color-secondary: var(--newtab-pinnedsites-background)  !important;                                              /*fondo de sitios fijados*/
    
    --newtab-contextmenu-background-color: red !important;                                                                              /*contextual menu de tres puntos pinned*/   
    --newtab-element-hover-color: var(--newtab-background-color-secondary) !important;                                                  /*color de fondo al hacer clic al menú 3 puntos*/
    
    /*color al pasar el mouse sobre los items del menú tres puntos*/
    --newtab-element-secondary-hover-color: linear-gradient( to right, #902c8ad0 0%, #902cfc90 40%, #3083ff80 100%) !important; 
    --newtab-element-secondary-active-color: linear-gradient(to left,#1293bdb0 5%, #cb2fe19a) !important;                               /*Color al hacer clic en el menú contextual de 3 puntos*/
    
    --newtab-icon-primary-color:var(--newtab-wordmark-color) !important;                                                                /*tres puntos hover*/ 
    --newtab-border-color: color-mix( in srgb, var(--newtab-background-color) 85%, var(--newtab-wordmark-color)  ) !important;          /*Linea separadora de items de menú contextual*/
    --newtab-section-header-text-color:  var(--newtab-wordmark-color) !important;                                                       /*label principal al editar un sitio*/
    
    
    --newtab-card-background-color: color-mix( in srgb, var(--newtab-background-color) 97%,  var(--newtab-wordmark-color) )!important;  /*fondo de actividad reciente*/
    --newtab-text-secondary-color: var(--newtab-wordmark-color) !important;                                                             /*Label secundaria*/
    --newtab-text-primary-color: var(--newtab-wordmark-color) !important;                                                               /*label general*/
       

    --newtab-overlay-color: color-mix(in srgb, var(--lwt-sidebar-background-color, Field) 35%, transparent ) !important;                    /*fondo de editar, transparente*/
    --newtab-textbox-border: var(--newtab-overlay-color) !important;                                                                        /*contorno de txt al editar un sitio*/ 
  
    --customize-menu-seperator-line-color: color-mix(in srgb, var(--newtab-wordmark-color), var(--newtab-background-color) 80%) !important; /*Linea separadora en "personalizar"*/
    
    --newtab-primary-action-background: #304af1 !important;                                                         /*color de fondo de Boton "Guardar" y fondo de radiobuttons */
    /*--newtab-button-secondary-color: #f02020c0 !important;                                                        color del botón "cancelar"*/
    /*--newtab-element-border-primary-color: #f85149 !important;                                                    borde del botón "Cancelar"*/   
    --newtab-element-secondary-color: color-mix( in srgb,                                                           /*color radiobutton no activo*/
      var(--newtab-background-color) 75%, var(--newtab-wordmark-color) ) !important;    
    --newtab-primary-element-text-color: #dadadabb !important;                                                      /*color bola de radiobutton*/        
}
    
    @media (prefers-color-scheme: dark){

        body {
            --contrast-color: black !important;                                                     /* Personal background color for contrast */
            --border-contrast-color: #09080d !important;                                            /* Personal border color for contrast */
            --arrowpanel-background: #1c1726 !important;                                            /* Background color for 3 dot menu */
        }}

    @media (prefers-color-scheme: light){

        body{
            --contrast-color: white !important;                                                     /* Personal background color for contrast */
            --border-contrast-color: #acacac50 !important;                                          /* Personal border color for contrast */
            --arrowpanel-background : #f9f9f9 !important;                                           /* Background color for 3 dot menu */
        }}
    
    /* _______________________________________________________ Wallpapers _______________________________________________________ */
    
    @media not (-moz-bool-pref:"firefoxchameleon.main-image"){

        /* Dark 1 - Fuchsia */
        #dark-sky,
        #photographs[style*='e94b1e49-c518-40d6-98e3-dffab6cc370d.avif'],
        body[style*="e94b1e49-c518-40d6-98e3-dffab6cc370d.avif"]{
            background-image: var(--wallpaper-dark1) !important;
        }

        /* Dark 2 - Ultraviolet */
        #dark-mountain,
        #photographs[style*='af6073d2-cbb2-4e28-b642-3327d14808b2.avif'],
        body[style*="af6073d2-cbb2-4e28-b642-3327d14808b2.avif"]{
            background-image: var(--wallpaper-dark2) !important;
        }

        /* Dark 3 - Blue */
        #dark-panda,
        #photographs[style*='6b8eb3cf-f232-4c7b-a179-afd174555134.avif'],
        body[style*="6b8eb3cf-f232-4c7b-a179-afd174555134.avif"]{
            background-image: var(--wallpaper-dark3) !important;
        }
        
        /* Dark 4 - Green */
        #dark-fox-anniversary,
        #photographs[style*='d8b71c77-9985-41d2-b98e-51bebc60e595.avif'],
        body[style*="d8b71c77-9985-41d2-b98e-51bebc60e595.avif"]{
            background-image: var(--wallpaper-dark4) !important;
        }

        /* Dark 5 - Swamp */
        #dark-landscape,
        #photographs[style*='10e23599-85bc-4660-ae06-7a67befbbcf9.avif'],
        body[style*="10e23599-85bc-4660-ae06-7a67befbbcf9.avif"]{
            background-image: var(--wallpaper-dark5) !important;
        }

        /* Dark 6 - Gray */
        #dark-beach,
        #photographs[style*='966b18ad-3733-41c4-92f6-c89cdf1381d0.avif'],
        body[style*="966b18ad-3733-41c4-92f6-c89cdf1381d0.avif"]{
            background-image: var(--wallpaper-dark6) !important;
        }

        /* Light 1 - Fuchsia */
        #light-panda,
        #photographs[style*='dfd3762e-f77d-4b6e-ac75-32eb2549ef40.avif'],
        body[style*="dfd3762e-f77d-4b6e-ac75-32eb2549ef40.avif"]{
            background-image: var(--wallpaper-light1) !important;
        }

        /* Light 2 - Ultraviolet */
        #light-landscape,
        #photographs[style*='d9289c5b-8c78-4b27-b5d8-afe7285ce7d1.avif'],
        body[style*="d9289c5b-8c78-4b27-b5d8-afe7285ce7d1.avif"]{
            background-image: var(--wallpaper-light2) !important;
        }

        /* Light 3 - BLue */
        #light-mountain,
        #photographs[style*='5344443f-f427-4029-bc6b-68bc22f83355.avif'],
        body[style*="5344443f-f427-4029-bc6b-68bc22f83355.avif"]{
            background-image: var(--wallpaper-light3) !important;
        }

        /* Light 4 - Rose */
        #light-sky,
        #photographs[style*='45ecab20-ffb9-47b4-94ff-07a5f8b9f53f.avif'],
        body[style*="45ecab20-ffb9-47b4-94ff-07a5f8b9f53f.avif"]{
            background-image: var(--wallpaper-light4) !important;
        }

        /* Light 5 - Lightgreen */
        #light-beach,
        #photographs[style*='56a7f3ae-70cc-45f2-82ec-1d39acdd3b8d.avif'],
        body[style*="56a7f3ae-70cc-45f2-82ec-1d39acdd3b8d.avif"]{
            background-image: var(--wallpaper-light5) !important;
        }
        
        /* Light 6 - Orange */
        #light-fox-anniversary,
        #photographs[style*='a5a041de-9275-4eb5-8f21-a0171c82d388.avif'],
        body[style*="a5a041de-9275-4eb5-8f21-a0171c82d388.avif"]{
            background-image: var(--wallpaper-light6) !important;
        }
    }
    
    /* rearrangement of wallpapers */
    
    #dark-sky { order: 1 !important; }
    #dark-mountain { order: 2 !important; }
    #dark-panda { order: 3 !important; }
    #dark-fox-anniversary { order: 4 !important;}
    #dark-landscape { order: 5 !important; }
    #dark-beach { order: 6 !important; }
    #light-panda { order: 7 !important; }
    #light-landscape { order: 8 !important; }
    #light-mountain { order: 9 !important; }
    #light-sky { order: 10 !important; }
    #light-beach { order: 11 !important; }
    #light-fox-anniversary { order: 12 !important;}
    
    /* Wallpaper default brightness and wallpaper para Main-image config 
    
    /* Brighness wallpaper */

    body::before {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: color-mix(in srgb, var(--newtab-background-color), transparent var(--brightness-wallpaper));
        pointer-events: none;
    }

    @media (-moz-bool-pref:"firefoxchameleon.main-image") {

        body{
            background-image: var(--lwt-main-image, initial) !important;
            background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
            background-size: calc(100% + var(--my-vertical-toolbar-width, 0px) + var(--extension-width, 0px)) !important;
            background-attachment: fixed !important;
            background-position-x: right !important;
            background-position-y: var(--background-align-y, 0px) !important;
        }

        /* Brighness wallpaper */

        body::before {
            background-color: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper));
        }
    }
    
/* _____________________________________________________ Logo & Wordmark ____________________________________________________ */
    
    .logo{
        background: url("../icons/foxlogo.svg") no-repeat center !important;
        background-size: 64px !important;
        }

    .wordmark {
        background: url("../icons/firefox-wordmark.svg") no-repeat center !important;
        width: 170px !important;
        transform: scale(0.9) !important;
        }

    .logo-and-wordmark {
        Opacity: var(--logo-wordmark-visibility) !important;
        display: var(--logo-wordmark-display) !important;
        margin-bottom: 10px !important;
        }

    /* Border color when 'hover' over wallpapers */

    .wallpaper-list .wallpaper-input:not(:checked):hover {
        outline: 1px solid #80808080 !important;
    }

    /* Border color when 'hover' over selected wallpaper */

    .wallpaper-list .wallpaper-input:checked:hover {
        filter: none !important;
        outline-color: var(--button-active-bgcolor) !important;
    }

    .wallpaper-input:checked{
        padding: 1px !important;
    }

    
/* Color checkbox */
    
.sponsored-checkbox:hover{
    background-color: #cc3535 !important; 
    color: #ffffff !important;
    }
    
.sponsored-checkbox:not(:checked):hover{ 
    background-color: var(--newtab-primary-action-background) !important;
    }
    
/* Color de radio-button en "Personalizar" */
    
.toggle-button[aria-pressed="true"] {
    background: var(--button-active-bgcolor) !important;
}
    
.toggle-button[aria-pressed="false"] {
    opacity: 0.7 !important;
}
    
.toggle-button[aria-pressed="true"]:enabled:hover {
    background: var(--button-hover-bgcolor) !important;
}
    
.toggle-button:enabled:hover {
    opacity: 1 !important;
}
    
 /* Color de fondo al "editar" un sitio anclado */
    
.modal {
    background-color: var(--newtab-background-color) !important; 
    border-color: color-mix(in srgb, var(--newtab-background-color) 85%, var(--newtab-wordmark-color)) !important;  
    border-radius: 9px !important;
    }
    
.modalOverlayOuter{
    backdrop-filter: var(--personal-blur) !important;
    }

    input[type="text"], input[type="search"] {
        border-radius: 4px !important; 
    }

    input:focus-visible, input:focus-visible {
        outline: 2px solid var(--general-color) !important;
        outline-offset: -1px !important;
        border-color: var(--general-color) !important;
    }

/* Fondo y borde del menú de 3 puntos, linea separadora */
    
.context-menu {
    background-color: var(--newtab-background-color) !important; 
    color: var(--newtab-wordmark-color) !important;
    box-shadow: 0px 0px 3px #00000070, 0px 0px 6px var(--newtab-background-color) !important; 
    border: 1px solid var(--newtab-border-color) !important;
    }
    
.context-menu .separator{
    margin-left: 5px !important; 
    margin-right: 5px !important; 
    width: -moz-available !important;
    }

/* Color al pasar por los items del menú de 3 puntos */
    
.context-menu > ul > li > a:is(:focus, :hover), .context-menu > ul > li > button:is(:focus, :hover) {
    background: var(--newtab-element-hover-color); 
    margin-left: 5px !important; 
    margin-right: 5px !important; 
    width: -moz-available !important;
    padding-inline-start: 0.5em !important; 
    border-radius: 4px !important; 
    padding-inline-end: 0.5em !important;
    }
  
/* Boton de 3 puntos al hacerle hover y clic */
    
.context-menu-button:active, .context-menu-button:focus, .context-menu-button:hover{
    fill: #47a8d7 !important; 
    background-color: transparent !important;
    }
    
/* Botón de editar sitio anclado */
    
.top-site-outer .context-menu-button {
    border-radius: 2px 6px 2px 8px !important;
    inset-inline-end: 2px !important;
    top: 2px !important;
    fill: var(--newtab-text-primary-color) !important;
    background-color: transparent !important;
    }
    
.top-site-outer .context-menu-button:is(:hover, :focus-within) {
    background-color: color-mix(in srgb, var(--contrast-color) 20%, transparent) !important;
    }
    
/* --------------------------------------------- Cuadro de búsqueda ------------------------------------------------- */
    
/* Ícono Lupa */
    
.search-wrapper .search-button {
    background: url(chrome://global/skin/icons/search-glass.svg) no-repeat center center !important;
    fill: var(--newtab-text-primary-color) !important;
    background-size: 14px 14px !important;
    padding-inline-end: 80px !important;
    }
    
.search-inner-wrapper{
    position: relative;
    background: transparent !important;
    opacity: var(--searchbar-on-off, 1) !important;
    display: var(--searchbar-display, flex) !important;
    margin-top: 16px !important;
    outline: none !important;
    box-shadow: none !important;
    }
    
.search-inner-wrapper:not(:focus){
    border-radius: 8px !important;
    backdrop-filter: none !important;
    }
    
@supports -moz-bool-pref("browser.newtabpage.activity-stream.improvesearch.handoffToAwesomebar"){
.search-inner-wrapper:not(:focus){
    background: var(--newtab-pinnedsites-background) !important;
    backdrop-filter: var(--personal-blur) !important;
    filter: saturate(140%) !important;
    }}
    
.search-inner-wrapper:is(:hover){
    border-radius: 8px !important;
    }
    
.search-inner-wrapper:not(:focus) input, .search-wrapper:not(:active) input:focus{
    background-color: var(--newtab-pinnedsites-background) !important;
    backdrop-filter: var(--personal-blur) !important;
    filter: saturate(140%) !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 1px #00000090 !important; 
    }
    
.search-handoff-button{
    border-color: transparent !important;
    border-radius: 8px !important;
    box-shadow: none !important; 
    }
    
.search-wrapper .search-inner-wrapper:active input, .search-wrapper input:focus {
    outline: 1px solid var(--button-active-bgcolor) !important;
    border: transparent !important;
    margin-left: 1px !important;
    z-index: 1 !important;
    }
    
.search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
    fill: white !important;
    }
    
.search-wrapper .search-inner-wrapper:active input,
.search-wrapper input:focus {
    box-shadow: none !important;
    }
    
browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser{
    filter: blur(10px)
    }
  
/* Color de borde de botones "Guardar" y "Cancelar" :hover */
    
.actions button:not(.cancel), .actions button:focus:not(.cancel) {
    color: white !important;  
    border: transparent !important;
    }
    
.actions button:hover:not(.dismiss) {
    box-shadow:none !important; 
    
    }   
    
.actions button:is(.cancel) {
    color: #f85149  !important; 
    }
    
.actions button:is(.cancel):hover {
    background-color: #da3633 !important; 
    color: #f0f6fc !important; 
    border-color: #f85149 !important;
    }
    
.actions button:hover:is(.cancel) {
    box-shadow:none !important; 
    border-color: #da3633 !important;
    }   
     
/* Colores del botón "Personalizar y cerrar" */
    
.personalize-button{
    color: color-mix( in srgb, var(--newtab-background-color) 60%, var(--newtab-wordmark-color) ) !important;
    }
    
.personalize-button:hover {
    background-color: var(--newtab-background-color-secondary)!important; 
    color:var(--newtab-wordmark-color)  !important;
    }
    
.customize-menu .close-button-wrapper{
    background-color: transparent !important;
    }
    
.close-button {
    background-color: color-mix( in srgb, var(--newtab-background-color) 90%, var(--newtab-wordmark-color)) !important;
    color: var(--newtab-wordmark-color)  !important;
    box-shadow: none !important;
    border: 1px solid #6a6a6b3a !important;
    }
    
.close-button:hover{
    color: var(--newtab-wordmark-color)  !important; 
    background-color: color-mix( in srgb, var(--newtab-background-color) 80%, var(--newtab-wordmark-color)) !important; 
    border: 1px solid #6a6a6b3a !important; 
    box-shadow: 2px 2px 2px var(--newtab-background-color) !important;
    }

/* _______________________________ Colors of the sliding sidebar used to customize the NewTab _______________________________ */
       
    /* Shadow */
    
    .customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active,
    .customize-menu.customize-animate-exit, .customize-menu.customize-animate-exit-done{
        box-shadow: -1px 0 #50505030, 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;
        transition-duration: 200ms !important;
    }
    
    /* Background */
    
    .customize-menu {
        background-color: color-mix(in srgb, var(--newtab-background-color) ,var(--newtab-overlay-color)) !important;
        backdrop-filter: var(--personal-blur); 
    }
    
    .wallpaper-list.category {
        background-color: transparent !important;
    }
    
    /* Combobox */
    
    .home-section .section .selector {
        background-color: var(--newtab-element-secondary-color) !important;
        border-color: transparent !important;
        border-radius: 4px !important; 
    }

    .home-section .section .selector:hover {
        background-color: var(--button-active-bgcolor) !important;
        border-color: var(--button-hover-bgcolor) !important;
        color: white !important;
    }
    
    /* Checkbox color for 'sponsored sites' */

    .sponsored-checkbox:is(:checked):hover, .sponsored-checkbox:not(:checked):hover{ 
        background-color: var(--button-hover-bgcolor) !important;
    }

    /* Radiobutton color into "Customize" */

    .toggle-button[aria-pressed="true"] {
        background: var(--button-active-bgcolor) !important;
    }
    
    .toggle-button[aria-pressed="false"] {
        opacity: 0.7 !important;
    }

    .toggle-button[aria-pressed="true"]:enabled:hover {
        background: var(--button-hover-bgcolor) !important;
    }

    .toggle-button:enabled:hover {
        opacity: 1 !important;
    }
    
    /* Background blur when open a wallpaper category */
    
    .customize-menu:has(.category.wallpaper-list) {
        & .wallpapers-section ~ *,
        & .wallpapers-section .category-header,
        & .wallpapers-section .category-list,
        & .close-button-wrapper {
            opacity: 0  !important;
            transition: opacity 0.2s ease;
        }
    }

    .customize-menu:not(:has(.category.wallpaper-list)) {
        & .wallpapers-section ~ *,
        & .wallpapers-section .category-header,
        & .wallpapers-section .category-list,
        & .close-button-wrapper{
            opacity: 1 !important;
            transition: opacity 0.3s ease;
        }
    }
  
*{scrollbar-width: none !important }
 
/* Colores de los sitios anclados */
    
.top-site-outer .tile{ 
    background-color: var(--newtab-pinnedsites-background) !important;
    box-shadow: 0px 0px 1px #00000090 !important; 
    backdrop-filter: var(--personal-blur) !important;
    filter: saturate(140%) !important;
    }  
    
/* Colores al pasar el mouse sobre los sitios anclados en :hover */
    
.top-site-outer:is(.active, :focus, :hover) .tile{
    box-shadow: 0 0 0 1px var(--newtab-background-color) !important;
    background-color: color-mix(in srgb, var(--newtab-background-color,Field) 65%, transparent) !important;
    }
    
/* Colores al pasar el mouse sobre los sitios anclados (fondo más grande) */
    
.top-site-outer:is(.active, :focus, :hover) {
    box-shadow: none !important; 
    background: linear-gradient(247deg, #3bbed05a, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, #6c65ec90, rgba(0,255,0,0) 70.71%),
                linear-gradient(370deg, #cb2fe15a, rgba(0,0,255,0) 80.71%) !important; 
    }
    
.card-outer .card {
    background-color: transparent !important;
    backdrop-filter: var(--personal-blur) !important;
    filter: saturate(140%) !important;
    border: 1px solid #50505030 !important;
}
  
/* fondo de los favICON de los sitios anclados */
    
.top-site-outer .top-site-icon{
    background-color: transparent !important; 
    }
    
/* ntp */
    
.activity-stream {
    background-color: var(--newtab-background-color, #ff0000) !important;
    }
    
/* Elimina creditos de la imagen usada como wallpaper */
    
.wallpaper-attribution { display: none !important; }
    
.ds-outer-wrapper-breakpoint-override main {
    min-width: 366px !important;
    }
    
.search-wrapper .logo-and-wordmark {
    margin-bottom: 20px !important;
    }
    
.promo-cta .button { 
    color: #cacaca !important;  
    }
    
main {
    margin-top: var(--newtab-pinnedsites-position-top, auto) !important;
    }
}

/*---------------------------------- Pagina de Error al Cargar Página ---------------------------------------------*/

@-moz-document url('about:config'),  url(about:privatebrowsing), regexp("^about:(neterror|certerror).*") , url('about:firefoxview') {

.button[autofocus], .button[type="submit"], .button[default], button.primary:not(:hover) {
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
    border-color: transparent !important;
    }
    
button.primary:hover{
    background-color: var(--general-color) !important;
    color: white !important; 
    }
}

/* ---------------------- Color fondo y letra al seleccionar texto ------------------------- */

::selection {
    color: white !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: var(--selected-text-background) !important;
}

/* -------------------------------- #### Private Mode #### ----------------------------------*/

@-moz-document url(about:privatebrowsing) {
    
@media (prefers-color-scheme: light){   
.private{ background: #d0dbe3 !important; }
    }
    
    :root{ 
        --general-color: #8d35e2 !important; 
    }
    
body{
    --newtab-search-icon: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
    background-image: linear-gradient(var(--brightness-wallpaper), var(--brightness-wallpaper)),
                      linear-gradient(var(--brightness-wallpaper), var(--brightness-wallpaper)), 
                      var(--lwt-private-image) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: right top !important;
    background-position-y: var(--background-align-y) !important;
    }
    
.promo.below-search, .info{
    background-color: var(--newtab-pinnedsites-background) !important;
    backdrop-filter: var(--personal-blur) !important;
    outline: 1px solid #50505030 !important;
    }
    
.search-handoff-button{
    background-color: var(--newtab-pinnedsites-background) !important;
    backdrop-filter: var(--personal-blur) !important;
    border: transparent !important;
    box-shadow: none !important;
    outline: 1px solid #50505030 !important;
    }
    
.search-handoff-button:is(:hover,:focus-within,:active){
    outline: 1px solid var(--general-color) !important;
    }
    
.fake-textbox, .fake-editable {
    color: var(--newtab-wordmark-color) !important;
    }

.fake-caret{ 
    background-color: var(--in-content-icon-color) !important 
    }
    
.logo-and-wordmark .logo{
    background: url("chrome://global/skin/icons/indicator-private-browsing.svg") no-repeat !important;
    background-size: contain !important;
    max-height: 80px !important;
    max-width: 80px !important;
    Opacity: var(--logo-wordmark-visibility) !important;
    display: var(--logo-wordmark-display) !important;
    }
    
.wordmark {
    background: url("chrome://branding/content/firefox-wordmark.svg") no-repeat center center !important;
    background-size: contain !important;
    max-height: 180px !important;
    max-width: 180px !important;
    Opacity: var(--logo-wordmark-visibility) !important;
    display: var(--logo-wordmark-display) !important;
    }
}

/*..........................................Firefox--------------------------------------------
---------------------------------------------view-----------------------------------------------*/

@-moz-document url(about:firefoxview), url(about:firefoxview-next) /*, regexp("^about:.*") */ {
    
    @media (prefers-color-scheme: dark) {
  :host, :root {
         --newtab-background-color: #14141d !important;
         --newtab-background-color-secondary: rgba(52, 55, 69, 0.7) !important;
         --newtab-primary-action-background: var(--general-color) !important;
         --in-content-primary-button-text-color: white !important;
         --in-content-primary-button-background: var(--general-color) !important;
         --in-content-primary-button-background-hover: var(--button-hover-bgcolor) !important;
         --in-content-primary-button-background-active: var(--button-active-bgcolor) !important;
        }
    }
    
    @media (prefers-color-scheme: light){
        :root{
         --newtab-background-color: #efeff5 !important;
         /*--newtab-background-color-secondary: white !important;*/
         --newtab-primary-action-background: var(--general-color) !important;
         --in-content-primary-button-text-color: white !important;
         --in-content-primary-button-background: var(--general-color) !important;
         --in-content-primary-button-background-hover: var(--button-hover-bgcolor) !important;
         --in-content-primary-button-background-active: var(--button-active-bgcolor) !important;
        }
    }
    
    .synced-tab-a{
        border-color: var(--in-content-box-border-color) !important;
    }
    
    .synced-tab-a:hover {
        border-color: var(--general-color) !important;
        box-shadow: 0px 2px 14px var(--button-bgcolor) !important;
    }
}