/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* bookmark_text */

.browser-toolbar:not(.titlebar-color) {
    color: var(--lwt-text-color) !important;
}              

/* Personalizar barra de busqueda */

findbar:-moz-lwtheme {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-text-color) !important;  
    border-color: var(--input-border-color) !important; 
}

.findbar-textbox:focus {
    border-color: var(--general-color) !important;
    background-color: var(--arrowpanel-background) !important;
}

.findbar-find-status[status="notfound"] { 
    color: var(--general-color) !important; 
    font-weight: 600 !important; 
}

/* "popup_highlight" -> 1.- keyboard highlight 2.-mouse highlight*/

.urlbarView-row-inner:is([selected], :hover) .urlbarView-url{
    color: var(--lwt-tab-color) !important; 
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected]  {
    background-image: var(--panel-separator-zap-gradient) !important; 
    color: #ffffff !important; 
    border-radius: 4px !important; 
}

/* margenes sugerencias de búsqueda */

.urlbarView-title{ margin-left: -6px !important;
}

/* tamaño letras urlbar */

#urlbar-input { opacity: 0.9 !important; font-weight: 501 !important;
}

@media (-moz-platform: linux){ #urlbar-input { opacity: 0.9 !important; font-weight: 500 !important; }
}

/* Sugerencias de búsqueda */

.urlbarView-row{ 
    margin-block: -3px !important; 
    padding-block: 0px !important; 
    min-height: 34px !important; 
}

.urlbarView-row-inner{ 
    padding-left: 0px !important; 
    margin-block: 0px !important; 
    min-height: 24px !important;
}

/* No hacer doble fila url results en cuadro pequeño */

@media screen and (min-height: 600px) {
  .urlbarView-results[wrap] > .urlbarView-row {
    &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
      & > .urlbarView-no-wrap {
        flex-basis: 0% !important;
      }
    }
  }
}

#urlbar .search-panel-header{ padding-left: 4px !important; }

.urlbarView-results{ margin-bottom: -14px !important; }

.urlbarView-favicon{ padding-left: 5px !important; padding-right: 5px !important;  }

.urlbarView-url { color: var(--lwt-toolbarbutton-icon-fill-attention) !important; }

/* Label "Sugerencias de firefox - Sugerencias de google" */

.urlbarView-row[label] {margin-top: 16px !important;}
.urlbarView-row[label]::before {    
    margin-inline-start: 8px !important;
    font-weight: bold !important;
    letter-spacing: 0.04em !important;
}

/* Urlbar más pequeñas */

#nav-bar{ min-height: var(--toolbar-height-personal) !important; }

#urlbar {
    min-height: 26px !important;
    border-radius: 4px !important;
    max-height: 26px !important;
}

@media (-moz-platform: windows){ #urlbar-input, #urlbar-scheme{
    padding-bottom: 2px !important;
    }}

/* Brighness when urlbar [open]*/

#urlbar[open] {
    z-index: 4 !important;
}

#nav-bar[urlbar-exceeds-toolbar-bounds="true"]::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    pointer-events: none;
}

/* Search-bar */

#searchbar {
    min-height: 26px !important;
    max-height: 26px !important;
}

#searchbar:focus-within {
    border-color: var(--general-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
}

#PopupSearchAutoComplete {
    --uc-slot-radius: 0 0 5px 5px;
    --arrowpanel-border-radius: var(--uc-slot-radius) !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
    width: calc(var(--panel-width) - 1px) !important;
    margin-top: -4px !important;
    border-radius: 0 0 5px 5px !important;
    box-shadow: inset 1px 0 0 0 var(--general-color),
                1px 0px 0 0 var(--general-color),
                inset 0 -1px 0 0 var(--general-color) !important;
}

#PopupSearchAutoComplete {
    --panel-border-radius: 0 0 5px 5px !important;
}

.search-go-button, #urlbar-go-button {
  width: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
  height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
}

/* Linea colorida urlbar focus */

#urlbar[open] #urlbar-background, #urlbar[focused] #urlbar-background {
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

#urlbar[focused] {
    background-image: linear-gradient(to bottom right, #fd189270 0%, #b02cfc70 30%, #33b3fd70 45%, #00aaff70 60%, #fd189270 100%);
    border-radius: 4px !important;
}

#urlbar[focused] #urlbar-background {
    border-radius: 3px !important;
    background-color: color-mix(in srgb, var(--toolbar-bgcolor) 86%, var(--contrast-color)) !important;
    border: #00000000 !important;
    box-shadow: none !important;
}

:root:is([style*="--lwt-additional-images"],[lwtheme-image]) #urlbar[focused] #urlbar-background {
    background-color: var(--arrowpanel-background, var(--lwt-selected-tab-background-color)) !important;
}

#urlbar[open] {
    border-radius: 6px !important;
    background-image: linear-gradient(to bottom right, #fd189260 0%, #b02cfc60 30%, #33b3fd60 45%, #00aaff60 60%, #fd189260 100%);
    max-height: -moz-available !important;
    border-radius: 6px !important;
    animation: ease-in-out 500ms !important;
}

#urlbar[open] #urlbar-background {
    border-radius: 6px !important;
    background-color: var(--arrowpanel-background, var(--lwt-selected-tab-background-color)) !important;
    animation: ease-in-out 500ms !important;
    max-height: -moz-available !important;
}

/*Páginas de extensiones*/

#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button {
    background: transparent !important;
    padding-left:3px !important;
    padding-right:4px !important;
}

#identity-box.extensionPage label{
    display: none !important;
}

/*Páginas seguras de firefox"*/

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("../images/foxFill.svg") !important;
    width: 16px !important; 
    height: 16px !important; 
    margin-inline: -4px !important; 
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
  margin-inline-end: 4px !important; 
}

#identity-icon-label { 
    display: none !important; 
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button, #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: var(--toolbarbutton-active-background)  !important;
    color: white !important;
}

#identity-popup-security-button {
    margin-bottom: 0px !important
}

/*"Íconos de la urlbar más pequeños"*/

#tracking-protection-icon, #identity-icon, .sharing-icon, #permissions-granted-icon, #blocked-permissions-container>.blocked-permission-icon {
    height: 14px !important;
    width: 14px !important;
}
#tracking-protection-icon {
    margin-block-start: 1px !important;
    margin-inline-start: 1px !important
}
#tracking-protection-icon-container {
    padding: 3px !important;
}
/* ícono bookmark, vista de lectura, etc */
.urlbar-page-action {
    width: 23px !important;
    height: 22px !important;
    margin-inline: 0px 0px!important;
    padding: 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}
.urlbar-page-action .urlbar-icon{
    width: 15px !important;
    height: 15px !important;
    margin-left: 1px !important;
    margin-block-start: 1px !important;
}
/* ícono contenido DRM */
#notification-popup-box{
    height: 22px !important;
}
.drm-icon {
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}
/*"Color verde de la descripción de web segura"*/
description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, #identity-popup-securityView-body>button {
    color: #2cf62c !important
}
/*fondo :hover de íconos de la urlbar"*/
.identity-box-button:hover:not([open="true"]) {
    background-color: transparent !important;
}
#identity-icon-box:hover:not([open="true"]),#identity-permission-box:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]), 
.urlbar-page-action:not([disabled],[open="true"]):hover, #urlbar-go-button:hover, .search-go-button:hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover  {
    background-color: var(--toolbarbutton-hover-background) !important; 
}
/*fondo active de íconos de la urlbar"*/
#identity-icon-box[open="true"],#identity-permission-box[open="true"], #tracking-protection-icon-container[open="true"], .urlbar-page-action:not([disabled])[open="true"] , #urlbar-go-button[open="true"], .search-go-button[open="true"] ,
:not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], :not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], .urlbar-icon-wrapper[open="true"], .urlbar-icon-wrapper[open="true"], .identity-box-button[open="true"], #tracking-protection-icon-container[open="true"], 
.identity-box-button[open="true"] .urlbar-page-action:not([disabled]):hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open="true"] {
    background-color: var(--toolbarbutton-active-background) !important;
}
/*Eliminar ícono de -sitio anclado- en las sugerencias de busqueda*/
.urlbarView-type-icon{
    display: none !important;
}

/*------------toolbar autohide--------------------*/
/*
#nav-bar {
    --navbar-margin: -34px;

    margin-top: var(--navbar-margin);
    margin-bottom: 0;
    z-index: -100;
    transition: all 0.1s ease !important;
    opacity: 0;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
    margin-top: 0;
    margin-bottom: var(--navbar-margin);
    z-index: 100;
    opacity: 1;
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
       linear-gradient(transparent, var(--toolbar-bgcolor, transparent)),
    var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top !important;
    background-position-y: -34px !important;
    background-color: var(--toolbar-bgcolor) !important;
}
*/
