/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* Personalizar barra de busqueda */

findbar {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-text-color) !important;  
    border-color: var(--input-border-color) !important; 
}

.findbar-textbox:focus {
    border-color: var(--general-color) !important;
    background-color: var(--arrowpanel-background) !important;
}

.findbar-find-status[status="notfound"] { 
    color: var(--general-color) !important; 
    font-weight: 600 !important;
}

/* "popup_highlight" -> 1.- keyboard highlight 2.-mouse highlight*/

.urlbarView-row-inner:is([selected], :hover) .urlbarView-url{
    color: var(--lwt-tab-color) !important; 
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected]  {
    background-image: var(--my-menuitem-gradient) !important; 
    color: #ffffff !important; 
    border-radius: var(--toolbarbutton-border-radius) !important; 
}

/* margenes sugerencias de búsqueda */

.urlbarView-title{ margin-left: -6px !important;
}

/* tamaño letras urlbar */

#urlbar-input {
    margin-left: 1px !important;
}

/* Sugerencias de búsqueda */

.urlbarView-row{ 
    margin-block: -3px !important; 
    padding-block: 0px !important; 
    min-height: 34px !important; 
}

.urlbarView-row-inner{ 
    padding-left: 0px !important; 
    margin-block: 0px !important; 
    min-height: 24px !important;
}

/* No hacer doble fila url results en cuadro pequeño */

@media screen and (min-height: 600px) {
  .urlbarView-results[wrap] > .urlbarView-row {
    &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
      & > .urlbarView-no-wrap {
        flex-basis: 0% !important;
      }
    }
  }
}

#urlbar .search-panel-header{ padding-left: 4px !important; }

.urlbarView-results{ margin-bottom: -10px !important; }

@media -moz-pref("browser.urlbar.scotchBonnet.enableOverride") {
    .urlbarView-results{ margin-bottom: 4px !important; }
}

.urlbarView-favicon{ padding-left: 5px !important; padding-right: 5px !important;  }

.urlbarView-url { color: var(--lwt-toolbarbutton-icon-fill-attention) !important; }

/* Label "Sugerencias de firefox - Sugerencias de google" */

.urlbarView-row[label] {margin-top: 16px !important;}
.urlbarView-row[label]::before {    
    margin-inline-start: 8px !important;
    font-weight: bold !important;
    letter-spacing: 0.04em !important;
}

/* Urlbar más pequeñas */

#nav-bar{ 
    min-height: var(--toolbar-height-personal) !important; 
    border-top-width: 0px !important;
}

#urlbar {
    min-height: 26px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

@media (-moz-platform: windows){ #urlbar-input, #urlbar-scheme{
    padding-bottom: 2px !important;
    }}

/* Search-bar */

#searchbar {
    min-height: 26px !important;
    max-height: 26px !important;
}

#searchbar:focus-within {
    border-color: var(--general-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
}

#PopupSearchAutoComplete {
    --uc-slot-radius: 0 0 5px 5px;
    --arrowpanel-border-radius: var(--uc-slot-radius) !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
    width: calc(var(--panel-width) - 0px) !important;
    margin-top: -4px !important;
    border-radius: 0 0 5px 5px !important;
    border-left: 1px solid var(--general-color) !important;
    border-right: 1px solid var(--general-color) !important;
    border-bottom: 1px solid var(--general-color) !important;
}

#PopupSearchAutoComplete {
    --panel-border-radius: 0 0 5px 5px !important;
}

.search-go-button, #urlbar-go-button {
  width: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
  height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
}

/* Linea colorida urlbar focus */

#urlbar, 
#urlbar:not([open]) .urlbar-background {
    --toolbarbutton-border-radius: 4px !important;
    
    &[open] {
        --toolbarbutton-border-radius: var(--border-radius-medium) !important;             /* Urlbar Roundness */
        --arrowpanel-border-color: transparent !important;          /* Remove border color when 'open' */
    }
}

#urlbar {
    &:is([focused], [open]) {
        
        /* Gradient border when urlbar 'open' */
        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            padding: 1px;
            border-radius: var(--toolbarbutton-border-radius) !important;
            background: repeat var(--gradient) !important;
            background-repeat: no-repeat !important;
            mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
            mask-composite: exclude;
            pointer-events: none !important;
        }
    }
    
    /* Blur effect when urlbar 'open' */
    &[open] {
        outline: 1px solid var(--contrast-color) !important;
        backdrop-filter: var(--personal-blur);
    }
    
    /* Remove urlbar shadow */
    .urlbar-background {
        box-shadow: none !important;
    }
}

/* Dark filter when urlbar is [open] */

#urlbar {
    box-shadow: 0 0 0 100vw transparent;
    transition: box-shadow 250ms ease-out !important;
}

#urlbar[open] {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 250ms ease-out !important;
    overflow: hidden !important;
}

/* Search Engine button */

@media not -moz-pref("browser.urlbar.searchModeSwitcher.featureGate") {
    #urlbar-searchmode-switcher:not(:hover,[open]) {
        background-color: transparent !important;
    }
}

.searchmode-switcher-icon {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg") !important;
}

#urlbar-searchmode-switcher {
    --urlbar-searchmodeswitcher-inline-padding: 5px !important;
    --urlbar-searchmodeswitcher-margin-inline-end: 8px !important;
    
    &:hover { background-color: var(--urlbar-box-hover-bgcolor) !important; }
    &[open] { background-color: var(--urlbar-box-active-bgcolor) !important; }   
}

.searchmode-switcher-popup {
  & > menuitem {
    margin-inline: 0px !important;
  }
}

.searchmode-switcher-dropmarker {
    display: none !important;
}

.searchmode-switcher-chicklet {
    height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
    align-self: center !important;
    border-radius: 0 var(--urlbar-icon-border-radius) var(--urlbar-icon-border-radius) 0 !important;
}

.searchmode-switcher-icon {
    padding: 0px !important;
    margin: -2px !important;
}

@media -moz-pref("browser.urlbar.searchModeSwitcher.featureGate"), -moz-pref("browser.urlbar.scotchBonnet.enableOverride") {
    #urlbar[searchmode] {
        #urlbar-searchmode-switcher {
            background-color: var(--urlbar-box-bgcolor) !important;

            &:is(:hover,[open]) {
                background-color: var(--urlbar-box-hover-bgcolor) !important;
                border-radius: var(--urlbar-icon-border-radius) !important;
            }
        }
    }
}

/* Search-box - the one next to address-bar */

#searchbar {
    min-height: calc(var(--toolbar-height-personal) - 10px) !important;
    border-radius: 4px !important;
    border: none !important;
}

#searchbar:hover {
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
}

#searchbar:focus-within {
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
}

#PopupSearchAutoComplete{
    --uc-slot-radius: 4px;
    --arrowpanel-border-radius: var(--uc-slot-radius) !important;
    --arrowpanel-border-color: none !important;
    margin-top: 0px !important;
    margin-inline-start: -3px !important;
}

#PopupSearchAutoComplete menuseparator{
    margin-inline-end: 12px !important;
}

.search-go-button, #urlbar-go-button {
    width: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    height: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    margin-inline-end: 4px !important;
    align-self: center !important;
}

/* Extension pages button */

#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button {
    background: transparent !important;
}

#identity-box.extensionPage label {
    display: none !important;
}

/* Firefox secure pages */

#identity-icon-label {
    display: none !important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button {
    padding-inline: var(--urlbar-icon-padding) !important;
}

#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:is(:hover, [open]) #identity-icon {
    fill: var(--tab-selected-textcolor) !important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button, #urlbar-label-box {
    --urlbar-box-bgcolor: transparent !important;
    --urlbar-box-focus-bgcolor: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 4px !important;
}

/* ________________________________________________ Smaller url-bar icons ________________________________________________ */

/* Box margin */

.identity-box-button,                                                                                      /* Lock */
#notification-popup-box,                                                                                   /* Password... */
#tracking-protection-icon-container {                                                                      /* Shield */
    height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
    min-width: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    justify-content: center !important;                                                                    /* Align too in touch density */
    align-self: center !important;
}

/* Background 'hover' & 'open' in Notification buttons like 'password'... */

#notification-popup-box {
    &:hover { background-color: var(--urlbar-box-hover-bgcolor) !important; }
    &[open] { background-color: var(--urlbar-box-active-bgcolor) !important; }
}

/* vertical align 'urlbar-page-action' icons */

.urlbar-icon {
    align-self: center !important;
}

/* Size & horizontal align 'urlbar-page-action' icons */

.urlbar-page-action, .urlbar-revert-button, .urlbar-go-button, .search-go-button {
    width: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
    height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
    justify-content: center !important;
}

/* Correct display of zoom percentage shown in the url bar */

#urlbar-zoom-button {
    order: -1 !important;
    height: calc(var(--urlbar-min-height) - 8px - 2 * var(--urlbar-container-padding)) !important;
}

/* Show only the permision (blocked, allow...) icon */

#identity-permission-box:has(.blocked-permission-icon[showing]) {
    &> image {
        display: none !important;
    }
    .blocked-permission-icon { margin-inline-start: 0px !important; }
}

/* Translate button */

#translations-button[translationsactive]{
    width: initial !important;
    border-radius: var(--urlbar-icon-border-radius) !important;
}

#translations-button[translationsactive] {
    --toolbarbutton-icon-fill-attention: var(--toolbar-color) !important;
    &:not(:hover,[open]) .urlbar-icon{
        display: none !important;
    }
}

#translations-button-locale {
    background-color: var(--general-color) !important;
    border-radius: var(--urlbar-icon-border-radius) !important;
    height: calc(var(--urlbar-min-height) - 4px - 2 * var(--urlbar-container-padding)) !important;
    width: calc(var(--urlbar-min-height) - 4px - 2 * var(--urlbar-container-padding)) !important;
    height: 22px !important;
    margin-block: -3px !important;
}

#translations-button:is([open], :hover) #translations-button-locale{
    background-color: var(--toolbarbutton-icon-fill) !important;
    color: var(--contrast-color) !important;
}

/* Green color of the secure web description */

description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
#identity-popup-securityView-body>button {
    color: #2cf62c !important;
    padding-inline-start: 16px !important;
}