/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* WindowsOS - window control icons */

@media (-moz-platform: windows) {

    /* Size of button */
    .titlebar-button {
        padding: 8px 16px !important;
        
        &::after {
            content: "";
            position: absolute;
            border-radius: 4px !important;
            padding-block: calc(var(--tab-height-personal)/2 - 1px) !important;
            padding-inline: 17px !important;
            z-index: -1 !important;
            
            /* New height for 'Vertical tabs' */
            @media -moz-pref("firefoxone.tree_tabs_style") or -moz-pref("sidebar.verticalTabs") {
                padding-block: calc(var(--menubar-height-personal, var(--toolbar-height-personal))/2 - 4px) !important;
            }
        }
    }
    
    /* Separator between <window controls> and other buttons in some 'Extra' features */
    @media -moz-pref("firefoxchameleon.oneline"), -moz-pref("firefoxchameleon.tree-tabs"), -moz-pref("sidebar.verticalTabs") {
        
        :root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide] ~ #nav-bar .titlebar-buttonbox::before {
            content: ""; position: absolute !important; align-self: center !important;
            background: url("../icons/urlbar-separator.svg") no-repeat left !important;
            background-size: 6px 16px !important;
            width: 6px !important;
            height: 16px !important;
            fill: var(--toolbarbutton-icon-fill) !important;
            -moz-context-properties: fill !important;
            opacity: 0.2 !important;
            fill-opacity: 1 !important;
            inset-inline-start: -18px !important;
        }
    }
    
    /* Draw space added for 'Vertical tabs' */
    @media -moz-pref("firefoxchameleon.tree-tabs"), -moz-pref("sidebar.verticalTabs") {
        #nav-bar>.titlebar-buttonbox-container {
            margin-inline-start: 26px !important;
        }
    }

    /* Background color when 'hover' */
    .titlebar-button:hover::after{
        background-color: var(--toolbarbutton-hover-personal) !important;
    }

    /* Background color when 'hover' on 'close' button */
    .titlebar-button:is(.titlebar-close):hover::after {        
        background-color: hsl(355,86%,49%) !important;
    }

    /* Keep the same windows control icons in all the themes, including the themes with images */

    .titlebar-button {
        background-color: transparent !important;
        -moz-context-properties: stroke !important;
    }
}

/* Linux default window control icons */

@media (-moz-platform: linux) {

    .titlebar-button{
        list-style-image: none !important;
        appearance: none !important;
    }
    .titlebar-button > .toolbarbutton-icon{
        appearance: auto !important;
        background: none !important;
        width: unset !important;
        height: unset !important;
    }
    .titlebar-min > .toolbarbutton-icon{
        -moz-default-appearance: -moz-window-button-minimize !important;
    }
    .titlebar-max > .toolbarbutton-icon{
        -moz-default-appearance: -moz-window-button-maximize !important;
    }
    .titlebar-restore > .toolbarbutton-icon{
        -moz-default-appearance: -moz-window-button-restore !important;
    }
    .titlebar-close > .toolbarbutton-icon{
        -moz-default-appearance: -moz-window-button-close !important;
    }
    .titlebar-buttonbox {
        min-height: calc(var(--my-margin-top) * 2 + var(--tab-height-personal)) !important;
        max-height: calc(var(--my-margin-top) * 2 + var(--tab-height-personal)) !important;
    }
    
    /* On linux set width based on number of caption buttons.
    
    One button */
    @media (-moz-gtk-csd-minimize-button), (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-close-button) {
        :root:is([customtitlebar]) {
            --uc-window-control-width: 48px !important;
        }
    }
    /* Two buttons */
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
        (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
        (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
            :root:is([customtitlebar],[sizemode="fullscreen"]) {
                --uc-window-control-width: 76px !important;
            }
    }
    /* Three buttons */
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
        :root:is([customtitlebar],[sizemode="fullscreen"]) {
            --uc-window-control-width: 104px !important;
        }
    }
}