/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/Chameleons-Beauty */

/* WindowsOS - window control icons */

@media (-moz-platform: windows) {
    
    /* Smaller buttons */
    
    .titlebar-button {
        height: calc(var(--tab-height-personal) + var(--my-margin-top) + var(--my-margin-bottom)) !important;
        padding: 8px 13px !important;
    }

    /* Size of button */
    .titlebar-button::before{
        content: ""; display: flex;
        position: absolute;
        border-radius: 4px !important;
        padding: 15px 17px !important;
        z-index: -1 !important;
    }

    /* Background color when 'hover' */
    .titlebar-button:hover::before{
        background-color: var(--toolbarbutton-hover-personal) !important;
    }

    /* Background color when 'hover' on 'close' button */
    .titlebar-button:is(.titlebar-close):hover::before {        
        background-color: hsl(355,86%,49%) !important;
    }

    /* Keep the same windows control icons in all the themes, including the themes with images */

    .titlebar-button {
        background-color: transparent !important;
        -moz-context-properties: stroke !important;
        stroke: currentColor !important;
    }
    .titlebar-close {
        list-style-image: url(chrome://browser/skin/window-controls/close.svg) !important;
    }
    .titlebar-min {
        list-style-image: url(chrome://browser/skin/window-controls/minimize.svg) !important
    }
    .titlebar-max {
        list-style-image: url(chrome://browser/skin/window-controls/maximize.svg) !important
    }
    .titlebar-restore {
        list-style-image: url(chrome://browser/skin/window-controls/restore.svg) !important
    }
}

/* Linux default window control icons */

@media (-moz-platform: linux) {
    
    .titlebar-button{
        list-style-image: none !important;
        appearance: auto !important;
    }
    
    .titlebar-min {
        -moz-default-appearance: -moz-window-button-minimize !important;
    }
    
    .titlebar-max {
        -moz-default-appearance: -moz-window-button-maximize !important;
    }
    
    .titlebar-restore {
        -moz-default-appearance: -moz-window-button-restore !important;
    }
    
    .titlebar-close {
        -moz-default-appearance: -moz-window-button-close !important;
    }
    
    .titlebar-buttonbox {
        min-height: calc(var(--my-margin-top) * 2 + var(--tab-height-personal)) !important;
        max-height: calc(var(--my-margin-top) * 2 + var(--tab-height-personal)) !important;
    }
}
