/*botones de la pagina de Personalizar Toolbar*/
.customizationmode-button {background-color: color-mix(in srgb, var(--lwt-accent-color) 80%, var(--lwt-tab-text)) !important; border-color: #60606090 !important; color: var(--lwt-tab-text) !important;}
.customizationmode-button:is(:active, :hover):not([disabled]), .customizationmode-button[open], .customizationmode-button[checked]{background-color: #2b7aff !important; border-color:#2b7aff !important;
  color:var(--lwt-tab-text) !important;}
#customization-done-button {color: #fff !important; border-color: #0a84ff !important;background-color: #0a84ff !important;}
#customization-done-button:is(:active, :hover):not([disabled]) {background-color: #0060df !important; border-color: #00b0ff !important;}
