/*sombra de la pestaña activa eliminada y borde superior de la toolbar y transparencia de la tabline*/
.tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background { box-shadow: none !important;}
.tab-label{text-shadow: none !important}
#navigator-toolbox{--tabs-border-color: (var(--gradient), transparent) !important}  
#tabbrowser-tabs {--tab-line-color: (var(--gradient), transparent) !important}
                  /**-----verion nighty-----Borrar luego lineas 53-54*/
#navigator-toolbox{--lwt-tabs-border-color: (var(--gradient), transparent) !important}  
#tabbrowser-tabs {--lwt-tab-line-color: (var(--gradient), transparent) !important}

/*Linea gradiente en pestaña activa*/
.tabbrowser-tab:not([pinned])[selected="true"] .tab-background {background-image: var(--gradient) !important;
  border-radius: 4px !important; height: 32px !important;  margin-left: -1px !important; margin-right: -1px !important}
.tabbrowser-tab:not([pinned],[multiselected])[selected="true"] .tab-content:not([multiselected]){background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important; 
  border-radius: 4px !important; margin-top: 4px !important; height: 30px !important; transition-duration: 0ms !important; backdrop-filter: saturate(35%) brightness(10%) !important;}

.tabbrowser-tab:is([pinned])[selected="true"] .tab-background {background-image: var(--gradient) !important;
  border-radius: 4px !important; height: 32px !important; margin-left: -1px !important; margin-right: -1px !important; }
.tabbrowser-tab:is([pinned])[selected="true"]:not([multiselected]) .tab-content {background-color: var(--lwt-selected-tab-background-color, var(--arrowpanel-background)) !important; 
  border-radius: 4px !important; margin-top: 4px !important; height: 30px !important; backdrop-filter: saturate(35%) brightness(10%) !important;}

/*Margenes y color de las pestañas no seleccionadas*/
.tabbrowser-tab> .tab-stack > .tab-background:not([selected="true"]) {margin-left: -1px !important; margin-right: -1px !important;}
.tabbrowser-tab:hover> .tab-stack > .tab-background:not([selected="true"], [multiselected]){background-color: var(--toolbarbutton-hover-background) !important;}

.tabbrowser-tab .tab-stack{padding-left: 2px !important; margin-right: -1px !important;}

/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {padding-top: 1px !important}

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 0px }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border, 0px) !important; }

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { 
 margin-inline-start: 2px !important; }

 /*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]:-moz-lwtheme{color: var(--lwt-tab-text) !important; --tab-line-color: transparent !important; }
.tabbrowser-tab[multiselected]> .tab-stack > .tab-background:is([multiselected]) , .tabbrowser-tab> .tab-stack > .tab-content:is([multiselected]){background: #4d4dfe  !important;}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/
#urlbar-zoom-button {padding: 0px 4px !important; margin: 2px !important;}

/*favicon de pagina newtab*/
.tab-icon-stack .tab-icon-image[src="chrome://branding/content/icon32.png"]{ background:url("../images/foxlogo.svg")!important;
  background-size: 16px !important; padding-left: 18px !important; background-position: center !important; background-repeat: no-repeat !important; }

/* Remove little space left to first tab */
.titlebar-spacer[type="pre-tabs"]{display:none;}

/*barra de menú*/
#main-menubar > menu  {border-radius: 4px !important}
