/*copia este codigo y pégalo al final del archivo principal userChrome.css*/

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }

#TabsToolbar { margin-top: -1px !important; margin-bottom: 1px !important; margin-left: 35vw !important; }

/* This one is the forward button  */
#forward-button[disabled="true"] { display: none !important; }
/* This one is the back button  */
#back-button[disabled="true"] { display: none !important;}

/* This one is the spacer between tabs and border  */
.titlebar-spacer { display: none !important; }

/* This one is the "shield" icon  */
#tracking-protection-icon-container { display: none !important; }
/* This one is the hamburger menu!*/
#PanelUI-button { display: none !important;}
#urlbar-zoom-button { display: none !important;}

#nav-bar { margin-top: -38px !important; margin-right: 65vw !important;}
#identity-permission-box[open="true"], #identity-permission-box[hasPermissions], #identity-permission-box[hasSharingIcon] {display: none !important;}
#pageActionButton { display: none !important;}

#urlbar-container { min-width: 50% !important; margin-block: 1px 5px;}
tab:not([pinned],[selected="true"]) .tab-content:not([multiselected]) {margin-top: 1px !important;}
tab:is([pinned],[selected="true"]) .tab-content:not([multiselected]) {margin-top: 5px !important;}
tab:is([pinned]):not([selected="true"]) .tab-content:not([multiselected]) {margin-top: 4px !important;}
#TabsToolbar .toolbarbutton-1 {padding-top: 3px !important; padding-left: 1px !important;}
#urlbar{margin-block: 0px 0px !important;}
#userContext-label { display: none}

#urlbar[open=true] #urlbar-background{margin-bottom: 1px !important; margin-top: 1px !important; margin-left: 1px !important; margin-right: 1px !important;}
#urlbar[open=true]{ margin-top: -1px !important; padding-top: 1px !important; min-width: 30vw !important;}

.toolbarbutton-1 {padding-top: 2px !important;}
